.pricing {
  margin: 136px auto;
}

.pricing .stage {
  margin: 0 auto 16px auto;
  text-align: center;
  color: var(--Neutrals-4, #777e90);
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  text-transform: uppercase;
}

.pricing .pricingTitle {
  margin: 0 auto 80px auto;
  max-width: 550px;
  text-align: center;
  color: var(--Neutrals-2, #23262f);
  font-family: "SF Pro Display", sans-serif;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: 64px;
  letter-spacing: -1.28px;
}

.pricingMore {
  display: none;
}
:root {
  --basis: 350px;
}
.pricingTable .row {
  display: flex;
}
.pricingTable .pricingHead {
  min-height: 256px;
  padding: 48px 32px 44px;
}
.pricingTable .pricingCol:nth-child(1) {
  height: 256px;
  flex: 0 0 var(--basis);
}
.pricingTable .pricingCol .pricingCategory {
  margin: 0px 0px 16px 0px;
  color: var(--Neutrals-4, #777e90);
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 12px;
  text-transform: uppercase;
}

.pricingTable .row .pricingCol:not(:first-child) {
  padding: 0px 0px 64px 0px;
  flex: 1 1;
  text-align: center;
}

.pricingTable .pricingCol .pricingPackage {
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}
.pricingTable .pricingCol:nth-child(2) .pricingPackage {
  color: var(--Primary-2, #9757d7);
}
.pricingTable .pricingCol:nth-child(3) .pricingPackage {
  color: var(--Primary-1, #ff592c);
}

.pricingTable .pricingCol:nth-child(4) .pricingPackage {
  color: var(--Primary-3, #ef466f);
}

.pricingDescription {
  color: var(--Neutrals-4, #777e90);
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin: 8px 0px 32px 0px;
}
.pricingCost {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 4px;
}
.pricingCost span.symbol {
  color: var(--Neutrals-2, #23262f);
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: -0.24px;
  align-self: flex-start;
}

.pricingCost span.amount {
  color: var(--Neutrals-2, #23262f);
  text-align: center;
  font-family: "SF Pro Display", sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 56px;
}
.pricingNote {
  color: var(--Neutrals-4, #777e90);
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 166.667% */
}
.pricingTable .row .pricingCol:not(:first-child) .pricingBody {
  padding: 28px 0px 0px 0px;
}

.pricingTable .pricingParameters .pricingParameter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--Neutrals-6);
  color: var(--Neutrals-2, #23262f);
  min-height: 64px;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}
.pricingTable .pricingList .pricingParameter {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 64px;
  border-bottom: 1px solid var(--Neutrals-6);
}
.pricingTable .pricingBody button {
  margin: 64px auto 0px auto;
}
.pricingTable .pricingBody button.contactSale {
  border-radius: 90px;
  transition: 0.4s ease;
  border: 2px solid var(--Neutrals-5, #e6e8ec);
}
.pricingTable .pricingBody button.contactSale:hover {
  cursor: pointer;
  box-shadow: 0 0 0 2px #23262f inset;
  background: #23262f;
  color: #fcfcfd;
}
