.pricing {
  padding: 136px 0px;
  background-color: var(--Neutrals-7);
}

.pricing .stage {
  margin: 0 auto 16px auto;
  text-align: center;
  color: var(--Neutrals-4, #777e90);
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  text-transform: uppercase;
}

.pricing .pricingTitle {
  margin: 0 auto 80px auto;
  max-width: 550px;
  text-align: center;
  color: var(--Neutrals-2, #23262f);
  font-family: "SF Pro Display", sans-serif;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: 64px;
  letter-spacing: -1.28px;
}

.pricingMore {
  display: none;
}

:root {
  --basis: 350px;
}

table {
  border-collapse: collapse;
  width: 100%;
}
table thead tr th {
  height: 164px;
}
.pricingCategory {
  text-align: left;
  color: var(--Neutrals-4, #777e90);
  font-family: "Poppins", sans-serif;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: 12px;
  text-transform: uppercase;
}
.pricingPackage {
  margin-bottom: 8px;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}
.pricingDescription {
  margin-bottom: 32px;
  color: var(--Neutrals-4, #777e90);
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.pricingCost {
  display: flex;
  column-gap: 4px;
  justify-content: center;
}

.pricingCost .pricingPrice {
  text-align: center;
  height: 56px;
  color: var(--Neutrals-2, #23262f);
  text-align: center;
  font-family: "SF Pro Display";
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 56px;
  letter-spacing: -0.96px;
}
.pricingCost .pricingSign {
  color: var(--Neutrals-2, #23262f);
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: -0.24px;
}
.pricingNote {
  color: var(--Neutrals-4, #777e90);
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

thead tr th:nth-child(1) {
  padding: 256px 257px 16px 0px;
  width: 31%;
}
thead tr th:nth-child(2) {
  padding: 48px 0px 72px 0px;
  width: 23%;
}
thead tr th:nth-child(2) > .pricingPackage {
  color: var(--Primary-2, #9757d7);
}
thead tr th:nth-child(3) {
  padding: 48px 0px 72px 0px;
  width: 23%;
}
thead tr th:nth-child(3) > .pricingPackage {
  color: var(--Primary-1, #ff592c);
}
thead tr th:nth-child(4) {
  padding: 48px 0px 72px 0px;
  width: 23%;
}

thead tr th:nth-child(4) .overlap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
}
thead tr th:nth-child(4) .pricingPackage {
  color: var(--Primary-2, #9757d7);
}
tbody tr {
  border-bottom: 1px solid var(--Neutrals-6);
}
tbody tr td {
  padding: 20px 0px;
}
tbody tr td:nth-child(1) {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /*  */
  color: var(--Neutrals-2, #23262f);
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}
tbody tr td:not(:nth-child(1)) {
  text-align: center;
}

tfoot tr td {
  padding: 64px 0px;
  text-align: center;
}
tfoot tr td:not(:nth-child(4), :nth-child(1)) {
  color: var(--Neutrals-8, #fcfcfd);
  text-align: center;
  font-family: "SF Pro Display", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
}
tfoot tr td:nth-child(4) button {
  border-radius: 90px;
  border: 2px solid var(--Neutrals-6, #e6e8ec);
  color: var(--Neutrals-2, #23262f);
  text-align: center;
  font-family: "SF Pro Display";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
}
thead tr th:nth-child(3) {
  border-radius: 24px 24px 0px 0px;
  background: var(--Neutrals-8, #fcfcfd);
}
tbody tr td:nth-child(3) {
  background: var(--Neutrals-8, #fcfcfd);
}
tfoot tr td:nth-child(3) {
  background: var(--Neutrals-8, #fcfcfd);
  border-radius: 0px 0px 24px 24px;
}
/* 
.pricingTable .row {
  display: flex;
}
.pricingTable .pricingHead {
  min-height: 256px;
  padding: 48px 32px 44px;
}
.pricingTable .pricingCol:nth-child(1) {
  height: 256px;
  flex: 0 0 var(--basis);
}
.pricingTable .pricingCol .pricingCategory {
  margin: 0px 0px 16px 0px;
  color: var(--Neutrals-4, #777e90);
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 12px;
  text-transform: uppercase;
}

.pricingTable .row .pricingCol:not(:first-child) {
  padding: 0px 0px 64px 0px;
  flex: 1 1;
  text-align: center;
}
.pricingTable .row .pricingCol:nth-child(3) {
  border-radius: 24px;
  background: var(--Neutrals-8, #fcfcfd);
}

.pricingTable .pricingCol .pricingPackage {
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}
.pricingTable .pricingCol:nth-child(2) .pricingPackage {
  color: var(--Primary-2, #9757d7);
}
.pricingTable .pricingCol:nth-child(3) .pricingPackage {
  color: var(--Primary-1, #ff592c);
}

.pricingTable .pricingCol:nth-child(4) .pricingPackage {
  color: var(--Primary-3, #ef466f);
}

.pricingDescription {
  color: var(--Neutrals-4, #777e90);
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin: 8px 0px 32px 0px;
}
.pricingCost {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 4px;
}
.pricingCost span.symbol {
  color: var(--Neutrals-2, #23262f);
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: -0.24px;
  align-self: flex-start;
}

.pricingCost span.amount {
  color: var(--Neutrals-2, #23262f);
  text-align: center;
  font-family: "SF Pro Display", sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 56px;
}
.pricingNote {
  color: var(--Neutrals-4, #777e90);
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; 
}
.pricingTable .row .pricingCol:not(:first-child) .pricingBody {
  padding: 28px 0px 0px 0px;
}

.pricingTable .pricingParameters .pricingParameter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--Neutrals-6);
  color: var(--Neutrals-2, #23262f);
  min-height: 64px;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}
.pricingTable .pricingList .pricingParameter {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 64px;
  border-bottom: 1px solid var(--Neutrals-6);
}
.pricingTable .pricingBody button {
  margin: 64px auto 0px auto;
}
.pricingTable .pricingBody button.contactSale {
  border-radius: 90px;
  transition: 0.4s ease;
  border: 2px solid var(--Neutrals-5, #e6e8ec);
}
.pricingTable .pricingBody button.contactSale:hover {
  cursor: pointer;
  box-shadow: 0 0 0 2px #23262f inset;
  background: #23262f;
  color: #fcfcfd;
} */
/*? comment Start */
.comment {
  padding: 136px 0;
}

.comment .commentWrapper {
  position: relative;
}

.comment .commentHead {
  width: calc(50% - 16px);
  margin: 0px 0px 80px auto;
}
.comment .commentHead h2.commentTitle {
  color: var(--Neutrals-2, #23262f);
  font-family: "SF Pro Display", sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 56px;
  letter-spacing: -0.96px;
  margin: 0px 0px 20px 0px;
}
.comment .commentHead .commentInfo {
  color: var(--Neutrals-3, #353945);
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.comment .commentContent {
  color: var(--Neutrals-4, #777e90);
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.comment .commentList {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 32px;
  /* display: flex;
  column-gap: 32px; */
}
.comment .commentItem {
  text-align: center;
}

.comment .commentItem .commentPreview {
  position: relative;
  width: 256px;
  height: 222px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background-color: var(--Neutrals-6, #e6e8ec);
  margin: 0px 0px 24px 0px;
  transition: all 0.5s ease-in;
}
.comment .commentItem .commentPreview img {
  visibility: visible;
}
.comment .commentPreview::after {
  content: "";
  z-index: 5;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: var(--Neutrals-8, #fcfcfd);
  box-shadow: 0px 8px 16px -8px rgba(15, 15, 15, 0.2);
  background-image: url("../images/comment/right_arrow.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0;
  visibility: hidden;
  transition: visibility 0.1s ease-in, opacity 0.7s ease-in-out;
}
.comment .commentItem:hover .commentPreview img {
  visibility: hidden;
}
.comment .commentItem:hover .commentPreview:after {
  opacity: 1;
  visibility: visible;
}
.comment .commentItem:hover .commentPreview {
  background-color: var(--Neutrals-2);
}
.comment .commentItem:hover {
  cursor: pointer;
}
.comment .commentItem .commentSubtitle {
  color: var(--Neutrals-2, #23262f);
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  margin: 0px 0px 8px 0px;
}
.comment .commentItem .commentInfo {
  color: var(--Neutrals-4, #777e90);
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.comment button {
  position: absolute;
  top: 0px;
  width: 24px;
  height: 24px;
}
.comment button.btnPrevious {
  left: 0px;
}

.comment button.btnNext {
  left: 44px;
}
.comment button i {
  font-size: 24px;
  display: block;
  color: var(--Neutrals-4);
}
/*! comment End */
/*? faq Start */
.faq {
  padding: 136px 0px;
}
.faq .faqTop {
  margin: 0px 0px 80px 0px;
}
.faq .stageSmall {
  color: var(--Neutrals-4, #777e90);
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 12px;
  text-transform: uppercase;
  margin: 0px 0px 12px 0px;
}
.faq .faqTitle {
  color: var(--Neutrals-2, #23262f);
  text-align: center;
  font-family: "SF Pro Display";
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 56px;
  letter-spacing: -0.96px;
  margin: 0px 0px 20px 0px;
}
.faq .faqInfo {
  margin: 0 auto 80px auto;
  max-width: 640px;
  color: var(--Neutrals-3, #353945);
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.faq .faqInfo span {
  color: var(--Primary-1, #ff592c);
}

.faq .faqNav {
  margin: 0 auto;
}
.faq .faqNav ul {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 12px;
}
.faq .faqNav ul li {
  padding: 6px 12px;
  border-radius: 100px;
}
.faq .faqNav ul li a {
  display: block;
  color: var(--Neutrals-4, #777e90);
  font-family: "SF Pro Display", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
}
.faq .faqNav ul li:hover {
  background: var(--Neutrals-3, #353945);
  color: var(--Neutrals-8, #fcfcfd);
}

.faq .faqNav ul li:hover a {
  color: var(--Neutrals-8, #fcfcfd);
}
.faq .faqWrap .faqItem {
  border-top: 1px solid var(--Neutrals-4);
}

.faq .faqWrap .faqItemHead {
  padding: 32px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.faq .faqWrap .faqItemHead p {
  color: var(--Neutrals-2, #23262f);
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  max-width: 420px;
}
.faq .faqWrap .faqItemHead i {
  font-size: 24px;
  color: var(--Neutrals-4);
  transition: all 0.3s ease-out;
}
.faq .faqWrap .faqItemHead i.fa-angle-down.rotate {
  transform: rotate(180deg);
}
.faq .faqWrap .faqItemHead i.fa-angle-up {
  display: none;
}

.faq .faqItemBody {
  padding: 8px 0px 32px 0px;
  display: none;
  transition: all 5s ease-out;
}
.faq .faqItemBody.active {
  display: block;
}
.faq .faqItemBody.active {
  display: block;
}
.active_block {
  display: block;
}
.faq .faqItemBody .faqRow {
  display: grid;
  grid-template-columns: 34% 38%;
  column-gap: 28%;
}
.faq .faqItemBody .faqRow .faqPreview img {
  width: 100%;
  object-fit: cover;
}
.faq .faqItemBody .faqSubtitle {
  color: var(--Neutrals-2, #23262f);
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}
.faq .faqItemBody .faqContent {
  margin: 20px 0px 24px 0px;
}
.faq .faqItemBody .faqContent p {
  color: var(--Neutrals-4, #777e90);
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.faq .faqItemBody .faqContent p:first-child {
  margin-bottom: 24px;
}
.faq .faqItemBody button {
  border-radius: 90px;
  border: 2px solid var(--Neutrals-6, #e6e8ec);
  color: var(--Neutrals-2, #23262f);
  text-align: center;
  font-family: "SF Pro Display", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
}
/*! faq End */

/*? testimonials Start */
.testimonials {
  padding: 136px 0px;
}

.testimonials .testmonialsItem .testimonialsRow {
  display: grid;
  grid-template-columns: 3fr 4fr;
  column-gap: 128px;
}
.testimonials .testimonialsCol .testimonialsLogo {
  margin: 0px 0px 48px 0px;
}
.testimonials .testimonialsCol .testimonialsLogo img {
  display: block;
}
.testimonials .testimonialsCol .testimonialsComment {
  margin: 0px 0px 24px 0px;
  color: var(--Neutrals-2, #23262f);
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: -0.24px;
}
.testimonials .testimonialsDetails {
  display: flex;
  margin: 0px 0px 48px 0px;
  column-gap: 12px;
  align-items: center;
}

.testimonials .testimonialsDetails .detailsIcon img {
  display: block;
}
.testimonials .testimonialsDetails .detailsAuthor {
  color: var(--Neutrals-2, #23262f);
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}
.testimonials .testimonialsDetails .detailsDivider {
  width: 2px;
  height: 12px;
  border-radius: 100px;
  background: var(--Neutrals-2, #e6e8ec);
}
.testimonials .testimonialsDetails .detailsDescription {
  color: var(--Neutrals-4, #777e90);
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: -0.28px;
}

.testimonials .testimonialsCol button.readmore {
  border-radius: 90px;
  border: 2px solid var(--Neutrals-5, #e6e8ec);
  color: var(--Neutrals-2, #23262f);
  text-align: center;
  font-family: "SF Pro Display", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
}
.testimonials .testimonialsCol button.readmore:hover {
  box-shadow: 0 0 0 2px var(--Neutrals-2) inset;
  background: var(--Neutrals-2);
  color: var(--Neutrals-8);
}
.testimonials .testimonialsCol .testimonialsPreview {
  position: relative;
}
.testimonials .testimonialsCol .testimonialsPreview img {
  width: 100%;
  object-fit: cover;
  border-radius: 16px;
}
.testimonials .testimonialsCol .testimonialsPreview button.play {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5;
  border-radius: 50%;
  padding: 28px;
  box-shadow: 0px 8px 16px -8px rgba(15, 15, 15, 0.2);
  background-color: var(--Neutrals-8);
}
.testimonials .wrap .testmonialsNav .sliderWrapper {
  margin: 80px 0px 0px 0px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 32px;
}

.testimonials .wrap .testmonialsNav a {
  padding: 0px 0px 24px 0px;
  display: flex;
  column-gap: 16px;
  align-items: center;
  position: relative;
}
.testimonials .wrap .testmonialsNav a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0px;
  height: 2px;
  border-radius: 2px;
  background: #23262f;
  opacity: 0;
  transition: all 0.5s ease;
}
.testimonials .wrap .testmonialsNav a:hover::after,
.testimonials .wrap .testmonialsNav a.active::after {
  opacity: 1;
  width: 100%;
}

.testimonials .wrap .testmonialsNav a .testimonialsAvatar img {
  display: block;
}

.testimonials .wrap .testmonialsNav .testmonialsName {
  color: var(--Neutrals-2, #23262f);

  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  margin: 0px 0px 4px 0px;
}

.testimonials .wrap .testmonialsNav .testmonialsPosition {
  color: var(--Neutrals-4, #777e90);

  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
/*! testimonials End */
