/* ? Header Start */
.some-show-arrow {
  display: block;
}
.header {
  position: sticky;
  top: 0px;
  padding: 48px 0px;
  z-index: 1000;
  width: 100%;
  background-color: var(--Neutrals-8);
}

.headerCenter {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.headerCenter .headerLinksWrap .navbarLogo {
  padding-right: 48px;
  border-right: 1px solid var(--Neutrals-6);
}
.headerCenter .headerLinksWrap {
  display: flex;
  align-items: center;
  column-gap: 48px;
}

.headerCenter .headerLinksWrap nav .headerNav {
  display: flex;
  align-items: center;
  column-gap: 32px;
}
.headerCenter .headerGroups {
  display: flex;
  align-items: center;
  column-gap: 64px;
}

.headerCenter .headerGroups ul {
  display: flex;
  align-items: center;
  column-gap: 24px;
}

.headerCenter .headerGroups ul li i {
  font-size: 20px;
  color: var(--Neutrals-4);
}
.headerLinksWrap .headerNav .headerLink {
  display: block;
  padding: 4px 8px;
  color: var(--Neutrals-4, #777e90);
  font-family: "SF Pro Display", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  transition: all 0.3s ease-in;
}

.headerLinksWrap .headerNav .drop {
  display: flex;
  align-items: center;
  column-gap: 4px;
}
.headerLinksWrap .headerNav .drop i {
  color: var(--Neutrals-4);
}
.headerLinksWrap .headerNav .drop i.rotate_180 {
  transform: rotate(180deg);
}
.headerLinksWrap .headerNav .drop a:hover,
.headerGroups ul li a:hover i {
  color: var(--Neutrals-2);
}

.headerCenter .headerTrialBtn {
  padding: 12px 16px;
  border-radius: 90px;
  border: 2px solid var(--Neutrals-6);
  color: var(--Neutrals-2, #23262f);
  text-align: center;
  font-family: "SF Pro Display", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
}

.buttonGroups button i {
  width: 21px;
  font-size: 21px;
  display: block;
}
.buttonGroups button.hidden {
  display: none;
}
/*  */

.headerBody {
  display: none;
  position: absolute;
  top: 100%;
  left: 0px;
  z-index: 1;
  width: 100%;
  transition: all 0.4s ease-in;
}
li.drop:hover .headerBody {
  display: block;
}

/** <!-- Table Mode --> */

.tabletMenu {
  display: none;
  background-color: var(--Neutrals-8);
  position: absolute;
  left: 0px;
  top: 99%;
  width: 100%;
}

.tabletMenu .wrap {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 20px;
}
.tabletMenu .menuLinks li {
  width: 180px;
}
.tabletMenu .menuLinks li:not(:last-child) {
  margin-bottom: 48px;
}
.tabletMenu .menuLinks a:not(.dropdownLink a) {
  display: block;
}
.tabletMenu .menuLinks li.dropdownLink {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.tabletMenu .menuLinks li.dropdownLink i {
  transition: all 0.4s ease-in-out;
  color: var(--Neutrals-4);
  font-size: 24px;
}
.tabletMenu .menuLinks li.dropdownLink i.rotate_180 {
  transform: rotate(180deg);
}
.tabletMenu .menuLinks a,
.bottomMenuLink a {
  color: var(--Neutrals-4, #777e90);
  font-family: "SF Pro Display", sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: -0.4px;
}
.tabletMenu .wrap .contactInfo li:not(:last-child) {
  margin-bottom: 32px;
}
.tabletMenu .wrap .contactInfo li .infoTitle {
  color: var(--Neutrals-2, #23262f);
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: -0.24px;
}
.tabletMenu .wrap .contactInfo li .infoText {
  margin-top: 8px;
  color: var(--Neutrals-4, #777e90);
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.tabletMenu .wrap .contactInfo .socials {
  display: flex;
  align-items: center;
  column-gap: 48px;
}
.tabletMenu .wrap .contactInfo .socials img {
  display: block;
}

.tabletMenu .dropdownBody {
  display: none;
  margin: 48px 0px 0px 0px;
  border-radius: 24px;
  border: 1px solid var(--Neutrals-6, #e6e8ec);
  background-color: var(--Neutrals-8, #fcfcfd);
  box-shadow: 0px 64px 64px -48px rgba(15, 15, 15, 0.1);
}
.tabletMenu .dropdownBody.active {
  display: block;
}
.tabletMenu .dropdownBody .headRow {
  display: flex;
}
.tabletMenu .dropdownBody .headRow .headCol {
  padding: 32px;
}
.tabletMenu .dropdownBody .headRow .headLeftCol {
  border-right: 1px solid var(--Neutrals-6, #e6e8ec);
  border-bottom: 1px solid var(--Neutrals-6, #e6e8ec);
  width: 45%;
}
.tabletMenu .dropdownBody .headLeftCol a.headerDirection {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}
.tabletMenu .dropdownBody .headLeftCol .headerDirection .headerInfo {
  color: var(--Neutrals-2, #23262f);
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
  max-width: 176px;
}
.tabletMenu .headLeftCol .headerBox {
  display: flex;
  align-items: center;
  column-gap: 13px;
  padding: 16px;
  color: var(--Neutrals-2, #23262f);
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}
.tabletMenu .headLeftCol .headerBox:nth-child(1) {
  margin-bottom: 8px;
}
.tabletMenu .headLeftCol .headerBox .headerIcon {
  padding: 4px;
  border-radius: 50%;
}
.tabletMenu .headLeftCol .headerBox .headerIcon img {
  display: block;
}
.tabletMenu .headLeftCol .headerBox:nth-child(1) .headerIcon {
  background-color: var(--Secondary-1);
}
.tabletMenu .headLeftCol .headerBox:nth-child(2) .headerIcon {
  background-color: var(--Primary-1);
}

.tabletMenu .dropdownBody .headRow .headRightCol {
  width: 55%;
}
.tabletMenu .headRightCol .headerItem {
  display: flex;
  column-gap: 24px;
  height: 120px;
}
.tabletMenu .headRightCol .headerItem:not(:last-child) {
  margin-bottom: 32px;
}
.tabletMenu .headRightCol .headerPhoto {
  width: 140px;
  height: 120px;
  overflow: hidden;
  border: 2px solid transparent;
  border-radius: 8px;
  transition: all 0.4s ease;
}
.tabletMenu .headRightCol .headerPhoto:hover {
  border-color: var(--Primary-1);
}
.tabletMenu .headRightCol .headerPhoto:hover > img {
  transform: scale(1.3);
}
.tabletMenu .headRightCol .headerPhoto img {
  width: 100%;
  display: block;
  object-fit: cover;
  border-radius: 8px;
  transition: all 0.4s ease;
}
.tabletMenu .headRightCol .headerItem .headerDescription {
  align-self: center;
}
.tabletMenu .headRightCol .headerItem .headerStatus {
  padding: 8px;
  display: inline-block;
  color: var(--Neutrals-8, #fcfcfd);
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 12px;
  text-transform: uppercase;
  border-radius: 4px;
}
.tabletMenu .headRightCol .headerItem .headerStatus.yoga {
  background-color: var(--Primary-4);
}
.tabletMenu .headRightCol .headerItem .headerStatus.mindfullness {
  background-color: var(--Primary-2);
}
.tabletMenu .headRightCol .headerItem .headerStatus.fitness {
  background-color: var(--Primary-1);
}
.tabletMenu .headRightCol .headerItem .headerUser {
  display: flex;
  column-gap: 16px;
  margin-top: 12px;
}
.tabletMenu .headRightCol .headerItem .headerAvatar {
  width: 40px;
  height: 40px;
}
.tabletMenu .headRightCol .headerItem .headerAvatar img {
  width: 100%;
  display: block;
  object-fit: cover;
  border-radius: 50%;
}
.tabletMenu .headRightCol .headerItem .headerTitle {
  color: var(--Neutrals-2, #23262f);
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  margin-bottom: 2px;
}
.tabletMenu .headRightCol .headerItem .headerTrainer {
  color: var(--Neutrals-4, #777e90);
  font-family: "Poppins", sans-serif;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.tabletHeaderFoot .headerAvatar img {
  width: 100%;
  object-fit: cover;
  display: block;
  border-radius: 50%;
}
.tabletHeaderFoot .headerAvatar {
  width: 56px;
  height: 56px;
  border-radius: 50%;
}
.tabletHeaderFoot {
  padding: 32px;
}
.tabletHeaderFoot .footStage {
  color: var(--Neutrals-2, #23262f);
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
  margin-bottom: 32px;
}
.tabletHeaderFoot .footList {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.tabletHeaderFoot .headerUser {
  display: flex;
  column-gap: 16px;
}

.tabletHeaderFoot .headerUser .footTitle {
  color: var(--Neutrals-2, #23262f);
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  margin-bottom: 4px;
}

.tabletHeaderFoot .headerUser .footTrainer {
  color: var(--Neutrals-4, #777e90);
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.tabletMenu .lastElement {
  margin-top: 48px;
}
/** <!-- Table End --> */
/* ! Header End */

/*? breadcrumb Start */
.breadcrumb {
  /* margin-bottom: 80px; */
}

.breadcrumb .breadcrumbWrap {
  background-color: var(--Neutrals-6, #e6e8ec);
  border-radius: 24px;
  padding: 112px 96px;
  text-align: center;
}

.breadcrumb .breadcrumbWrap .breadcrumbTitle {
  color: var(--Neutrals-1, #141416);
  font-family: "SF Pro Display", sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 56px;
  letter-spacing: -0.96px;
  margin-bottom: 12px;
}

.breadcrumb .breadcrumbWrap .breadcrumbInfo {
  color: var(--Neutrals-2, #23262f);
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: -0.24px;
  margin-bottom: 24px;
}

.breadcrumb .breadcrumbWrap ul.breadcrumbList {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 24px;
  text-align: center;
}

.breadcrumb .breadcrumbWrap ul.breadcrumbList li a {
  display: block;
  color: var(--Neutrals-4, #777e90);
  text-align: center;
  font-family: "SF Pro Display", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 900;
  line-height: 16px;
}
/*! breadcrumb End */
/*? catalog Start */
:root {
  --catalog_column-gap: 32px;
  --catalog_column-count: 3;
  --catalog_row-gap: 32px;
}
.catalog {
  padding: 80px 0px 0px 0px;
}
.catalogHead {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 32px;
  column-gap: 12px;
}

.catalogHead .catalogTitle {
  color: var(--Neutrals-3, #353945);
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: -0.24px;
}
.catalogHead form.active-border {
  border-color: var(--Neutrals-4);
}
.catalogHead form {
  padding: 8px 8px 8px 16px;
  border-radius: 90px;
  border: 2px solid var(--Neutrals-6, #e6e8ec);
  display: flex;
  align-items: center;
  column-gap: 18px;
}
.catalogHead form input {
  border: none;
  appearance: none;
  color: var(--Neutrals-4, #777e90);
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  max-width: 237px;
}
.catalogHead form button {
  padding: 12px;
  background-color: var(--Primary-1);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.catalogHead form button img {
  /* width: 100%; */
  width: 16px;
  height: 16px;
  /* object-fit: cover; */
}

.catalogWrap {
  padding-top: 32px;
  border-top: 1px solid var(--Neutrals-5);
}
.catalogWrap .catalogTop {
  padding-bottom: 32px;
  border-bottom: 1px solid var(--Neutrals-5);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/*  */
.select {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 48px;
  padding: 8px 8px 8px 16px;
  box-shadow: inset 0 0 0 2px #e6e8ec;
  background: #fcfcfd;
  border-radius: 12px;
  opacity: 1;
  font-size: 14px;
  font-weight: 500;
  line-height: 48px;
  border: 2px solid var(--Neutrals-6, #e6e8ec);
}
.nice-select {
  column-gap: 18px;
  width: 180px;
}
.sorting {
  width: 100%;
}
.focus {
  border-color: var(--Neutrals-3);
}
.select input {
  display: block;
  height: 100%;
  border: none;
  appearance: none;
  height: 20px;
  width: 100%;
  color: var(--Neutrals-2, #23262f);
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}
.select .select_arrow {
  border-radius: 50%;
  border: 2px solid var(--Neutrals-6, #e6e8ec);
  color: var(--Neutrals-4);
  padding: 4px;
}
.select .select_arrow i {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  transition: all 0.3s ease-in;
}

.select .select_arrow i.changeDirection {
  transform: rotate(180deg);
}
.sorting .select_arrow i.changeDirection {
  transform: rotate(180deg);
}
.select .current {
  display: block;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.select ul.list {
  display: none;
  position: absolute;
  top: 140%;
  left: 0px;
  width: 100%;
  z-index: 10;
  background-color: var(--Neutrals-8);
  border-radius: 12px;
  border: 2px solid var(--Neutrals-6, #e6e8ec);
}
ul.list li {
  width: 100%;
  color: var(--Neutrals-2, #edeeee);
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  min-height: auto;
  padding: 10px 14px;
  font-weight: 500;
  line-height: 1.4;
}
ul.list li:hover {
  color: var(--Neutrals-3);
  background-color: var(--Neutrals-7);
}
ul.list.show {
  display: block;
}
/*  */

.catalogTop .catalogNav ul {
  display: flex;
  column-gap: 6px;
}
.catalogTop .catalogNav a {
  /* display: inline-block; */
  padding: 6px 12px;
  color: var(--Neutrals-4, #777e90);
  font-family: "SF Pro Display", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
}
.catalogTop .catalogNav a:not(:last-child) {
  margin-right: 12px;
}

.catalogTop .catalogNav a:hover,
.catalogTop .catalogNav a.active {
  border-radius: 100px;
  background: var(--Neutrals-3, #353945);
  color: var(--Neutrals-8, #fcfcfd);
}

.catalogTop .catalogFilter,
.catalogTop .advancedFilter {
  display: flex;
  align-items: center;
  column-gap: 12px;
  padding: 12px 16px;
  background-color: var(--Primary-1);
  border-radius: 90px;
}
.catalogTop .advancedFilter {
  display: none;
}
.catalogTop .catalogFilter:hover {
  cursor: pointer;
}
.catalogTop .catalogFilter .catalogText,
.catalogTop .advancedFilter .catalogText {
  color: var(--Neutrals-8, #fcfcfd);
  text-align: right;
  font-family: "SF Pro Display", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
}

.catalogSorting {
  padding-top: 32px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 32px;
}

.catalogSorting .catalogCell .cataloglabel {
  margin-bottom: 12px;
  color: var(--Neutrals-5, #b1b5c3);
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 12px;
  text-transform: uppercase;
}

.catalogSorting .catalogCell .sorting .current {
  color: var(--Neutrals-2, #23262f);
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}
/*  */

.catalog .catalogList {
  padding: 80px 0px;
  /* display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 32px; */

  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 32px;
}
.catalogList .card {
  width: calc(
    (100% - (var(--catalog_column-gap) * (var(--catalog_column-count) - 1))) /
      var(--catalog_column-count)
  );
}
.catalogList .card .cardPreview {
  position: relative;
  border-radius: 12px;
  overflow: hidden;
  /* height: 297px; */
  border: 2px solid transparent;
  transition: all 0.5s ease;
}
.catalogList .card .cardPreview img {
  object-fit: cover;
  width: 100%;
  transition: all 0.5s ease;
}

.catalogList .card:hover {
  cursor: pointer;
}
.catalogList .card:hover .cardPreview {
  /* overflow: hidden; */
  border-color: var(--Primary-1);
}

.catalogList .card:hover .cardPreview img {
  transition: all 0.5s ease-in-out;
  transform: scale(1.1);
}
.catalogList .card .cardPreview .cardStatus {
  position: absolute;
  top: 8px;
  left: 8px;
  padding: 8px;
  color: var(--Neutrals-8, #fcfcfd);
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 12px;
  text-transform: uppercase;
  border-radius: 4px;
}
.catalogList .card .cardPreview .playSmall {
  position: absolute;
  padding: 12px;
  background-color: var(--Neutrals-5);
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 8px 16px -8px rgba(15, 15, 15, 0.2);
  background: var(--Neutrals-8);
}
.catalogList .card .cardPreview .playSmall img {
  display: block;
  width: 24px;
  height: 24px;
  z-index: 5;
}
.catalogList .card .cardPreview .cardStatus.yoga {
  background-color: var(--Primary-4);
}
.catalogList .card .cardPreview .cardStatus.fitness {
  background-color: var(--Primary-1);
}

.catalogList .card .cardHead {
  margin: 20px 0px 12px 0px;
  padding-bottom: 12px;
  border-bottom: 1px solid var(--Neutrals-6);
  display: flex;
  justify-content: space-between;
}
.catalogList .card .cardHead .cardUser {
  display: flex;
  column-gap: 16px;
  align-items: center;
}
.catalogList .card .cardHead .cardUser .cardAvatar {
  width: 40px;
  height: 40px;
  background-color: var(--Neutrals-4);
  border-radius: 50%;
  align-self: flex-start;
  overflow: hidden;
}
.catalogList .card .cardHead .cardUser .cardAvatar img {
  width: 100%;
  object-fit: cover;
}
.catalogList .card .cardHead .cardTitle {
  color: var(--Neutrals-2, #23262f);
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}

.catalogList .card .cardHead .cardTrainer {
  color: var(--Neutrals-4, #777e90);
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.catalogList .card .cardHead .cardTrainer span {
  display: inline-block;
}
.catalogList .card .cardHead .cardTrainer span.firstName {
  margin-right: 4px;
}

.catalogList .card .cardHead .cardLevel {
  align-self: flex-start;
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 12px;
  text-transform: uppercase;
  padding: 8px;
  border-radius: 4px;
}
.catalogList .card .cardHead .cardLevel.beginner {
  border: 2px solid var(--Primary-4);
  color: var(--Primary-4);
}
.catalogList .card .cardHead .cardLevel.intermediate {
  border: 2px solid var(--Primary-2);
  color: var(--Primary-2);
}
.catalogList .card .cardHead .cardLevel.advanced {
  border: 2px solid var(--Primary-1);
  color: var(--Primary-1);
}

.catalogList .card .cardParameters {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  padding: 0px 5px;
}
.catalogList .card .cardParameters .cardParameter {
  display: flex;
  column-gap: 8px;
  align-items: center;
  color: var(--Neutrals-3, #353945);
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
}
.catalogBtn {
  text-align: center;
}
.catalogBtn button.discoverMore {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  column-gap: 16px;
  padding: 12px 16px;
  border-radius: 90px;
  border: 2px solid var(--Neutrals-6);
  transition: all 0.4s ease-in;
}

.catalogBtn p {
  text-align: right;
  font-family: "SF Pro Display", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  transition: all 0.4s ease-in;
}
.catalogBtn i {
  font-size: 16px;
  transition: all 0.4s ease-in;
}
.catalogBtn button:hover {
  background-color: #141416;
  cursor: pointer;
}
.catalogBtn button:hover p,
.catalogBtn button:hover i {
  color: #e6e8ec;
}

/*! catalog End */

/*? testimonials Start */
.testimonials {
  padding: 136px 0px;
}

.testimonials .testmonialsItem .testimonialsRow {
  display: grid;
  grid-template-columns: 2fr 3fr;
  column-gap: 64px;
}
.testimonials .testmonialsItem .testimonialsRow .testimonialsCol:first-child {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* justify-content: space-between; */
}
.testimonials .testimonialsCol .testimonialsLogo {
  margin: 0px 0px 48px 0px;
}
.testimonials .testimonialsCol .testimonialsLogo img {
  display: block;
}
.testimonials .testimonialsCol .testimonialsComment {
  margin: 0px 0px 24px 0px;
  color: var(--Neutrals-2, #23262f);
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: -0.24px;
}
.testimonials .testimonialsDetails {
  display: flex;
  margin: 0px 0px 48px 0px;
  column-gap: 12px;
  align-items: center;
}
.testimonials .testimonialsDetails .descriptionInfo {
  display: flex;
  column-gap: 12px;
  align-items: center;
}
.testimonials .testimonialsDetails .detailsIcon img {
  display: block;
}
.testimonials .testimonialsDetails .detailsAuthor {
  color: var(--Neutrals-2, #23262f);
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}
.testimonials .testimonialsDetails .detailsDivider {
  width: 2px;
  height: 12px;
  border-radius: 100px;
  background: var(--Neutrals-2, #e6e8ec);
}
.testimonials .testimonialsDetails .detailsDescription {
  color: var(--Neutrals-4, #777e90);
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: -0.28px;
}

.testimonials .testimonialsCol button.readmore {
  border-radius: 90px;
  border: 2px solid var(--Neutrals-5, #e6e8ec);
  color: var(--Neutrals-2, #23262f);
  text-align: center;
  font-family: "SF Pro Display", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
}

.testimonials .testimonialsCol button.readmore:hover {
  cursor: pointer;
}
.testimonials .testimonialsCol button.readmore:hover {
  box-shadow: 0 0 0 2px var(--Neutrals-2) inset;
  background: var(--Neutrals-2);
  color: var(--Neutrals-8);
}
.testimonials .testimonialsCol .testimonialsPreview {
  position: relative;
  border-radius: 16px;
  overflow: hidden;
  height: 100%;
}
.testimonials .testimonialsCol .testimonialsPreview img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.testimonials .testimonialsCol .testimonialsPreview button.play {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5;
  border-radius: 50%;
  padding: 28px;
  box-shadow: 0px 8px 16px -8px rgba(15, 15, 15, 0.2);
  background-color: var(--Neutrals-8);
}
.testimonials .wrap .testmonialsNav .sliderWrapper ul {
  margin: 80px 0px 0px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.testimonials .wrap .testmonialsNav {
  justify-self: center;
}
.testimonials .wrap .testmonialsNav a {
  padding: 0px 0px 12px 0px;
  display: flex;
  column-gap: 12px;
  align-items: center;
  position: relative;
}
.testimonials .wrap .testmonialsNav a .testimonialsAvatar {
  width: 52px;
  height: 52px;
  border-radius: 50%;
  overflow: hidden;
}
.testimonials .wrap .testmonialsNav a .testimonialsAvatar img {
  width: 100%;
  object-fit: cover;
}
.testimonials .wrap .testmonialsNav a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0px;
  height: 2px;
  border-radius: 2px;
  background: #23262f;
  opacity: 0;
  transition: all 0.5s ease;
}
.testimonials .wrap .testmonialsNav a:hover::after,
.testimonials .wrap .testmonialsNav a.active::after {
  opacity: 1;
  width: 100%;
}

.testimonials .wrap .testmonialsNav a .testimonialsAvatar img {
  /* display: block; */
}

.testimonials .wrap .testmonialsNav .testmonialsName {
  color: var(--Neutrals-2, #23262f);

  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  margin: 0px 0px 4px 0px;
}

.testimonials .wrap .testmonialsNav .testmonialsPosition {
  color: var(--Neutrals-4, #777e90);

  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
/*! testimonials End */
/* ? Footer Start */
footer {
}
footer .wrapper {
  border-top: 1px solid var(--Neutrals-6);
  border-bottom: 1px solid var(--Neutrals-6);
}
.footerNav {
  display: none;
}
.footerNav span {
  color: var(--Neutrals-2, #23262f);
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 12px;
  text-transform: uppercase;
}

footer .iconPreview .iconInfo {
  display: none;
}
footer .frame .top-menu {
  display: flex;
  /* align-items: stretch; */
  justify-content: space-between;
}

footer .frame .top-menu .left-menu {
  display: flex;
  column-gap: 32px;
  justify-content: space-between;
  padding-top: 80px;
}

footer .frame .top-menu .left-menu i.fa-basketball {
  font-size: 32px;
  margin: 0px 128px 136px 0px;
}
footer .frame .top-menu .left-menu ul {
  width: 160px;
}
footer .frame .top-menu .left-menu ul li:not(:last-child) {
  margin-bottom: 24px;
}
footer .frame .top-menu .left-menu ul li a {
  color: var(--Neutrals-4, #777e90);
  font-family: "SF Pro Display", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
}

footer .middle-menu {
  min-width: 192px;
  padding-top: 80px;
  /* padding: 80px 86px 0px 86px; */
  /* border-left: 1px solid var(--Neutrals-6); */
  /* border-right: 1px solid var(--Neutrals-6); */
}
footer .middle-menu p {
  margin-bottom: 41px;
  color: var(--Neutrals-2, #23262f);
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 12px;
  text-transform: uppercase;
}
footer .middle-menu ul li {
  color: var(--Neutrals-2, #23262f);
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
footer .middle-menu ul.main-ul li:not(:last-child) {
  margin-bottom: 8px;
}
footer .middle-menu ul.main-ul li.phoneInfo {
  padding-top: 3px;
}
footer .right-menu {
  padding: 80px 0px 64px 0px;
  max-width: 256px;
}
footer .right-menu p {
  margin-bottom: 40px;
  color: var(--Neutrals-2, #23262f);
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 12px;
  text-transform: uppercase;
}

footer .right-menu .footerInfo {
  margin-bottom: 24px;
  color: var(--Neutrals-2, #23262f);
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

footer .right-menu form {
  display: flex;
  align-items: center;
  column-gap: 18px;
  padding: 8px 16px;
  border-radius: 90px;
  border: 2px solid var(--Neutrals-6, #e6e8ec);
}

footer .right-menu form input {
  border: none;
  appearance: none;
  width: 100%;
  color: var(--Neutrals-4, #777e90);
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
footer .right-menu form button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px;
  border-radius: 50%;
  background-color: var(--Primary-1);
}
footer .right-menu form button i {
  font-size: 18px;
  color: var(--Neutrals-8);
}
footer .bottom-bar {
  display: flex;
  justify-content: space-between;
  padding: 24px 0;
}
footer .bottom-bar span {
  color: var(--Neutrals-4, #777e90);
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}
footer .bottom-bar ul {
  display: flex;
  column-gap: 24px;
}

footer .bottom-bar ul li a i {
  font-size: 24px;
  color: var(--Neutrals-4);
}

footer .divider {
  width: 1px;
  height: 384px;
  background-color: var(--Neutrals-6, #e6e8ec);
}
/* ! Footer End */
