@import "./reset.css";
:root {
  --Primary-1: #ff592c;
  --Primary-2: #9757d7;
  --Primary-3: #ef466f;
  --Primary-4: #45b26b;
  --Secondary-1: #3772ff;
  --Secondary-2: #e4d7cf;
  --Secondary-3: #ffd166;
  --Secondary-4: #cdb4db;
  --Neutrals-1: #141416;
  --Neutrals-2: #23262f;
  --Neutrals-3: #353945;
  --Neutrals-4: #777e90;
  --Neutrals-5: #b1b5c3;
  --Neutrals-6: #e6e8ec;
  --Neutrals-7: #f4f5f6;
  --Neutrals-8: #fcfcfd;
}
.btn_pad {
  padding: 16px 24px;
  border-radius: 90px;
  text-align: center;

  /* Button 1 */
  font-family: "SF Pro Display", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
}

.btn_orange {
  background-color: var(--Primary-1, #ff592c);
  color: var(--Neutrals-8, #fcfcfd);
  text-align: center;
}

.light_btn {
  border: 2px solid var(--Neutrals-6, #e6e8ec);
  color: var(--Neutrals-2, #23262f);
}
.dark_light_btn {
  border: 2px solid var(--Neutrals-4, #777e90);
  color: var(--Neutrals-8, #fcfcfd);
}
/* ****************************************************** */

/*? Features Hero Start */

.FeaturesPage .wrapper {
  display: flex;
  flex-direction: column;
  padding: 10% 50px;
  width: 100%;
}

.FeaturesPage .wrapper .fTopSection {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.contentTexts {
  border: 1px solid darkblue;
  width: clamp(410px, 100%, 450px);
  height: 376px;
}

.contentPhoto {
  border: 1px solid darkred;
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  height: clamp(510px, 100%, 880px);
}

.contentPhoto img {
  object-fit: cover;
  width: 100%;
}

.contentTexts .texts p:nth-child(1) {
  color: var(--Neutrals-4, #777e90);

  /* Hairline 1 */
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  text-transform: uppercase;
  width: clamp(416px, 100%, 448px);
}
.contentTexts .texts p:nth-child(2) {
  color: var(--Neutrals-2, #23262f);

  /* Headline 1 */
  font-family: "SF Pro Display", sans-serif;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: 64px;
  letter-spacing: -1.28px;
  margin: 12px 0px 40px 0px;
  width: clamp(416px, 100%, 448px);
}
.contentTexts .texts p:nth-child(3) {
  color: var(--Neutrals-4, #777e90);

  /* Body 2 */
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;

  width: clamp(416px, 100%, 448px);
}
/*! Features Hero End */

/*? introSection Start */
.intro .content_frame {
  display: flex;
  justify-content: space-between;
  column-gap: 32px;
}
.intro .content_frame .intro_content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  row-gap: 32px;
  min-width: 300px;
  max-width: 400px;
}
.intro .content_frame .intro_content .introHeadings {
  display: flex;
  flex-direction: column;
  row-gap: 32px;
}
.intro .content_frame .intro_content .introHeadings h2 {
  color: var(--Neutrals-2);
  /* Headline 1 */
}

.intro .content_frame .intro_content .introHeadings p {
  color: var(--Neutrals-4);
  /* Body 1 */
}
.intro .content_frame .intro_content button {
  padding: 16px 24px;
  border-radius: 90px;
  background-color: var(--Primary-1);
  color: var(--Neutrals-8);
  text-align: center;
}

.intro .content_frame .introImgFrame {
  padding: 5px;
}
.intro .content_frame .introImgFrame img {
  width: 100%;
  object-fit: cover;
}

/*! introSection End */
/* ? ExperienceDetail Start  */

.expParent {
  /* display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 80px; */

  /* width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 80px; */
  padding: 0px 0px 136px 0px;
}
.expParent .titleContent {
  max-width: 580px;
  margin: 0 auto 80px;
  text-align: center;
}

.expParent .titleContent p {
  margin: 0px 0px 12px 0px;
  color: var(--Neutrals-4, #777e90);
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 12px;
  text-transform: uppercase;
}
.expParent .titleContent h2 {
  color: var(--Neutrals-2, #23262f);
  text-align: center;
  font-family: "SFProDisplay", sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 56px;
  letter-spacing: -0.96px;
}

.expParent .cardList {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
}

.expParent .cardList .cardLeft {
  padding: 34px 83px 34px 0px;
  flex: 0 0 31%;
}

.expParent .cardList .cardMiddle {
  padding: 34px 83px;
  flex: 0 0 38%;
  border-width: 0 1px;
  border-style: solid;
  border-color: #e6e8ec;
}

.expParent .cardList .cardRight {
  padding: 34px 0 34px 83px;
  flex: 0 0 31%;
}
.expParent .cardList .cardIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  margin: 0px 0px 32px 0px;
}

.expParent .cardList .card h3 {
  color: var(--Neutrals-2);
  margin: 0px 0px 32px 0px;

  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}
.expParent .cardList .card p {
  color: var(--Neutrals-4, #777e90);

  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

/*? ProgramSection Start */

/*! ProgramSection End */

.programSection {
  background-color: var(--Neutrals-7, #f4f5f6);
  padding: 136px 0px;
}

.programSection .wrapper {
  display: flex;
  align-items: center;
  padding: 48px 76px 64px;
  border-radius: 24px;
  background-color: var(--Neutrals-8, #fcfcfd);

  /* depth/4 */
  box-shadow: 0px 64px 64px -48px rgba(15, 15, 15, 0.1);
}
.programSection .wrapper .prgramCol:nth-child(1) {
  flex: 0 0 372px;
  padding-bottom: 40px;
}
.programSection .prgramCol:nth-child(1) h3 {
  color: var(--Neutrals-4, #777e90);

  /* Hairline 2 */
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 12px;
  text-transform: uppercase;

  margin-bottom: 24px;
  padding-left: 24px;
}

.programSection .programList ul li:not(:last-child) {
  margin: 0px 0px 16px 0px;
}

.programSection .programList > ul li > a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  padding: 20px;
  border-radius: 16px;
  font-size: 24px;
  line-height: 1.33333;
  letter-spacing: -0.01em;
  font-weight: 600;
  color: #23262f;
  transition: background-color 0.2s;
}
.programSection .programList .programIcon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  width: 48px;
  height: 48px;
  /* padding: 12px; */
  margin-right: 20px;
  border-radius: 12px;
}

.programSection .programList .programArrow {
  margin-left: auto;
  padding-left: 20px;
}

.programSection .programList .programIcon img {
  max-width: 24px;
  max-height: 24px;
}
.programSection .programList ul li:nth-child(1) .programIcon {
  background-color: var(--Primary-4);
}
.programSection .programList ul li:nth-child(2) .programIcon {
  background-color: var(--Primary-2);
}
.programSection .programList ul li:nth-child(3) .programIcon {
  background-color: var(--Secondary-1);
}

.programSection .wrapper .prgramCol:nth-child(2) {
  flex-grow: 1;
  padding: 0px 0px 0px 20px;
  text-align: center;
}

.programSection .prgramCol:nth-child(2) .programView {
  margin-bottom: 42px;
}
.programSection .prgramCol:nth-child(2) .programView img {
  max-width: 400px;
  vertical-align: middle;
  border: none;
}
.programSection .prgramCol:nth-child(2) .programInfo {
  max-width: 380px;
  margin: 0 auto 24px;
  color: #777e90;
  outline: none;
  color: var(--Neutrals-4, #777e90);
  text-align: center;

  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.programSection .prgramCol:nth-child(2) > a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
/*     ? WorkoutDetail Start  */
.fWorkoutDetail {
  padding: 136px 0px;
}

.fWorkoutDetail .row:not(:nth-child(2)) {
  margin: 0px 0px 128px 0px;
}
.fWorkoutDetail .row {
  display: flex;
  margin: 0 -12px;
}
.fWorkoutDetail .row .aboutCol {
  flex: 0 0 calc(50% - 24px);
  width: calc(50% - 24px);
  margin: 0 12px;
}

.fWorkoutDetail .uprow .aboutCol h2 {
  margin: 0px 0px 20px 0px;

  color: var(--Neutrals-2, #23262f);

  /* Headline 2 */
  font-family: "SF Pro Display", sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 56px; /* 116.667% */
  letter-spacing: -0.96px;
}

.fWorkoutDetail .uprow .aboutCol p {
  max-width: 450px;
  color: var(--Neutrals-4, #777e90);

  /* Body 2 */
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}

.fWorkoutDetail .downrow .leftCol .cardList {
  max-width: 260px;
}
.fWorkoutDetail .downrow .leftCol .cardItem:not(:last-child) {
  margin: 0px 0px 48px 0px;
}
.fWorkoutDetail .downrow .leftCol .cardItem .cardNumber {
  display: inline-block;
  padding: 2px 12px;
  margin: 0px 0px 24px 0px;
  border-radius: 100px;
  color: var(--Neutrals-8, #fcfcfd);

  /* Caption (Bold) */
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 142.857% */
}
.fWorkoutDetail .downrow .leftCol .cardItem:nth-child(1) .cardNumber {
  background-color: var(--Primary-2);
}
.fWorkoutDetail .downrow .leftCol .cardItem:nth-child(2) .cardNumber {
  background-color: var(--Primary-3);
}

.fWorkoutDetail .downrow .leftCol .cardItem:nth-child(3) .cardNumber {
  background-color: var(--Primary-4);
}
.fWorkoutDetail .downrow .leftCol .cardItem .cardSubtitle {
  color: var(--Neutrals-2, #23262f);
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
}
.fWorkoutDetail .downrow .leftCol .cardItem .cardContent {
  color: var(--Neutrals-4, #777e90);

  /* Caption */
  font-family: "Poppins" sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
}

.fWorkoutDetail .downrow .rightCol .about_bg {
  position: relative;
  background-color: var(--Neutrals-6);
  border-radius: 24px;
}
.fWorkoutDetail .downrow .rightCol .about_bg > img {
  border-radius: 24px;
}
.fWorkoutDetail .downrow .rightCol .about_bg img {
  width: 100%;
}
.fWorkoutDetail .downrow .rightCol .about_bg .about_photo {
  position: absolute;
  pointer-events: none;
}

.fWorkoutDetail .downrow .rightCol .about_bg .about_photo:nth-child(1) {
  top: 11%;
  left: -31%;
  width: 68%;
}

.fWorkoutDetail .downrow .rightCol .about_bg .about_photo:nth-child(2) {
  top: 9.5%;
  left: 25%;
  width: 23%;
}
.fWorkoutDetail .rightCol .about_bg .about_photo:nth-child(1) .iconDark {
  display: none;
}
.fWorkoutDetail img {
  vertical-align: middle;
}
/*      ! WorkoutDetail End  */
/* ? fQuotes Start */
/* 
.fQuotes {
  padding: 0px 0px 64px 0px;
}

.fQuotes .wrapper {
  max-width: 896px;

  width: 100%;
  margin: 0 auto;
}
.fQuotes .wrapper .overlap {
  margin: 0 -12px;
  text-align: center;
}
.fQuotes .wrapper .overlap .qSlider {
  padding: 0px 0px 70px 0px;
  
  position: relative;
  display: block;
  box-sizing: border-box;
  user-select: none;
  touch-action: pan-y;
}
.fQuotes .wrapper .overlap .content {
  visibility: visible;
}

.fQuotes .overlap .content .btn_prev {
  left: calc(50% - 34px);
}
.fQuotes .overlap .content .prev_arrow {
  bottom: 0;

  position: absolute;
  z-index: 5;
  width: 24px;
  height: 24px;
  background: none;
  font-size: 0;
}

.fQuotes .overlap .content .btn_next {
  right: calc(50% - 34px);
}
.fQuotes .overlap .content .next_arrow {
  bottom: 0;

  position: absolute;
  z-index: 5;
  width: 24px;
  height: 24px;
  background: none;
  font-size: 0;
}
.fQuotes .overlap .content .sliderList {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
  height: 348px;
}
.fQuotes .overlap .content .sliderList .itemLogo {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
  height: 348px;
} */

.fquotes .frame {
  padding: 136px 192px;
  display: flex;
  flex-direction: column;
  row-gap: 48px;
  align-items: center;
}
.fquotes .frame .quote {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 40px;
}

.fquotes .frame .quote .author {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px 0px;
  padding: 0px 0px 40px 0px;
  border-bottom: 1px solid var(--Neutrals-4);
}

.fquotes .frame .quote .author p {
  color: var(--Neutrals-2, #23262f);
  text-align: center;

  /* Headline 3 */
  font-family: "SF Pro Display", sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px; /* 120% */
  letter-spacing: -0.4px;
}
.fquotes .frame .quote .q-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  row-gap: 4px;
}

.fquotes .frame .quote .q-info h4 {
  color: var(--Neutrals-2, #23262f);

  /* Body 2 (Bold) */
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}
.fquotes .frame .quote .q-info p {
  color: var(--Neutrals-4, #777e90);
  text-align: center;

  /* Caption */
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.fquotes .frame .slide-btns .arrows {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 20px;
}
.fquotes .frame .slide-btns .arrows button {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
/* ! fQuotes End */
/* ? fClients Start   */
.fclients .clientsTitle {
  margin-bottom: 40px;
  text-align: center;
  color: var(--Neutrals-2, #23262f);
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 150% */
}
.fclients .clientsList {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fclients .clientsList .clientsLogo {
  flex: 1;
}
.fclients .clientsList .clientsLogo img {
  width: 100%;
}
/* ! fClients End   */
/* ? fWorkout Start   */
.fworkouts {
  position: relative;
  display: flex;
  align-items: center;
  min-height: 1096px;
  padding: 112px 0;
  overflow: hidden;
}
.fworkouts .workoutsGallery {
  position: absolute;
  top: 50%;
  right: calc(50% - 663px);
  width: 744px;
  transform: translateY(-50%);
  pointer-events: none;
}
.fworkouts .workoutsPreview:first-child {
  position: relative;
  z-index: 1;
}
.fworkouts .workoutsPreview img {
  width: 100%;
}
.fworkouts .darkIcon {
  display: none;
}
.fworkouts .workoutsPreview:not(:first-child) {
  position: absolute;
}
.fworkouts .workoutsPreview:nth-child(2) {
  top: 10%;
  left: 47%;
  z-index: 2;
  width: 13.5%;
}
.fworkouts .workoutsPreview:nth-child(3) {
  top: 32%;
  right: 2.5%;
  z-index: 2;
  width: 14.5%;
}
.fworkouts .workoutsWrap {
  position: relative;
  z-index: 3;
  max-width: 450px;
}

.fworkouts .workoutsWrap h2 {
  color: var(--Neutrals-2, #23262f);

  font-family: "SF Pro Display";
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 56px; /* 116.667% */
  letter-spacing: -0.96px;

  margin-bottom: 32px;
}

.fworkouts .workoutsWrap p {
  color: var(--Neutrals-4, #777e90);

  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: -0.24px;

  margin-bottom: 32px;
}
.fworkouts .workoutsList {
  margin-bottom: 48px;
}
.fworkouts .workoutsList li:not(:last-child) {
  margin-bottom: 16px;
}
.fworkouts .workoutsList li {
  position: relative;
  padding-left: 36px;

  color: var(--Neutrals-4, #777e90);
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}

.fworkouts ul.workoutsList li:before {
  content: "";
  position: absolute;
  top: -1px;
  left: 0;
  width: 24px;
  height: 24px;
  /* background-image: url(../images/fworkouts/greencheck.svg); */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background: url("../images/fworkouts/Line.png") no-repeat 50% 50% / 100% auto;
}

/* ! fWorkout End   */
/*? fLifeStyle Start */
.fLifeStyle {
  margin: 0px 0px 136px 0px;
}
.fLifeStyle .lifeStyleHead {
  max-width: 544px;
  margin: 0px 0px 80px 0px;
}

.fLifeStyle .lifeStyleHead span {
  display: block;
}

.fLifeStyle .lifeStyleHead span:nth-child(1) {
  color: var(--Neutrals-4, #777e90);

  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 12px; /* 100% */
  text-transform: uppercase;
  margin: 0px 0px 32px 0px;
}
.fLifeStyle .lifeStyleHead span:nth-child(2) {
  color: var(--Neutrals-2, #23262f);

  font-family: "SF Pro Display", sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 56px;
  letter-spacing: -0.96px;
  margin: 0px 0px 20px 0px;
}
.fLifeStyle .lifeStyleHead span:nth-child(3) {
  color: var(--Neutrals-4, #777e90);

  /* Body 1 */
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 133.333% */
  letter-spacing: -0.24px;
  margin: 0px 0px 20px 0px;
}
.fLifeStyle .lifeStyleHead a {
  display: inline-flex;
  align-items: center;
  justify-self: center;

  padding: 16px 24px;
  border-radius: 90px;
  border: 2px solid var(--Neutrals-6, #e6e8ec);

  color: var(--Neutrals-2, #23262f);
  text-align: right;

  /* Button 1 */
  font-family: "SF Pro Display", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px; /* 100% */
}
.fLifeStyle .lifeStyleHead a img {
  margin: 0px 0px 0px 12px;
}

.fLifeStyle .listWrapper .row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.fLifeStyle .listWrapper .row:not(:last-child) {
  margin: 0px 0px 102px 0px;
}
.fLifeStyle .listWrapper .lifeStyleDetails {
  max-width: 256px;
}
.fLifeStyle .listWrapper .lifeStyleDetails span {
  display: block;
}

.fLifeStyle .listWrapper .lifeStyleDetails span:nth-child(1) {
  padding: 0px 0px 24px 0px;
  margin: 0px 0px 24px 0px;
  border-bottom: 2px solid var(--Neutrals-6, #e6e8ec);

  color: var(--Neutrals-2, #23262f);

  /* Headline 4 */
  font-family: "SF Pro Display", sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: -0.32px;
}
.fLifeStyle .listWrapper .lifeStyleDetails span:nth-child(2) {
  margin: 0px 0px 16px 0px;

  color: var(--Neutrals-2, #23262f);

  /* Body 2 (Bold) */
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}
.fLifeStyle .listWrapper .lifeStyleDetails span:nth-child(3) {
  color: var(--Neutrals-4, #777e90);

  /* Caption */
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
}

.fLifeStyle .listWrapper .lifeStylePreview {
  width: 544px;
  height: 402px;
  border-radius: 24px;
  background-color: var(--Secondary-1, #3772ff);
}
.fLifeStyle .listWrapper .lifeStylePreview img {
  width: 100%;
  object-fit: cover;
  border-radius: 24px;
}
/*! fLifeStyle End */
