/* ? Features Hero Start*/
/*
.main1 {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: 880px;
  padding: 34px 0 180px;
  overflow: hidden;
}
.center {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 80px;
}
.main1__wrap {
  position: relative;
  z-index: 3;
  max-width: 450px;
}
[class^="stage"] {
  margin-bottom: 12px;
  line-height: 1;
  font-weight: 700;
  text-transform: uppercase;
  color: #777e90;
}
.main1__title {
  margin-bottom: 20px;
  font-size: 64px;
  line-height: 1;
  letter-spacing: -0.02em;
}
.main1__text {
  margin-bottom: 40px;
  color: #777e90;
}

.main1__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.main1__button:not(:last-child) {
  margin-right: 16px;
}

[class^="button"] {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 48px;
  padding: 0 24px;
  background: #ff592c;
  border-radius: 24px;
  font-family: "SFProDisplay-Bold";
  font-size: 16px;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  color: #fcfcfd;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
.button-stroke {
  background: none;
  -webkit-box-shadow: 0 0 0 2px #e6e8ec inset;
  box-shadow: 0 0 0 2px #e6e8ec inset;
  color: #23262f;
}

[class^="button"] {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 48px;
  padding: 0 24px;
  background: #ff592c;
  border-radius: 24px;
  font-family: "SFProDisplay-Bold";
  font-size: 16px;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  color: #fcfcfd;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

.main1 .scroll {
  position: absolute;
  bottom: 96px;
}
.main1__gallery {
  position: absolute;
  top: 50%;
  right: calc(50% - 720px);
  width: 800px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  pointer-events: none;
}
.main1__preview:first-child {
  position: relative;
  z-index: 2;
}
.main1__preview img {
  width: 100%;
}

.some-icon-light {
  display: none;
}

svg,
img {
  vertical-align: middle;
}

.main1__preview:not(:first-child) {
  position: absolute;
}

.main1__preview:nth-child(2) {
  top: 10%;
  right: 20%;
  z-index: 3;
  width: 20%;
}
@media only screen and (max-width: 1179px) {
  .main1 {
    min-height: 606px;
    padding: 80px 0;
  }
  .main1 .scroll {
    display: none;
  }
  .scroll {
    width: 40px;
    height: 40px;
  }
  .main1__gallery {
    top: 54%;
    right: calc(50% - 600px);
    width: 600px;
  }
}

@media only screen and (max-width: 1023px) {
  .main1__wrap {
    max-width: 350px;
  }
  .center {
    padding: 0 40px;
  }
  .main1__gallery {
    right: calc(50% - 520px);
    width: 550px;
  }
}
@media only screen and (max-width: 767px) {
  .center {
  }
  .main1 {
    min-height: auto;
    padding: 64px 0 0;
  }
  .center {
    padding: 0 32px;
  }
  .main1__wrap {
    max-width: 100%;
    margin-bottom: 32px;
  }
  .scroll {
    display: none;
  }
  .main1__gallery {
    position: relative;
    top: auto;
    right: auto;
    width: 580px;
    margin: 0 auto;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
} */
/*! Features Hero End */

/*? heroHeader Start */
.heroHeader {
  background: var(--Neutrals-8, #fcfcfd);
}
.heroHeader .wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  column-gap: 30px;
}
.heroHeader .wrap .contentCol {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin: 60px 0 0 0;
  width: 40%;
}
.heroHeader .wrap .contentCol p.stage {
  color: var(--Neutrals-4, #777e90);

  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  text-transform: uppercase;
}
.heroHeader .wrap .contentCol .mainTitle {
  color: var(--Neutrals-2, #23262f);
  font-family: "SF Pro Display";
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: 64px;
  letter-spacing: -1.28px;
  margin: 12px 0px 40px 0px;
}

.heroHeader .wrap .contentCol .mainText {
  color: var(--Neutrals-4, #777e90);
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin: 0px 0px 40px 0px;
}
.heroHeader .wrap .contentCol .buttons_bottomm {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  column-gap: 16px;
}

.heroHeader .wrap .contentCol .button_arrow_bottom {
  margin: 140px 0 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-radius: 64px;
  border: 2px solid var(--Neutrals-6, #e6e8ec);
}
.heroHeader .wrap .contentCol .button_arrow_bottom img {
  width: 100%;
}

.heroHeader .wrap .previewCol {
  width: 60%;
}
.heroHeader .wrap .previewCol img {
  width: 100%;
}
/*! heroHeader End */

/*? introSection Start */
/* 
.intro .content_frame {
  display: flex;
  justify-content: space-between;
  column-gap: 32px;
}
.intro .content_frame .intro_content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  row-gap: 32px;
  min-width: 300px;
  max-width: 400px;
}
.intro .content_frame .intro_content .introHeadings {
  display: flex;
  flex-direction: column;
  row-gap: 32px;
}
.intro .content_frame .intro_content .introHeadings h2 {
  color: var(--Neutrals-2);
}

.intro .content_frame .intro_content .introHeadings p {
  color: var(--Neutrals-4);
}
.intro .content_frame .intro_content button {
  padding: 16px 24px;
  border-radius: 90px;
  background-color: var(--Primary-1);
  color: var(--Neutrals-8);
  text-align: center;
}

.intro .content_frame .introImgFrame {
  padding: 5px;
}
.intro .content_frame .introImgFrame img {
  width: 100%;
  object-fit: cover;
} */

/*! introSection End */

/*? intro Start */
.intro .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 32px;
}
.intro .wrapper .introContent {
  width: 40%;
}

.intro .wrapper .introContent h2 {
  color: var(--Neutrals-2);
}

.intro .wrapper .introContent p {
  color: var(--Neutrals-4);
  margin: 32px 0 40px 0px;
}
.intro .wrapper .introContent button {
  padding: 16px 24px;
  border-radius: 90px;
  background-color: var(--Primary-1);
  color: var(--Neutrals-8);
  text-align: center;
}

.intro .wrapper .introGallery {
  width: 60%;
}
.intro .wrapper .introGallery img {
  width: 100%;
  object-fit: cover;
}

/*! intro End */

/* ? ExperienceDetail Start  */
/* 
.expParent {
  padding: 0px 0px 136px 0px;
}
.expParent .titleContent {
  max-width: 580px;
  margin: 0 auto 80px;
  text-align: center;
}

.expParent .titleContent p {
  margin: 0px 0px 12px 0px;
  color: var(--Neutrals-4, #777e90);
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 12px;
  text-transform: uppercase;
}
.expParent .titleContent h2 {
  color: var(--Neutrals-2, #23262f);
  text-align: center;
  font-family: "SFProDisplay", sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 56px;
  letter-spacing: -0.96px;
}

.expParent .cardList {
  display: flex;
  align-items: center;
}

.expParent .cardList .cardLeft {
  padding: 34px 83px 34px 0px;
  flex: 0 0 31%;
}

.expParent .cardList .cardMiddle {
  padding: 34px 83px;
  flex: 0 0 38%;
  border-width: 0 1px;
  border-style: solid;
  border-color: #e6e8ec;
}

.expParent .cardList .cardRight {
  padding: 34px 0 34px 83px;
  flex: 0 0 31%;
}
.expParent .cardList .cardIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  margin: 0px 0px 32px 0px;
}

.expParent .cardList .card h3 {
  color: var(--Neutrals-2);
  margin: 0px 0px 32px 0px;

  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}
.expParent .cardList .card p {
  color: var(--Neutrals-4, #777e90);

  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
} */
/*! ExperienceDetail End */

/*? details Start  */
.details {
  background-color: var(--Neutrals-8, #fcfcfd);
}
.details .detailsHead {
  max-width: 600px;
  margin: 0px auto 80px auto;
}
.details .detailsHead .stageSmall {
  text-align: center;
  color: var(--Neutrals-4, #777e90);
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 12px;
  text-transform: uppercase;
}
.details .detailsHead .detailsTitle {
  margin: 8px auto 0px auto;
  color: var(--Neutrals-2, #23262f);
  text-align: center;
  font-family: "SF Pro Display", sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 56px; /* 116.667% */
  letter-spacing: -0.96px;
}
.details .detailsList {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 83px;
}
.details .detailsList span.divider {
  height: 300px;
  display: block;
  width: 1px;
  background-color: var(--Neutrals-6);
}
.details .detailsList .detailsItem .detailsCategory {
  margin: 32px 0px;
  color: var(--Neutrals-2, #23262f);
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}
.details .detailsList .detailsItem .detailsContent {
  color: var(--Neutrals-4, #777e90);

  /* Caption */
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
}

/*! details End  */
/*? ProgramSection Start */

.programSection {
  background-color: var(--Neutrals-7, #f4f5f6);
  padding: 136px 0px;
}

.programSection .wrapper {
  display: flex;
  align-items: center;
  padding: 48px 76px 64px;
  border-radius: 24px;
  background-color: var(--Neutrals-8, #fcfcfd);
  box-shadow: 0px 64px 64px -48px rgba(15, 15, 15, 0.1);
}
.programSection .wrapper .prgramCol:nth-child(1) {
  flex: 0 0 372px;
  padding-bottom: 40px;
}
.programSection .prgramCol:nth-child(1) h3 {
  color: var(--Neutrals-4, #777e90);

  /* Hairline 2 */
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 12px;
  text-transform: uppercase;

  margin-bottom: 24px;
  padding-left: 24px;
}

.programSection .programList ul li:not(:last-child) {
  margin: 0px 0px 16px 0px;
}

.programSection .programList > ul li > a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  padding: 20px;
  border-radius: 16px;
  font-size: 24px;
  line-height: 1.33333;
  letter-spacing: -0.01em;
  font-weight: 600;
  color: #23262f;
  transition: background-color 0.2s;
}
.programSection .programList .programIcon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  width: 48px;
  height: 48px;
  /* padding: 12px; */
  margin-right: 20px;
  border-radius: 12px;
}

.programSection .programList .programArrow {
  margin-left: auto;
  padding-left: 20px;
}

.programSection .programList .programIcon img {
  max-width: 24px;
  max-height: 24px;
}
.programSection .programList ul li:nth-child(1) .programIcon {
  background-color: var(--Primary-4);
}
.programSection .programList ul li:nth-child(2) .programIcon {
  background-color: var(--Primary-2);
}
.programSection .programList ul li:nth-child(3) .programIcon {
  background-color: var(--Secondary-1);
}

.programSection .wrapper .prgramCol:nth-child(2) {
  flex-grow: 1;
  padding: 0px 0px 0px 20px;
  text-align: center;
}

.programSection .prgramCol:nth-child(2) .programView {
  margin-bottom: 42px;
}
.programSection .prgramCol:nth-child(2) .programView img {
  max-width: 400px;
  vertical-align: middle;
  border: none;
}
.programSection .prgramCol:nth-child(2) .programInfo {
  max-width: 380px;
  margin: 0 auto 24px;
  color: #777e90;
  outline: none;
  color: var(--Neutrals-4, #777e90);
  text-align: center;

  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.programSection .prgramCol:nth-child(2) > a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

/*! ProgramSection End */

/*? homeAbout Start */
.homeAbout {
  margin: 136px 0px;
}
.homeAbout .aboutRow {
  display: flex;
  justify-content: space-between;
}
.homeAbout .aboutRow .aboutCol {
  margin: 0px 12px;
  width: calc(50% - 24px);
}
.homeAbout .topRow .aboutCol p.stage {
  color: var(--Neutrals-5, #b1b5c3);
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  text-transform: uppercase;
}
.homeAbout .topRow .aboutCol h2.aboutTitle {
  color: var(--Neutrals-2, #23262f);
  font-family: "SF Pro Display", sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 56px;
  letter-spacing: -0.96px;
}
.homeAbout .topRow .aboutCol p.aboutInfo {
  margin: 20px 0px 0px 0px;
  max-width: 450px;
  color: var(--Neutrals-4, #777e90);
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.homeAbout .bottomRow {
  margin: 128px 0px 0px 0px;
}
.homeAbout .bottomRow .aboutList {
  width: 262px;
}
.homeAbout .bottomRow .aboutItem:nth-child(2) {
  margin: 48px 0px;
}

.homeAbout .bottomRow .aboutItem:nth-child(1) .aboutNumber {
  background: var(--Primary-2, #9757d7);
}
.homeAbout .bottomRow .aboutItem:nth-child(2) .aboutNumber {
  background: var(--Primary-3, #9757d7);
}
.homeAbout .bottomRow .aboutItem:nth-child(3) .aboutNumber {
  background: var(--Primary-4, #9757d7);
}
.homeAbout .bottomRow .aboutItem .aboutNumber {
  display: inline-block;
  padding: 2px 12px;
  border-radius: 100px;
  color: var(--Neutrals-8, #fcfcfd);
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}
.homeAbout .bottomRow .aboutItem h2.aboutSubtitle {
  margin: 24px 0px 16px 0px;
  color: var(--Neutrals-2, #23262f);
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}
.homeAbout .bottomRow .aboutItem p.aboutContent {
  color: var(--Neutrals-4, #777e90);

  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
}
.homeAbout .bottomRow .aboutCol .aboutBackground {
  position: relative;
  border-radius: 24px;
  height: 100%;
  background-color: var(--Neutrals-6, #e6e8ec);
}

.homeAbout .bottomRow .aboutBackground img.pillBox {
  position: absolute;
  width: 75%;
  z-index: 5;
  right: 0;
  bottom: 0;
}

.homeAbout .bottomRow .aboutBackground .platePreview {
  position: absolute;
  top: 1.5%;
  left: -31%;
  width: 64.5%;
  pointer-events: none;
}
.homeAbout .bottomRow .aboutBackground .platePreview img {
  width: 100%;
}
.homeAbout .bottomRow .aboutBackground .playPreview {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 15;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  transform: translate(-50%, -50%);
  box-shadow: 0px 8px 16px -8px rgba(15, 15, 15, 0.2);
  border-radius: 50%;
  background: #fcfcfd;
}

/*! homeAbout End */

/*? WorkoutDetail Start  */
/* 
.fWorkoutDetail {
  padding: 136px 0px;
}

.fWorkoutDetail .row:not(:nth-child(2)) {
  margin: 0px 0px 128px 0px;
}
.fWorkoutDetail .row {
  display: flex;
  margin: 0 -12px;
}
.fWorkoutDetail .row .aboutCol {
  flex: 0 0 calc(50% - 24px);
  width: calc(50% - 24px);
  margin: 0 12px;
}

.fWorkoutDetail .uprow .aboutCol h2 {
  margin: 0px 0px 20px 0px;
  color: var(--Neutrals-2, #23262f);
  font-family: "SF Pro Display", sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 56px;
  letter-spacing: -0.96px;
}

.fWorkoutDetail .uprow .aboutCol p {
  max-width: 450px;
  color: var(--Neutrals-4, #777e90);
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; 
}

.fWorkoutDetail .downrow .leftCol .cardList {
  max-width: 260px;
}
.fWorkoutDetail .downrow .leftCol .cardItem:not(:last-child) {
  margin: 0px 0px 48px 0px;
}
.fWorkoutDetail .downrow .leftCol .cardItem .cardNumber {
  display: inline-block;
  padding: 2px 12px;
  margin: 0px 0px 24px 0px;
  border-radius: 100px;
  color: var(--Neutrals-8, #fcfcfd);
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
.fWorkoutDetail .downrow .leftCol .cardItem:nth-child(1) .cardNumber {
  background-color: var(--Primary-2);
}
.fWorkoutDetail .downrow .leftCol .cardItem:nth-child(2) .cardNumber {
  background-color: var(--Primary-3);
}

.fWorkoutDetail .downrow .leftCol .cardItem:nth-child(3) .cardNumber {
  background-color: var(--Primary-4);
}
.fWorkoutDetail .downrow .leftCol .cardItem .cardSubtitle {
  color: var(--Neutrals-2, #23262f);
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}
.fWorkoutDetail .downrow .leftCol .cardItem .cardContent {
  color: var(--Neutrals-4, #777e90);
  font-family: "Poppins" sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.fWorkoutDetail .downrow .rightCol .about_bg {
  position: relative;
  background-color: var(--Neutrals-6);
  border-radius: 24px;
}
.fWorkoutDetail .downrow .rightCol .about_bg > img {
  border-radius: 24px;
}
.fWorkoutDetail .downrow .rightCol .about_bg img {
  width: 100%;
}
.fWorkoutDetail .downrow .rightCol .about_bg .about_photo {
  position: absolute;
  pointer-events: none;
}

.fWorkoutDetail .downrow .rightCol .about_bg .about_photo:nth-child(1) {
  top: 11%;
  left: -31%;
  width: 68%;
}

.fWorkoutDetail .downrow .rightCol .about_bg .about_photo:nth-child(2) {
  top: 9.5%;
  left: 25%;
  width: 23%;
}
.fWorkoutDetail .rightCol .about_bg .about_photo:nth-child(1) .iconDark {
  display: none;
}
.fWorkoutDetail img {
  vertical-align: middle;
} */
/*! WorkoutDetail End  */
/* ? fQuotes Start */
/* 
.fQuotes {
  padding: 0px 0px 64px 0px;
}

.fQuotes .wrapper {
  max-width: 896px;

  width: 100%;
  margin: 0 auto;
}
.fQuotes .wrapper .overlap {
  margin: 0 -12px;
  text-align: center;
}
.fQuotes .wrapper .overlap .qSlider {
  padding: 0px 0px 70px 0px;
  
  position: relative;
  display: block;
  box-sizing: border-box;
  user-select: none;
  touch-action: pan-y;
}
.fQuotes .wrapper .overlap .content {
  visibility: visible;
}

.fQuotes .overlap .content .btn_prev {
  left: calc(50% - 34px);
}
.fQuotes .overlap .content .prev_arrow {
  bottom: 0;

  position: absolute;
  z-index: 5;
  width: 24px;
  height: 24px;
  background: none;
  font-size: 0;
}

.fQuotes .overlap .content .btn_next {
  right: calc(50% - 34px);
}
.fQuotes .overlap .content .next_arrow {
  bottom: 0;

  position: absolute;
  z-index: 5;
  width: 24px;
  height: 24px;
  background: none;
  font-size: 0;
}
.fQuotes .overlap .content .sliderList {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
  height: 348px;
}
.fQuotes .overlap .content .sliderList .itemLogo {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
  height: 348px;
} 

.fquotes .frame {
  padding: 136px 192px;
  display: flex;
  flex-direction: column;
  row-gap: 48px;
  align-items: center;
}
.fquotes .frame .quote {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 40px;
}

.fquotes .frame .quote .author {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px 0px;
  padding: 0px 0px 40px 0px;
  border-bottom: 1px solid var(--Neutrals-4);
}

.fquotes .frame .quote .author p {
  color: var(--Neutrals-2, #23262f);
  text-align: center;

  font-family: "SF Pro Display", sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px; 
  letter-spacing: -0.4px;
}
.fquotes .frame .quote .q-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  row-gap: 4px;
}

.fquotes .frame .quote .q-info h4 {
  color: var(--Neutrals-2, #23262f);

  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}
.fquotes .frame .quote .q-info p {
  color: var(--Neutrals-4, #777e90);
  text-align: center;

  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.fquotes .frame .slide-btns .arrows {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 20px;
}
.fquotes .frame .slide-btns .arrows button {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}*/
/* ! fQuotes End */

/* ? review Start   */
.review {
  padding: 136px 0;
}
.review .reviewItem {
  margin: 0 auto;
  width: 736px;
  text-align: center;
}
.review .reviewItem .reviewLogo {
  padding: 13px 7px 13.5px 7px;
}
.review .reviewItem .reviewTitle {
  padding: 0px 0px 40px 0px;
  margin: 8px auto 40px auto;
  border-bottom: 1px solid var(--Neutrals-6);
  color: var(--Neutrals-2, #23262f);
  text-align: center;
  font-family: "SF Pro Display", sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: -0.4px;
}
.review .reviewItem .reviewAuthor {
  color: var(--Neutrals-2, #23262f);

  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 150% */
}

.review .reviewItem .reviewPosition {
  margin: 4px auto 0 auto;
  color: var(--Neutrals-4, #777e90);
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
}
.review .reviewBtns {
  margin: 48px 0px 0px 0px;
  display: flex;
  column-gap: 20px;
  align-items: center;
  justify-content: center;
}
.review .reviewBtns button img {
  display: block;
}
/* ! review End   */

/* ? fClients Start   */
/* 
.fclients .clientsTitle {
  margin-bottom: 40px;
  text-align: center;
  color: var(--Neutrals-2, #23262f);
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}
.fclients .clientsList {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fclients .clientsList .clientsLogo {
  flex: 1;
}
.fclients .clientsList .clientsLogo img {
  width: 100%;
} */
/* ! fClients End   */

/*? clients Start */
.clients .clientsTitle p {
  margin: 0px 0px 40px 0px;
  color: var(--Neutrals-2, #23262f);
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}
.clients .clientsList ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*! clients End */

/* ? fWorkout Start   */
/* 
.fworkouts {
  position: relative;
  display: flex;
  align-items: center;
  min-height: 1096px;
  padding: 112px 0;
  overflow: hidden;
}
.fworkouts .workoutsGallery {
  position: absolute;
  top: 50%;
  right: calc(50% - 663px);
  width: 744px;
  transform: translateY(-50%);
  pointer-events: none;
}
.fworkouts .workoutsPreview:first-child {
  position: relative;
  z-index: 1;
}
.fworkouts .workoutsPreview img {
  width: 100%;
}
.fworkouts .darkIcon {
  display: none;
}
.fworkouts .workoutsPreview:not(:first-child) {
  position: absolute;
}
.fworkouts .workoutsPreview:nth-child(2) {
  top: 10%;
  left: 47%;
  z-index: 2;
  width: 13.5%;
}
.fworkouts .workoutsPreview:nth-child(3) {
  top: 32%;
  right: 2.5%;
  z-index: 2;
  width: 14.5%;
}
.fworkouts .workoutsWrap {
  position: relative;
  z-index: 3;
  max-width: 450px;
}

.fworkouts .workoutsWrap h2 {
  color: var(--Neutrals-2, #23262f);

  font-family: "SF Pro Display";
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 56px; 
  letter-spacing: -0.96px;
  margin-bottom: 32px;
}

.fworkouts .workoutsWrap p {
  color: var(--Neutrals-4, #777e90);

  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: -0.24px;

  margin-bottom: 32px;
}
.fworkouts .workoutsList {
  margin-bottom: 48px;
}
.fworkouts .workoutsList li:not(:last-child) {
  margin-bottom: 16px;
}
.fworkouts .workoutsList li {
  position: relative;
  padding-left: 36px;

  color: var(--Neutrals-4, #777e90);
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}

.fworkouts ul.workoutsList li:before {
  content: "";
  position: absolute;
  top: -1px;
  left: 0;
  width: 24px;
  height: 24px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background: url("../images/fworkouts/Line.png") no-repeat 50% 50% / 100% auto;
} */

/* ! fWorkout End   */

/* ? workouts Start   */
.workouts {
  margin: 136px 0;
  background-color: var(--Neutrals-8, #fcfcfd);
}
.workouts .workoutsFrame {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 32px;
}
.workouts .workoutsFrame .workoutsWrap {
  width: 40%;
}
.workouts .workoutsFrame .workoutsWrap h2.workoutsTitle {
  color: var(--Neutrals-2, #23262f);
}
.workouts .workoutsFrame .workoutsWrap p.workoutsInfo {
  color: var(--Neutrals-4, #777e90);
  margin: 32px 0px;
}

.workouts .workoutsFrame ul li {
  color: var(--Neutrals-4, #777e90);
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}
.workouts .workoutsFrame ul li:before {
  display: inline-block;
  vertical-align: bottom;
  content: "";
  width: 24px;
  height: 24px;
  margin: 0px 12px 0px 0px;
  background-image: url("../images/workouts/check.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.workouts .workoutsFrame ul li:not(:last-child) {
  margin: 0px 0px 16px 0px;
}
.workouts .workoutsFrame .workoutsWrap .workoutsBtns {
  margin: 48px 0px 0px 0px;
}
.workouts .workoutsFrame .workoutsWrap .workoutsBtns button:first-child {
  margin: 0px 12px 0px 0px;
}
.workouts .workoutsFrame .workoutsGallery {
  width: 60%;
}
/* ! workouts End   */

/*? fLifeStyle Start */
.fLifeStyle {
  margin: 0px 0px 136px 0px;
}
.fLifeStyle .lifeStyleHead {
  max-width: 544px;
  margin: 0px 0px 80px 0px;
}

.fLifeStyle .lifeStyleHead span {
  display: block;
}

.fLifeStyle .lifeStyleHead span:nth-child(1) {
  color: var(--Neutrals-4, #777e90);

  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 12px; /* 100% */
  text-transform: uppercase;
  margin: 0px 0px 32px 0px;
}
.fLifeStyle .lifeStyleHead span:nth-child(2) {
  color: var(--Neutrals-2, #23262f);

  font-family: "SF Pro Display", sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 56px;
  letter-spacing: -0.96px;
  margin: 0px 0px 20px 0px;
}
.fLifeStyle .lifeStyleHead span:nth-child(3) {
  color: var(--Neutrals-4, #777e90);

  /* Body 1 */
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 133.333% */
  letter-spacing: -0.24px;
  margin: 0px 0px 20px 0px;
}
.fLifeStyle .lifeStyleHead a {
  display: inline-flex;
  align-items: center;
  justify-self: center;

  padding: 16px 24px;
  border-radius: 90px;
  border: 2px solid var(--Neutrals-6, #e6e8ec);

  color: var(--Neutrals-2, #23262f);
  text-align: right;

  /* Button 1 */
  font-family: "SF Pro Display", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px; /* 100% */
}
.fLifeStyle .lifeStyleHead a img {
  margin: 0px 0px 0px 12px;
}

.fLifeStyle .listWrapper .row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.fLifeStyle .listWrapper .row:not(:last-child) {
  margin: 0px 0px 102px 0px;
}
.fLifeStyle .listWrapper .lifeStyleDetails {
  max-width: 256px;
}
.fLifeStyle .listWrapper .lifeStyleDetails span {
  display: block;
}

.fLifeStyle .listWrapper .lifeStyleDetails span:nth-child(1) {
  padding: 0px 0px 24px 0px;
  margin: 0px 0px 24px 0px;
  border-bottom: 2px solid var(--Neutrals-6, #e6e8ec);

  color: var(--Neutrals-2, #23262f);

  font-family: "SF Pro Display", sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: -0.32px;
}
.fLifeStyle .listWrapper .lifeStyleDetails span:nth-child(2) {
  margin: 0px 0px 16px 0px;

  color: var(--Neutrals-2, #23262f);

  /* Body 2 (Bold) */
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}
.fLifeStyle .listWrapper .lifeStyleDetails span:nth-child(3) {
  color: var(--Neutrals-4, #777e90);

  /* Caption */
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
}

.fLifeStyle .listWrapper .lifeStylePreview {
  width: 544px;
  height: 402px;
  border-radius: 24px;
  background-color: var(--Secondary-1, #3772ff);
}
.fLifeStyle .listWrapper .lifeStylePreview img {
  width: 100%;
  object-fit: cover;
  border-radius: 24px;
}
/*! fLifeStyle End */
/*? Advantages Start */
/* 
.fAdvantages {
  margin: 136px 0px;
}
.fAdvantages .advantagesHead {
  margin: 0 auto 80px auto;
  max-width: 636px;
}
.fAdvantages .advantagesHead h2 {
  color: var(--Neutrals-2, #23262f);
  text-align: center;
  font-family: "SF Pro Display";
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 56px;
  letter-spacing: -0.96px;
  margin: 0 auto 20px;
}
.fAdvantages .advantagesHead p {
  color: var(--Neutrals-3, #353945);
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  width: 450px;
  margin: 0 auto;
  padding: 10px;
}
.fAdvantages .advantagesList {
  display: flex;
  justify-content: space-between;
  column-gap: 32px;
}
.fAdvantages .advantagesList .advantagesItem {
  margin: 0 auto;
}
.fAdvantages .advantagesList .advantagesPreview {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  background: var(--Neutrals-5, #b1b5c3);
  margin: 0 auto;
}
.fAdvantages .advantagesList .advantagesPreview img {
  width: 100%;
  object-fit: cover;
}
.fAdvantages .advantagesList .advantagesItem p {
  color: var(--Neutrals-2, #23262f);
  text-align: center;

  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
  max-width: 290px;
  margin: 80px auto 0 auto;
} */
/*! Advantages End */

/* ? advantages  Start   */
.advantages {
  margin: 136px 0px;
}
.advantages .advantagesHead {
  margin: 0px auto 80px auto;
  width: 636px;
}
.advantages .advantagesHead h2.advantagesTitle {
  margin: 0px 0 20px 0;
  color: var(--Neutrals-2, #23262f);
  text-align: center;

  font-family: "SF Pro Display", sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 56px;
  letter-spacing: -0.96px;
}
.advantages .advantagesHead p.advantagesInfo {
  margin: 0 auto;
  width: 453px;
  color: var(--Neutrals-3, #353945);
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.advantages .advantagesList {
  display: flex;
  column-gap: 24px;
  justify-content: space-between;
}
.advantages .advantagesItem .profile {
  text-align: center;
  margin: 0px 0px 36px 0px;
}
.advantages .advantagesItem p.advantagesSubtitle {
  width: 293px;
  color: var(--Neutrals-2, #23262f);
  text-align: center;

  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px; /* 133.333% */
}
/* ! advantages  End   */

/* ? fOffers Start */
/* 
.fOffers .offerDetail {
  margin: 0px auto 136px auto;
  padding: 136px 0px 0px 0px;
  width: 928px;
  text-align: center;
}
.fOffers .offerDetail p:nth-child(1) {
  color: var(--Neutrals-4, #777e90);
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px; 
  text-transform: uppercase;
  margin: 0px auto 16px auto;
}
.fOffers .offerDetail h2 {
  color: var(--Neutrals-2, #23262f);
  text-align: center;
  font-family: "SF Pro Display", sans-serif;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: 64px; 
  letter-spacing: -1.28px;

  max-width: 690px;
  margin: 0 auto 32px auto;
  padding: 0px 40px;
}
.fOffers .offerDetail p:nth-child(3) {
  color: var(--Neutrals-4, #777e90);
  text-align: center;

  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; 
  max-width: 452px;
  margin: 0 auto;
}

.fOffers .offerDetail > .offferBtn {
  display: inline-block;
  border-radius: 90px;
  background: var(--Primary-1, #ff592c);
  padding: 16px 24px;
  color: var(--Neutrals-8, #fcfcfd);
  text-align: center;

  font-family: "SF Pro Display", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  margin: 48px auto 0 auto;
} */
/*!  fOffers End*/

.offers {
  margin: 80px auto 136px auto;
}
.offers .frame {
  padding: 136px 0px 0px 0px;
  margin: 0 auto;
  text-align: center;
}
.offers p.stage {
  margin: 0px auto 16px auto;
  color: var(--Neutrals-4, #777e90);
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  text-transform: uppercase;
}

.offers h2.offersTitle {
  width: 805px;
  margin: 0px auto 32px auto;
  color: var(--Neutrals-2, #23262f);
  text-align: center;
  font-family: "SF Pro Display";
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: 64px;
  letter-spacing: -1.28px;
}
.offers p.offersText {
  width: 450px;
  margin: 0 auto;
  color: var(--Neutrals-4, #777e90);
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.offers a.offersButton {
  display: inline-block;
  margin: 48px auto 0px auto;
}
