/*? Desktop  Start*/
@media screen and (max-width: 1440px) {
  .tabletMenu.active {
    display: none;
  }
  button.hidden {
    display: none;
  }
}

@media screen and (max-width: 1150px) {
  .headerCenter .headerLinksWrap .navbarLogo {
    padding-right: 30px;
    border-right: 1px solid var(--Neutrals-6);
  }
  .headerCenter .headerLinksWrap {
    column-gap: 30px;
  }

  .headerCenter .headerLinksWrap nav .headerNav {
    column-gap: 24px;
  }
  .headerCenter .headerGroups {
    column-gap: 40px;
  }
}
/* ******************************************************** */
/*? Tablet Start */
@media screen and (max-width: 1024px) {
  .container {
    width: 864px;
    max-width: 95%;
  }
  .show {
    display: block;
  }
  .buttonGroups button.hidden {
    display: block;
  }
  .headerCenter nav {
    display: none;
  }
  .headerCenter .headerLinksWrap .navbarLogo {
    border: none;
    padding: 0px;
  }
  .headerCenter .headerGroups ul {
    display: none;
  }
  .buttonGroups {
    display: flex;
    align-items: center;
    column-gap: 40px;
  }
  .buttonGroups .bars {
    display: block;
  }
  /** trainers Start */

  :root {
    --trainers_columns-count: 3;
    --programs_column-count: 2;
  }

  /*  */
  .heroHeader .wrap .contentCol .mainTitle {
    font-size: 56px;
    line-height: 56px;
    margin: 12px 0px 30px 0px;
  }
  /*  */

  /** Footer */
  footer .frame .top-menu {
    display: flex;
    justify-content: space-between;
  }

  footer .frame .top-menu .left-menu ul {
    width: 80px;
  }

  footer .frame .top-menu .left-menu {
    justify-content: space-between;
  }
  footer .frame .top-menu .left-menu i {
    margin: 0px 20px 80px 0px;
  }
  footer .right-menu {
    min-width: 192px;
  }
}

@media screen and (max-width: 840px) {
  footer .frame .top-menu .left-menu i {
    margin: 0px 20px 130px 0px;
  }
  footer span.divider {
    display: none;
  }
}

/* Mobil Start */
@media screen and (max-width: 768px) {
  /*? Header */

  .tabletMenu .wrap {
    display: flex;
    flex-direction: column;
  }
  .tabletMenu .menuContact {
    display: none;
  }

  .tabletMenu .dropdownBody .headRow .headRightCol {
    display: none;
  }
  .tabletMenu .dropdownBody .headLeftCol a.headerDirection {
    display: none;
  }
  .tabletMenu .dropdownBody .headRow .headLeftCol {
    width: 100%;
    border: none;
  }
  .tabletMenu .dropdownBody .headRow {
    display: block;
  }
  .tabletMenu .dropdownBody {
    margin: 0px;
    border: none;
    box-shadow: none;
  }
  .tabletHeaderFoot {
    display: none;
  }
  .tabletMenu .dropdownBody .headRow .headCol {
    padding: 0px;
  }
  .heroHeader .container {
    width: 1120px;
    max-width: 100%;
    margin: 0px 0px 0px 2.5%;
  }
  /** trainers Start */
  :root {
    --trainers_columns-count: 2;
  }
  .trainers .trainersList .listWrap {
    grid-template-columns: repeat(2, 1fr);
  }
  .heroHeader .wrap .contentCol .mainTitle {
    font-size: 50px;
    line-height: 50px;
  }
  /* ? Footer */
  footer .top-menu {
    display: flex;
    flex-direction: column;
  }
  footer .middle-menu {
    padding-top: 32px;
  }
  footer .frame .top-menu .left-menu {
    display: flex;
    flex-direction: column;
  }
  footer .frame .top-menu .left-menu ul {
    display: none;
  }
  footer .footerNav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 90%;
  }
  footer .wrapper {
    border: none;
  }
  footer .frame .top-menu .left-menu i.fa-basketball {
    font-size: 32px;
    padding: 0px;
    margin: 0px;
  }
  footer .iconPreview {
    display: flex;
    align-items: center;
    column-gap: 20px;
    margin-bottom: 32px;
  }
  footer .iconPreview .iconInfo {
    display: block;
    color: var(--Neutrals-2, #23262f);
    font-family: "Poppins", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: -0.48px;
  }

  footer .right-menu {
    max-width: 90%;
    align-self: stretch;
    padding: 32px 0px;
  }
  footer .frame .top-menu .left-menu i {
    margin: 0px;
  }
  footer .bottom-bar {
    flex-direction: column;
    row-gap: 24px;
  }
}

@media screen and (max-width: 576px) {
  :root {
    /* --trainers_columns-count: 2; */
    --programs_column-count: 1;
  }

  .heroHeader {
    padding: 64px 0px;
  }
  .heroHeader .wrap {
    display: block;
    position: relative;
  }
  .heroHeader .container {
    max-width: 95%;
    margin: 0px auto;
  }
  .heroHeader .wrap .contentCol {
    width: 100%;
    display: block;
    margin: 0px;
  }

  .heroHeader .wrap .contentCol .overlap button {
    width: 100%;
    font-size: 24px;
    padding: 24px 0px;
    border-radius: 32px;
  }
  .heroHeader .wrap .previewCol {
    width: 100%;
    margin: 40px 0px 10px 0px;
  }

  .heroHeader .wrap .contentCol .button_arrow_bottom {
    position: absolute;
    left: 0px;
    margin-top: 20px;
    bottom: 0px;
  }

  /*  */
  .catalogNav > ul {
    display: none;
  }

  .select {
    display: flex;
  }
}

/* ******************************************************** */
@media screen and (max-width: 480px) {
  .headerCenter .headerTrialBtn {
    display: none;
  }
  :root {
    --trainers_rows-gap: 24px;
    --trainers_columns-gap: 8px;
  }
  .trainers .trainersList .listWrap .trainerItem .profile {
    margin: 0px auto 32px auto;
    width: 80px;
    height: 80px;
  }

  .trainers .trainersList .listWrap .trainerItem {
    padding: 24px;
  }
}
/*? Mobile Start */
@media screen and (max-width: 390px) {
  .container {
    width: 311px;
    max-width: 95%;
    margin: 0px auto;
    /* padding: 0px 32px; */
  }
  .heroHeader .wrap .contentCol .mainTitle {
    font-size: 36px;
    line-height: 36px;
  }

  .trainers .trainerHead h2.trainerTitle {
    font-size: 42px;
    line-height: 42px;
  }
  .header {
    padding: 48px 0px 24px 0px;
  }

  .header .headerTrialBtn {
    display: none;
  }
  /*? Footer */
}

@media screen and (max-width: 350px) {
  :root {
    --trainers_columns-count: 1;
  }

  .heroHeader .wrap .contentCol .overlap button {
    border-radius: 12px;
  }
  .programs .programsList .programsItem {
    padding: 32px 16px;
  }
  .trainers .trainerHead h2.trainerTitle {
    font-size: 24px;
    line-height: 24px;
  }
  .community h2.communityTitle {
    font-size: 24px;
    line-height: 24px;
  }
  .programs .programsTop h2.programsTitle {
    font-size: 24px;
    line-height: 24px;
  }
}

@media screen and (max-width: 300px) {
}
