/** Root Start */
:root {
  --Primary-1: #ff592c;
  --Primary-2: #9757d7;
  --Primary-3: #ef466f;
  --Primary-4: #45b26b;
  --Secondary-1: #3772ff;
  --Secondary-2: #e4d7cf;
  --Secondary-3: #ffd166;
  --Secondary-4: #cdb4db;
  --Neutrals-1: #141416;
  --Neutrals-2: #23262f;
  --Neutrals-3: #353945;
  --Neutrals-4: #777e90;
  --Neutrals-5: #b1b5c3;
  --Neutrals-6: #e6e8ec;
  --Neutrals-7: #f4f5f6;
  --Neutrals-8: #fcfcfd;
}
/** Root End */
