@import url("https://fonts.cdnfonts.com/css/sf-pro-display?styles=98774,98773,98775,98770,98771");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700;900&display=swap");
:root {
  --primary-orange: #ff592c;
  --primary-purple: #9757d7;
  --primary-red: #ef466f;
  --primary-green: #45b26b;
  --secondary-blue: #3772ff;
  --secondary-white: #e4d7cf;
  --secondary-yellow: #ffd166;
  --secondary-purple: #cdb4db;
  --neutral-1: #141416; /* best  dark */
  --neutral-2: #23262f;
  --neutral-3: #353945;
  --neutral-4: #777e90;
  --neutral-5: #b1b5c3;
  --neutral-6: #e6e8ec;
  --neutral-7: #f4f5f6;
}

* {
  outline: none;
  box-sizing: border-box;
}

html,
body,
ul,
ol {
  padding: 0;
  margin: 0;
}

ul,
ol {
  list-style: none;
}

button {
  border: none;
}

a {
  display: inline-block;
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}
