/* Desktop  Start*/
@media screen and (min-width: 1101px) and (max-width: 1270px) {
  .navbar .navbarLeft .logo > p {
    font-size: 16px;
  }
 
  .bookPoster {
    padding: 136px 40px 136px 40px;
  }

  .bookPoster .detailPoster .detailSide {
    padding: 15px;
    flex-basis: 55%;
  }
  .bookPoster .detailPoster .imgSide {
    flex-basis: 45%;
  }
  .bookPoster .detailPoster .imgSide img {
    width: 100%;
    object-fit: cover;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1100px) {
  /** Navbar */
  .navbar {
    column-gap: 10px;
  }
  .navbar .navbarLeft {
    column-gap: 20px;
  }
  .navbar .navbarRight {
    column-gap: 40px;
  }

  /** Supports  */
  .supports .supportSection .teamLogo ul li img {
    width: 120px;
  }

  /** Substance */

  .substance .boxes > img {
    width: 110px;
  }
  .substance .bound .step_cards .card p {
    padding: 0px 7px;
  }
  /** Intro */
  .intro .content-frame .intro-content .introHeadings {
    width: 390px;
  }
  .intro .content-frame .introImgFrame img {
    width: 100%;
    object-fit: cover;
  }
  /** bookPoster */
  .bookPoster {
    padding: 40px 30px;
  }

  .bookPoster .detailPoster .detailSide {
    padding: 15px 0px;
    flex-basis: 50%;
  }
  .bookPoster .detailPoster .imgSide {
    flex-basis: 50%;
  }
  .bookPoster .detailPoster .imgSide img {
    width: 100%;
    object-fit: cover;
  }
}

/* Tablet Start */
@media screen and (max-width: 1023px) {
  .container {
    max-width: 864px;
    width: 88%;
    margin: 0 auto;
  }
  /** Navbar */
  .header .navbar .navbarLeft .navMenu,
  .header .navbar .navbarLeft .headerDivider,
  .header .navbar .sosialIcons {
    display: none;
  }

  .navbar .navbarRight .openCloseBtns .bars {
    display: flex;
  }

  .header {
    margin: 0px auto;
    padding: 64px 0;
  }
  /**Tablet Hidden Navbar */

  /** HeorSection */
  .heroHeaderFitness .row .frame {
    column-gap: 32px;
  }
  .heroHeaderFitness .row .frame .col-left {
    max-width: 410px;
  }
  .heroHeaderFitness .row .col-right .imgs_container {
    display: none;
  }
  .heroHeaderFitness .col-right .imgs_container img {
    position: static;
  }
  /* Tablet IMG Design */
  .heroHeaderFitness .row .col-right .tablet_container {
    position: relative;
    top: 0;
    left: 0;
    width: 390px;
    height: 560px;
  }
  .heroHeaderFitness .col-right .tablet_container img {
    position: absolute;
  }
  .heroHeaderFitness .col-right .img_common {
    position: relative;
  }
  .heroHeaderFitness .col-right .main_image {
    width: 310px;
    height: 360px;
    left: 19px;
    top: 59px;
  }
  .heroHeaderFitness .col-right .imgbasketball {
    position: absolute;
    width: 140px;
    height: 140px;
    right: 0px;
    top: 190px;
  }
  .heroHeaderFitness .col-right .imgbasketball img {
    object-fit: cover;
    width: 100%;
  }
  .heroHeaderFitness .col-right .imgball {
    width: 57px;
    height: 57px;
    top: 281px;
    left: 60px;
  }

  .heroHeaderFitness .col-right .imgball img {
    object-fit: cover;
    display: block;
    width: 100%;
  }
  .heroHeaderFitness .col-right .tablet_container {
    display: block;
  }

  /** Substance */
  .substance .navigations {
    visibility: visible;
    opacity: 1;
    transition: visibility 1s, opacity 1s linear;
  }

  /** introSection */
  .intro .content_frame {
    column-gap: 2px;
  }

  /** BookClassPoster Start */
  .bookPoster {
    padding: 112px 0px;
  }

  /** Quotes Start */
  .quotes .frame {
    padding: 0px 80px 112px 80px;
  }
  .quotes .frame .quote .author p {
    text-align: justify;
    font-size: 36px;
  }

  /** Footer */

  footer .frame .top-menu .left-menu img {
    margin: 0px 48px 136px 0px;
  }
}

/* Mobile Responsive Start */
@media screen and (max-width: 767px) {
  .outbound {
    display: none;
  }

  /** Mobile Menu */
  .mobileMenu {
    display: none;
  }

  /*  */
  .container {
    max-width: 620px;
    width: 95%;
    margin: 0 auto;
  }

  /* Header */
  .header {
    margin: 0px auto;
    padding: 48px 32px 24px 32px;
  }
  .navbar {
    display: flex;
    column-gap: 0px;
  }
  .navbar .navbarLeft .logo {
    column-gap: 8px;
  }

  .navbar .navbarRight .getBtnAndBar ul li:first-child {
    display: none;
  }
  .navbar .navbarLeft .logo > p {
    color: var(--Neutrals-2, #23262f);
    font-family: "Poppins", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px; 
    letter-spacing: -0.48px;
  }

  /** Hero Header Start */
  .heroHeaderFitness .wrapper {
    row-gap: 48px;
    padding: 64px 0px;
  }
  .heroHeaderFitness .row .frame {
    display: flex;
    flex-direction: column;
  }
  .heroHeaderFitness .row .frame .col-left {
    max-width: 300px;
    width: 100%;
  }
  .heroHeaderFitness .wrapper .row .frame .btnServices {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
  }
  .heroHeaderFitness .wrapper .row .frame div.simpleFitness {
    display: none;
  }
  .heroHeaderFitness .wrapper .mobil_text {
    display: block;
    color: var(--Neutrals-2, #23262f);
    font-family: "SF Pro Display", sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 56px;
    letter-spacing: -0.96px;
  }
  .heroHeaderFitness .wrapper .row .trainSmart {
    color: var(--Neutrals-4, #777e90);
    font-family: "Poppins", sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 12px;
    text-transform: uppercase;
  }

  /* Supports */
  .supports .supportSection p {
    color: var(--Neutrals-2, #23262f);
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
  }

  .supports .supportSection .teamLogo ul {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .supports .supportSection > p:not(.support_mobil_text) {
    display: none;
  }
  .supports .supportSection > p.support_mobil_text {
    display: block;
    color: var(--Neutrals-2, #23262f);
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
  }

  /** Intro Section Start */
  .intro .content_frame {
    display: flex;
    flex-direction: column-reverse;
    row-gap: 32px;
    padding: 0px;
  }
  .intro .content_frame .introImgFrame {
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /** BookPoster  */
  .bookPoster .detailPoster .overlap {
    display: flex;
    flex-direction: column;
  }
  .bookPoster .detailSide button {
    width: 100%;
    text-align: center;
  }
}
