/* *********************************************************** */
@media screen and (max-width: 1440px) {
  * {
    border: 1px solid red;
  }
  .tabletMenu.active {
    display: none;
  }
  button.hidden {
    display: none;
  }
}
/* *********************************************************** */
@media screen and (max-width: 1150px) {
  /*? Navbar Start */
  .headerCenter .headerLinksWrap .navbarLogo {
    padding-right: 30px;
    border-right: 1px solid var(--Neutrals-6);
  }
  .headerCenter .headerLinksWrap {
    column-gap: 30px;
  }

  .headerCenter .headerLinksWrap nav .headerNav {
    column-gap: 24px;
  }
  .headerCenter .headerGroups {
    column-gap: 40px;
  }
  /*! Navbar End */
  /*? heroHeader Start */
  .heroHeader {
    padding: 120px 0px 80px 0px;
  }
  .heroHeader .wrap .contentCol .mainTitle p {
    font-size: 50px;
  }

  /*! heroHeader End */
}

/* *********************************************************** */
@media screen and (max-width: 1095px) {
  /*? steps Start */
  .steps .stepsList .stepsItem:not(:last-child)::after {
    right: -50px;
    width: 60px;
  }
  /*! steps End */

  /*? Intro Start */
  .intro .hline1 {
    font-size: 42px;
    line-height: 52px;
  }
  .intro .wrapper .introContent p {
    margin: 24px 0px;
  }
  /*! Intro End */

  /*? workouts Start */
  .workouts .workoutsFrame .workoutsWrap h2.workoutsTitle {
    font-size: 44px;
  }
  /* ! workouts End   */
}

/* *********************************************************** */
@media screen and (max-width: 1024px) {
  :root {
    --detail_item-distance: 42px;
  }
  /*? Header Start */
  .show {
    display: block;
  }
  .buttonGroups button.hidden {
    display: block;
  }
  .headerCenter nav {
    display: none;
  }
  .headerCenter .headerLinksWrap .navbarLogo {
    border: none;
    padding: 0px;
  }
  .headerCenter .headerGroups ul {
    display: none;
  }
  .buttonGroups {
    display: flex;
    align-items: center;
    column-gap: 40px;
  }
  .buttonGroups .bars {
    display: block;
  }
  /*! Header End */
  /*? heroHeader Start */
  .heroHeader .wrap .contentCol .mainTitle {
    margin: 12px 0px 20px 0px;
  }
  .heroHeader .wrap .contentCol .mainText {
    margin: 0px 0px 20px 0px;
  }
  .heroHeader .wrap .contentCol .mainTitle p {
    font-size: 45px;
    line-height: 55px;
  }
  :root {
    --hero_column-gap: 10px;
  }
  /*! heroHeader End */

  /*? steps Start */
  :root {
    --steps_colum-count: 2;
  }
  .steps {
    padding: 112px 0;
  }
  .steps .stepsList {
    flex-wrap: wrap;
    row-gap: var(--steps_row-gap);
  }

  .steps .stepsList .stepsItem {
    padding: 10px 0px;
  }

  .steps .stepsList .stepsItem:not(:last-child)::after {
    content: none;
  }
  .steps .stepsList .stepsItem:nth-child(1) .stepsPreview:after {
    content: none;
  }
  .steps .stepsList .stepsItem:nth-child(2) .stepsPreview:before,
  .steps .stepsList .stepsItem:nth-child(3) .stepsPreview:before {
    content: none;
  }

  .steps .stepsList .stepsItem:nth-child(2) .stepsPreview:after,
  .steps .stepsList .stepsItem:nth-child(3) .stepsPreview:after {
    content: none;
  }

  .steps .stepsList .stepsItem:nth-child(4) .stepsPreview:before {
    content: none;
  }

  .steps .stepsList .stepsItem .stepsContent {
    max-width: 250px;
    margin: 0 auto;
  }

  .steps .stepsList .stepsItem .stepsPreview {
    margin: 0 auto 40px auto;
  }
  /*! Steps End */
  /*? Intro Start */
  :root {
    --intro_column-gap: 16px;
  }
  /*! intro End */

  /*? bookPoster Start */

  .bookPoster {
    padding: 112px 0px;
  }
  .bookPoster .bookMenu {
    padding: 26px;
  }
  /*! bookPoster End */

  /* ? details Start   */
  .details {
    padding: 112px 0px;
  }
  /*! details End */
  /*? homeAbout Start */

  .homeAbout {
    padding: 112px 0px;
  }
  /*! homeAbout End */

  /*? trainers Start */
  :root {
    --trainer-row-gap: 32px;
  }
  .trainers {
    padding: 112px 0px;
  }
  /*! trainers End */
  /*? review Start */
  .review {
    padding: 0px 0px 112px 0px;
  }
  /*! review End */
  /*? quality Start */
  .quality {
    padding: 0px 0px 112px 0px;
  }
  /*! quality End */
  /*? workouts Start */
  .workouts {
    padding: 112px 0;
  }
  .workouts .workoutsFrame .workoutsWrap h2.workoutsTitle {
    font-size: 40px;
  }
  /* ! workouts End   */
  .offers {
    padding: 0px 0 112px 0;
  }

  /*? Footer Start */
  footer .frame .top-menu {
    display: flex;
    justify-content: space-between;
  }

  footer .frame .top-menu .left-menu ul {
    width: 80px;
  }

  footer .frame .top-menu .left-menu {
    justify-content: space-between;
  }
  footer .frame .top-menu .left-menu i {
    margin: 0px 20px 80px 0px;
  }
  footer .right-menu {
    min-width: 192px;
  }
  /*! Footer End */
}
/* *********************************************************** */
@media screen and (max-width: 950px) {
  :root {
    --poster_column-gap: 16px;
    --workouts_column-gap: 12px;
  }
  /* ? heroHeader Start */
  .heroHeader .buttons_bottomm {
    display: flex;
    /* justify-content: space-between; */
  }
  .heroHeader .buttons_bottomm button {
    font-size: 14px;
    padding: 12px 18px;
  }
  /* ! heroHeader End */
  /*? steps Start */
  .steps .stepsList .stepsItem .stepsPreview {
    margin: 0 auto 20px auto;
  }
  .steps .stepsList .stepsItem .stepsContent {
    max-width: 300px;
  }
  .steps .stepsList .stepsItem .stepsNumber {
    margin-bottom: 20px;
  }
  /*! steps End */

  /*? bookPoster Start */

  .bookPoster .wrapper .bookList .bookItem {
    column-gap: 20px;
    padding: 16px;
  }
  .bookPoster .bookMenu {
    padding: 16px;
  }

  .bookPoster .bookGallery {
    width: calc(52% - (var(--poster_column-gap) * 0.52));
  }

  .bookPoster .bookMenu {
    width: calc(48% - (var(--poster_column-gap) * 0.48));
  }

  /*! bookPoster End */
  /*? workouts Start */
  .workouts .workoutsFrame .workoutsWrap h2.workoutsTitle {
    font-size: 30px;
  }
  .workouts .workoutsFrame .workoutsWrap .workoutsBtns {
    margin: 36px 0px 0px 0px;
  }
  .workouts .workoutsBtns button {
    padding: 12px 16px;
  }
  /*! workouts End */
}

@media screen and (max-width: 900px) {
  :root {
    --hero_column-gap: 1px;
    --about_column-gap: 6px;
  }

  /* ? workouts Start */
  .workouts .workoutsFrame .workoutsGallery img {
    object-fit: unset;
  }
  /* ! workouts End */
  .bookPoster .bookItem .bookDetails .bookContent {
    min-width: 0;
  }

  .bookItem .bookDetails .bookContent br {
    display: none;
  }
}

@media screen and (max-width: 840px) {
  :root {
    --detail_item-distance: 42px;
  }

  /* ? workouts Start */
  .workouts .hline2 {
    line-height: 36px;
  }
  .workouts .workoutsBtns {
    padding: 10px 0px;
  }
  .workouts .workoutsBtns button {
    padding: 10px 8px;
  }
  .workouts .workoutsBtns .btn {
    border-radius: 40px;
  }
  /* ! workouts End */
  .quality .qualityList {
    column-gap: 16px;
  }
  .quality .qualityItem .qualityCounter {
    font-size: 46px;
  }
  .quality .qualityItem .qualityCounter p.appearence_1 {
    display: none;
  }
  .quality .qualityItem .qualityCounter p.appearence_2 {
    display: block;
  }

  footer .frame .top-menu .left-menu i {
    margin: 0px 20px 130px 0px;
  }
  footer span.divider {
    display: none;
  }
}

/* *********************************************************** */
@media screen and (max-width: 768px) {
  /*? Header */
  .tabletMenu .wrap {
    display: flex;
    flex-direction: column;
  }
  .tabletMenu .menuContact {
    display: none;
  }

  .tabletMenu .dropdownBody .headRow .headRightCol {
    display: none;
  }
  .tabletMenu .dropdownBody .headLeftCol a.headerDirection {
    display: none;
  }
  .tabletMenu .dropdownBody .headRow .headLeftCol {
    width: 100%;
    border: none;
  }
  .tabletMenu .dropdownBody .headRow {
    display: block;
  }
  .tabletMenu .dropdownBody {
    margin: 0px;
    border: none;
    box-shadow: none;
  }
  .tabletHeaderFoot {
    display: none;
  }
  .tabletMenu .dropdownBody .headRow .headCol {
    padding: 0px;
  }

  /*? heroHeader Start */
  .heroHeader .wrap .contentCol .mainTitle p {
    font-size: 36px;
    line-height: 42px;
  }
  /*! heroHeader End */
  /*? quality Start */
  .quality .qualityList {
    grid-template-columns: repeat(2, 1fr);
    row-gap: var(--quality_column-gap);
    column-gap: var(--quality_column-gap);
  }
  /*! quality End */
  /*? details Start */
  :root {
    --detail_item-distance: 12px;
  }
  .details .detailsList {
    column-gap: unset;
  }
  .details .detailsList .detailsItem .detailsCategory {
    font-size: 13px;
    max-width: 180px;
  }
  .details .detailsList .detailsItem .detailsContent {
    max-width: 160px;
    width: unset;
    font-size: 12px;
  }
  .details .detailsList .detailsItem .detailsContent {
    max-width: 200px;
  }
  .detailItemMiddle {
    border: none;
  }
  /*! details End */

  .bookPoster .wrapper .bookList .bookItem {
    column-gap: 16px;
    padding: 2px;
  }
  .workouts .workoutsBtns button {
    padding: 8px 2px;
  }
  /* ? Footer */
  footer .top-menu {
    display: flex;
    flex-direction: column;
  }
  footer .middle-menu {
    padding-top: 32px;
  }
  footer .frame .top-menu .left-menu {
    display: flex;
    flex-direction: column;
  }
  footer .frame .top-menu .left-menu ul {
    display: none;
  }
  footer .footerNav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 90%;
  }
  footer .wrapper {
    border: none;
  }
  footer .frame .top-menu .left-menu i.fa-basketball {
    font-size: 32px;
    padding: 0px;
    margin: 0px;
  }
  footer .iconPreview {
    display: flex;
    align-items: center;
    column-gap: 20px;
    margin-bottom: 32px;
  }
  footer .iconPreview .iconInfo {
    display: block;
    color: var(--Neutrals-2, #23262f);
    font-family: "Poppins", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: -0.48px;
  }

  footer .right-menu {
    max-width: 90%;
    align-self: stretch;
    padding: 32px 0px;
  }
  footer .frame .top-menu .left-menu i {
    margin: 0px;
  }
  footer .bottom-bar {
    flex-direction: column;
    row-gap: 24px;
  }
}

/* *********************************************************** */
@media screen and (max-width: 700px) {
  /*? heroHeader Start */
  .heroHeader .wrap {
    flex-direction: column-reverse;
  }

  .heroHeader .wrap .previewCol {
    width: 100%;
  }

  .heroHeader .wrap .contentCol {
    width: 100%;
    margin: 0 auto;
  }

  .heroHeader .wrap .contentCol .overlap {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    text-align: center;
    max-width: 400px;
  }
  .heroHeader .wrap .contentCol .mainTitle p {
    display: none;
  }
  .heroHeader .wrap .contentCol .mainText {
    padding: 0px 10px;
    max-width: 100%;
    margin: 0 auto;
  }
  .heroHeader .wrap .contentCol h3 {
    display: block;
    color: var(--Neutrals-2, #23262f);
    font-family: "SF Pro Display", sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 56px;
    letter-spacing: -0.96px;
  }
  .heroHeader .wrap .contentCol .button_arrow_bottom {
    margin-top: 40px;
  }
  .heroHeader .buttons_bottomm {
    flex-direction: column;
  }
  .heroHeader .buttons_bottomm button {
    width: 70%;
    margin: 10px auto 0 auto;
  }
  /*! heroHeader End */

  /*? intro Start  */
  .intro .wrapper {
    flex-direction: column-reverse;
  }
  .intro .wrapper .introGallery {
    width: 100%;
    padding: 0px 10px;
  }
  .intro .wrapper .introContent {
    width: 100%;
  }
  /*! intro End  */
  /*!? bookPoster Star  */
  .bookPoster .wrapper {
    flex-direction: column;
  }
  .bookPoster .bookMenu {
    display: flex;
    flex-direction: column;
    width: 80%;
    max-width: 600px;
    margin: 0 auto;
    padding: 32px;
  }
  .bookPoster .wrapper .bookList .bookItem {
    column-gap: 24px;
    padding: 16px;
  }
  .bookPoster .bookGallery {
    width: 100%;
  }
  .bookPoster .bookMenu button.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 40px;
  }
  /*! bookPoster End  */

  .details .detailsList {
    /* display: grid;
    justify-items: center;
    grid-template-columns: repeat(1, 1fr);
    row-gap: 32px; */
    flex-direction: column;
    row-gap: 32px;
    align-items: unset;
  }
  .details .detailsList .detailsItem .detailsCategory {
    /* font-size: 13px; */
    max-width: 95%;
  }
  .details .detailsList .detailsItem .detailsContent {
    max-width: 95%;
  }

  .bottomRow .leftCol .aboutList {
    max-width: unset;
  }
  /** Intro start */
  .topRow {
    flex-direction: column;
  }
  .bottomRow {
    flex-direction: column-reverse;
    row-gap: 20px;
  }
  .homeAbout .leftCol {
    width: 100%;
  }
  .homeAbout .rightCol {
    width: 100%;
  }

  /*  */
  :root {
    --trainer-col-gap: 32px;
    --trainer-row-gap: 64px;
    --trainer-col-count: 2;
  }
  /*  */
  .workouts .workoutsFrame {
    flex-direction: column-reverse;
    align-items: unset;
    row-gap: 24px;
  }
  .workouts .workoutsFrame .workoutsWrap {
    width: 100%;
  }
  .workouts .workoutsFrame .workoutsGallery {
    width: 100%;
  }
  .workouts .workoutsFrame .workoutsWrap .workoutsBtns {
    flex-direction: column;
    row-gap: 20px;
    align-items: unset;
  }
}

/* *********************************************************** */
@media screen and (max-width: 500px) {
}
@media screen and (max-width: 395px) {
  .container {
    width: 100%;
    max-width: 100%;
    margin: 0xp;
    padding: 0px 32px;
  }
  .header {
    padding: 48px 0px 24px 0px;
  }

  .header .headerTrialBtn {
    display: none;
  }

  .quality .qualityList {
    grid-template-columns: repeat(1, 1fr);
  }

  .advantages .advantagesList {
    flex-direction: column;
    row-gap: 32px;
  }

  .advantages .advantagesItem {
    width: 100%;
  }

  .trainers .trainersList .listWrap {
    flex-direction: column;
  }
  .trainers .trainersList .listWrap .trainerItem {
    width: 100%;
  }
}
