/*todo: Sections */
/*? Header Start */

.header {
  margin: 0px auto;
  padding: 48px 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 84px;
}

.navbar .navbarLeft {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 48px;
}

.navbar .navbarLeft .logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 8px;
}

.navbar .navbarLeft .headerDivider {
  width: 1px;
  height: 48px;
  background-color: var(--Neutrals-6, #e6e8ec);
}

.navbar .navbarLeft ul.navMenu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 32px;
}
.navbar .navbarLeft ul.navMenu .classDropdown {
  position: relative;
}

.navbar .navbarLeft ul.navMenu .classDropdown a.btnMenu {
  display: flex;
  align-items: center;
}
.navbar .navbarLeft ul.navMenu .classDropdown a.btnMenu p {
  padding: 4px 8px;
}
.openCloseBtns img {
  cursor: pointer;
}

/** Dropdown Menu */
.navbar .navbarLeft #dropdownMenu {
  position: absolute;
  left: 0px;
  width: 250%;
  display: none;
}
.navbar .navbarLeft #dropdownMenu li a {
  display: flex;
  justify-content: flex-start;
  column-gap: 10px;
  align-items: center;
  padding: 10px 0;
  color: var(--Neutrals-4, #777e90);
}

.navbar .navbarLeft #dropdownMenu li a img {
  padding: 4px;
  border-radius: 50%;
}

.navbar .navbarLeft #dropdownMenu .blueIcon img {
  background-color: var(--Secondary-1, #3772ff);
}

.navbar .navbarLeft #dropdownMenu .orangeIcon img {
  background-color: var(--Primary-1, #ff592c);
}

.navbar .navbarLeft .classDropdown:hover #dropdownMenu {
  display: block;
}

.navbar .navbarLeft #dropdownMenu li:hover {
  background-color: var(--Neutrals-6);
}
/** DropdownMenu */

.navbar .navbarRight {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 64px;
}

.navbar .navbarRight .sosialIcons > ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 24px;
}
.navbar .navbarRight .sosialIcons > ul li > a {
  display: flex;
  align-items: center;
}

.navbar .navbarRight .openCloseBtns {
  display: flex;
  align-items: center;
}
.navbar .navbarRight .openCloseBtns ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 40px;
}

.navbar .navbarRight .openCloseBtns li a.btnSmall {
  display: block;
  text-align: center;
  padding: 12px 16px;
  border-radius: 90px;
  border: 2px solid var(--Neutrals-6);
}

.navbar .navbarRight .openCloseBtns .bars {
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}
.navbar .navbarRight .openCloseBtns .bars img {
  display: block;
}

.navbar .navbarRight .openCloseBtns .closeBtn {
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}
/* <!--  --> */
/** <!-- Table Mode --> */
.outbound {
  display: none;
}

.tabletMenu .overlap {
  display: flex;
  flex-direction: column;
  row-gap: 48px;
}

.tabletMenu .overlap .menu {
  display: flex;
  justify-content: space-between;
}
.tabletMenu .overlap .menu nav ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 48px;
}
.tabletMenu .overlap .menu nav ul li {
  width: 181px;
}
.tabletMenu .overlap .menu nav ul li a {
  color: var(--Neutrals-4, #777e90);

  /* Headline 3 */
  font-family: "SF Pro Display", sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px; /* 120% */
  letter-spacing: -0.4px;
}
.tabletMenu .overlap .menu nav ul a:hover {
  color: var(--Neutrals-2, #23262f);
}

.tabletMenu .overlap .menu .navlinks ul .tClassDropdown a {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tabletMenu .overlap .menu .contact {
  min-width: 336px;
}
.tabletMenu .overlap .menu .contact > ul.rightside {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  row-gap: 32px;
}

.tabletMenu .overlap .menu .contact .tIcons .iconItem {
  display: flex;
  column-gap: 48px;
  align-items: center;
  justify-content: flex-start;
}

.tabletMenu .overlap .menu .contact .tIcons .iconItem a {
  display: flex;
  justify-content: center;
  align-items: center;
}
.tabletMenu .overlap .menu .contact > ul.rightside p {
  color: var(--Neutrals-2, #23262f);

  /* Body 1 */
  font-family: "Poppins";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 133.333% */
  letter-spacing: -0.24px;
  margin: 0px 0px 8px 0px;
}
.tabletMenu .overlap .menu .contact > ul.rightside span {
  color: var(--Neutrals-4, #777e90);

  /* Caption */
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.tabletMenu .subMenu {
  height: 521px;
  /* background-color: #9293967c; */
}
.tabletMenu ul.tabletLifestyle a {
  color: var(--Neutrals-4, #777e90);
  font-family: "SF Pro Display", sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: -0.4px;
}
.tabletMenu ul.tabletLifestyle a:hover {
  color: var(--Neutrals-2, #23262f);
}
/* SubMenu */
.tabletMenu .subMenu .tframe .toverlap {
  display: flex;
  flex-direction: column;
  row-gap: 1px;
}
.tabletMenu .subMenu .tframe .topMenu {
  display: flex;
  justify-content: space-between;
}
.subMenu .tframe .topMenu .achieves {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 32px;
  width: 50%;
}
.subMenu .tframe .topMenu .achieves .type {
  display: flex;
  justify-content: space-between;
}

.subMenu .tframe .topMenu .achieves .type > p {
  color: var(--Neutrals-2, #23262f);
  width: clamp(40%, 100%, 180px);
  /* Body 1 (Bold) */
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px; /* 133.333% */
}
.subMenu .tframe .topMenu .achieves .links ul {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}
.subMenu .tframe .topMenu .achieves .links ul li {
  padding: 16px;
}
.subMenu .tframe .topMenu .achieves .links ul li a {
  display: flex;
  column-gap: 13px;
  align-items: center;
}
.subMenu .tframe .topMenu .achieves .links ul li .youtube {
  padding: 4px;
  border-radius: 50%;
  background-color: var(--Secondary-1);
}
.subMenu .tframe .topMenu .achieves .links ul li .premium {
  padding: 4px;
  border-radius: 50%;
  background-color: var(--Primary-1);
}

.subMenu .tframe .topMenu .menuDivider {
  width: 1px;
  background-color: var(--Neutrals-6, #e6e8ec);
  height: 338px;
}

.subMenu .tframe .topMenu .minifeatures {
  padding: 32px;
  width: 50%;
}
.subMenu .tframe .topMenu .minifeatures .featureFrame {
  display: flex;
  gap: 32px 40px;
}
.subMenu .tframe .topMenu .minifeatures .featurecard {
  display: flex;
  align-items: center;
  column-gap: 32px;
  height: 120px;
}

.subMenu .tframe .topMenu .minifeatures .featureContent {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}
.subMenu .tframe .topMenu .minifeatures .featureContent .top_content {
  display: flex;
  column-gap: 4px;
}
.subMenu .minifeatures .featureContent .top_content span:nth-child(1) {
  border-radius: 4px;
  background-color: var(--Neutrals-2, #23262f);
  color: var(--Neutrals-8, #fcfcfd);
  padding: 8px;
  /* Hairline 2 */
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 12px;
  text-transform: uppercase;
}

.subMenu .minifeatures .featureContent .top_content span:nth-child(2) {
  border-radius: 4px;
  background: var(--Primary-4, #45b26b);
  color: var(--Neutrals-8, #fcfcfd);
  padding: 8px;
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 12px;
  text-transform: uppercase;
}

.subMenu .tframe .topMenu .minifeatures .featureContent .detail {
  display: flex;
  column-gap: 16px;
}
.subMenu .tframe .topMenu .minifeatures .featureContent .detail .detailAvatar {
  width: 40px;
  height: 40px;
  border-radius: 40px;
  background-color: var(--Neutrals-6, #e6e8ec);
}
.subMenu .tframe .featureContent .detail .detailAvatar img {
  width: 100%;
  object-fit: cover;
  border-radius: 40px;
}

.subMenu .tframe .featureContent .detail .fullname {
  display: flex;
  flex-direction: column;
  row-gap: 2px;
}
.subMenu .tframe .featureContent .detail .fullname p:nth-child(1) {
  color: var(--Neutrals-2, #23262f);

  /* Body 2 (Bold) */
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}
.subMenu .tframe .featureContent .detail .fullname p:nth-child(2) {
  display: flex;
  column-gap: 4px;
}
.subMenu .tframe .featureContent .detail .fullname p:nth-child(2) span {
  color: var(--Neutrals-4, #777e90);

  /* Caption 2 */
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 166.667% */
}
.subMenu .tframe .featureContent .detail .fullname p:nth-child(1) {
  color: var(--Neutrals-2, #23262f);

  /* Body 2 (Bold) */
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}
.subMenu .tframe .featureContent .detail .fullname p:nth-child(2) {
  display: flex;
  column-gap: 4px;
}
.subMenu .tframe .featureContent .detail .fullname p:nth-child(2) span {
  color: var(--Neutrals-4, #777e90);

  /* Caption 2 */
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.subMenu .tframe .trainers {
  display: flex;
  flex-direction: column;
  row-gap: 32px;
  padding: 32px;
}
.subMenu .tframe .trainers > p {
  color: var(--Neutrals-2, #23262f);

  /* Body 1 (Bold) */
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px; /* 133.333% */
}

.subMenu .tframe .trainers .cardlist {
  display: flex;
  justify-content: space-between;
}
.subMenu .tframe .trainers .card .card_concept {
  display: flex;
  column-gap: 16px;
}

.subMenu .tframe .trainers .card .card_concept img {
  border-radius: 56px;
  background-color: var(--Neutrals-6, #e6e8ec);
}
.subMenu .tframe .trainers .card .card_concept .content {
  display: flex;
  flex-direction: column;
  row-gap: 4px;
}
.subMenu .tframe .trainers .card .card_concept .content .fullname {
  display: flex;
  column-gap: 4px;
}

.subMenu .tframe .trainers .card .card_concept .content .fullname span {
  display: block;
  text-align: center;
  color: var(--Neutrals-2, #23262f);

  /* Body 2 (Bold) */
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 150% */
}

.subMenu .tframe .trainers .card .card_concept .trainerInfo p {
  color: var(--Neutrals-4, #777e90);

  /* Caption */
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
}

/** <!-- Table End --> */
/* <!-- Mobile Mode --> */
.mobileMenu {
  display: none;
}
.mobileMenu .nav_links {
  margin: 64px 0px 0px 0px;
}
.mobileMenu .nav_links ul li a:hover {
  color: var(--Neutrals-2);
}
.mobileMenu .nav_links > ul {
  display: flex;
  flex-direction: column;
}

.mobileMenu .nav_links > ul > li {
  padding: 16px 0px;
  position: relative;
}

.mobileMenu .nav_links ul > li a {
  color: var(--Neutrals-4, #777e90);

  /* Body 1 (Bold) */
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
}
.mobileMenu .nav_links ul > li.super_dropdown:hover .mobileDropdown {
  display: block;
}
.mobileMenu .nav_links .super_dropdown > a {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.mobileMenu .nav_links .super_dropdown > a i.fa-arrow-down {
  color: var(--Neutrals-4);
  font-size: 22px;
  height: 32px;
  width: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mobileMenu .nav_links ul.mobileDropdown {
  padding: 0px 0px 0px 2px;
  display: none;
}
.mobileMenu .nav_links ul.mobileDropdown li {
  padding: 16px 56px 16px 0px;
}
.mobileMenu .nav_links ul.mobileDropdown li a {
  display: flex;
  align-items: center;
  column-gap: 10px;
}
.mobileMenu .nav_links .super_dropdown > ul img.youtube {
  padding: 6px;
  background-color: var(--Secondary-1);
  border-radius: 32px;
}

.mobileMenu .nav_links .super_dropdown > ul img.lighting {
  padding: 6px;
  background-color: var(--Primary-1);
  border-radius: 32px;
}

.mobileMenu .searchBar .frame ul.bottomSearchBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px 0px;
}

.mobileMenu .searchBar .frame ul.bottomSearchBar > li button {
  padding: 16px 24px;
  color: var(--Neutrals-2);
  font-family: "SF Pro Display", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  border-radius: 90px;
  border: 2px solid var(--Neutrals-6, #e6e8ec);
  text-align: center;
}

.mobileMenu .searchBar .frame ul.bottomSearchBar li img {
  width: 100%;
  object-fit: cover;
}

/* <!-- Mobile Mode --> */

/*! Header End */
/*? heroHeader Start */
.heroHeader {
  background: var(--Neutrals-8, #fcfcfd);
}
.heroHeader .wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  column-gap: 30px;
}
.heroHeader .wrap .contentCol {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin: 60px 0 0 0;
  width: 40%;
}
.heroHeader .wrap .contentCol p.stgae {
  color: var(--Neutrals-4, #777e90);

  /* Hairline 1 */
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px; /* 100% */
  text-transform: uppercase;
}
.heroHeader .wrap .contentCol .mainTitle {
  color: var(--Neutrals-2, #23262f);

  /* Headline 1 */
  font-family: "SF Pro Display";
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: 64px; /* 100% */
  letter-spacing: -1.28px;
  margin: 12px 0px 40px 0px;
}

.heroHeader .wrap .contentCol .mainText {
  color: var(--Neutrals-4, #777e90);
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  margin: 0px 0px 40px 0px;
}
.heroHeader .wrap .contentCol .buttons_bottomm {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  column-gap: 16px;
}

.heroHeader .wrap .contentCol .button_arrow_bottom {
  margin: 140px 0 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-radius: 64px;
  border: 2px solid var(--Neutrals-6, #e6e8ec);
}
.heroHeader .wrap .contentCol .button_arrow_bottom img {
  width: 100%;
}

.heroHeader .wrap .previewCol {
  width: 60%;
}
.heroHeader .wrap .previewCol img {
  width: 100%;
}
/*! heroHeader End */
/*? clients Start */
.clients .clientsTitle p {
  margin: 0px 0px 40px 0px;
  color: var(--Neutrals-2, #23262f);
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}
.clients .clientsList ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*! Supports End */
/*? steps Start */
.steps {
  margin: 136px 0;
  background-color: var(--Neutrals-8, #fcfcfd);
}

.steps .headings {
  margin: 0 auto 0 auto;
  text-align: center;
  width: 545px;
}
.steps .headings h2 {
  margin: 0px 0px 20px 0px;
}

.steps .wrapper .headings h2 {
  color: var(--Neutrals-2);
  text-align: center;
  width: 544px;
}

.steps .wrapper .headings p {
  color: var(--Neutrals-3);
  text-align: center;
  width: 544px;
}

.steps .wrapper .boxes {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 24px;
  margin: 80px 0px;
}

.steps .boxes .box {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 28px;
  border-radius: 24px;
}

.steps .boxes .box-1 {
  background-color: var(--Secondary-1);
}
.steps .boxes .box-2 {
  background-color: var(--Primary-2);
}
.steps .boxes .box-3 {
  background-color: var(--Primary-3);
}
.steps .boxes .box-4 {
  background-color: var(--Primary-4);
}

.steps .wrapper .step_cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 32px;
}

.steps .wrapper .step_cards .card h3 {
  color: var(--Neutrals-4);
  text-align: center;
}

.steps .wrapper .step_cards .card h4 {
  color: var(--Neutrals-2);
  text-align: center;
  margin: 32px auto 16px auto;
}
.steps .wrapper .step_cards .card p {
  color: var(--Neutrals-3);
  text-align: center;
}
.steps .navigations {
  display: none;

  margin: 64px 0px 0px 0px;
}
.steps .navigations ul {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 20px;
}
.steps .navigations ul li img {
  display: block;
}
/*! steps End */

/*? intro Start */
.intro .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 32px;
}
.intro .wrapper .introContent {
  width: 40%;
}

.intro .wrapper .introContent h2 {
  color: var(--Neutrals-2);
}

.intro .wrapper .introContent p {
  color: var(--Neutrals-4);
  margin: 32px 0 40px 0px;
}
.intro .wrapper .introContent button {
  padding: 16px 24px;
  border-radius: 90px;
  background-color: var(--Primary-1);
  color: var(--Neutrals-8);
  text-align: center;
}

.intro .wrapper .introGallery {
  width: 60%;
}
.intro .wrapper .introGallery img {
  width: 100%;
  object-fit: cover;
}

/*! intro End */

/*? BookPoster Start */
.bookPoster {
  margin: 136px 0px;
  background: var(--Neutrals-7, #f4f5f6);
}

.bookPoster .wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 32px;
}

.bookPoster .bookGallery {
  width: calc(50% - 16px);
  /* box-shadow: 0px 64px 64px -48px rgba(15, 15, 15, 0.1); */
}

.bookPoster .bookGallery img {
  width: 100%;
  object-fit: cover;
}

.bookPoster .bookMenu {
  width: calc(50% - 16px);
  padding: 48px;
  border-radius: 20px;
  background-color: var(--Neutrals-8, #fcfcfd);
  box-shadow: 0px 64px 64px -48px rgba(15, 15, 15, 0.1);
}

.bookPoster .bookMenu h2.bookTitle {
  color: var(--Neutrals-2, #23262f);
  font-family: "SF Pro Display", sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 56px;
  letter-spacing: -0.96px;
}

.bookPoster .bookMenu p.bookInfo {
  color: var(--Neutrals-4, #777e90);
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin: 24px 0px;
}

.bookPoster .wrapper .bookList {
  display: flex;
  flex-direction: column;
  row-gap: 4px;
}

.bookPoster .wrapper .bookList .bookItem {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  column-gap: 24px;
  padding: 24px;
}
.bookPoster .wrapper .bookList .bookIcon {
  padding: 8px;
  border-radius: 40px;
  align-self: flex-start;
}
.bookPoster .bookList .bookItem:nth-child(1) .bookIcon {
  background-color: var(--Primary-4, #45b26b);
}
.bookPoster .bookList .bookItem:nth-child(2) .bookIcon {
  background-color: var(--Primary-2, #9757d7);
}
.bookPoster .bookList .bookItem:nth-child(3) .bookIcon {
  background-color: var(--Secondary-1, #3772ff);
}
.bookPoster .bookList .bookIcon img {
  display: block;
  width: 24px;
  height: 24px;
}
.bookPoster .bookItem .bookDetails .bookSubtitle {
  color: var(--Neutrals-2, #23262f);
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}
.bookPoster .bookItem .bookDetails .bookContent {
  min-width: 260px;
  margin: 4px 0px 0px 0px;
  color: var(--Neutrals-4, #777e90);
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.bookPoster .wrapper p.bookNote {
  margin: 24px 0px;
  color: var(--Neutrals-4, #777e90);

  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.bookPoster .wrapper p.bookNote .bookGreen {
  color: var(--Primary-4, #45b26b);
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}
.bookPoster .wrapper p.bookNote .bookBlack {
  color: var(--Neutrals-2, #23262f);
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}
/*! BookPoster End */

/*? details Start  */
.details {
  background-color: var(--Neutrals-8, #fcfcfd);
}
.details .detailsHead {
  max-width: 600px;
  margin: 0px auto 80px auto;
}
.details .detailsHead .stageSmall {
  text-align: center;
  color: var(--Neutrals-4, #777e90);
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 12px;
  text-transform: uppercase;
}
.details .detailsHead .detailsTitle {
  margin: 8px auto 0px auto;
  color: var(--Neutrals-2, #23262f);
  text-align: center;
  font-family: "SF Pro Display", sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 56px; /* 116.667% */
  letter-spacing: -0.96px;
}
.details .detailsList {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 83px;
}
.details .detailsList span.divider {
  height: 300px;
  display: block;
  width: 1px;
  background-color: var(--Neutrals-6);
}
.details .detailsList .detailsItem .detailsCategory {
  margin: 32px 0px;
  color: var(--Neutrals-2, #23262f);
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}
.details .detailsList .detailsItem .detailsContent {
  color: var(--Neutrals-4, #777e90);

  /* Caption */
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
}

/*! details End  */
/*? homeAbout Start */
.homeAbout {
  margin: 136px 0px;
}
.homeAbout .aboutRow {
  display: flex;
  justify-content: space-between;
}
.homeAbout .aboutRow .aboutCol {
  margin: 0px 12px;
  width: calc(50% - 24px);
}
.homeAbout .topRow .aboutCol p.stage {
  color: var(--Neutrals-5, #b1b5c3);
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  text-transform: uppercase;
}
.homeAbout .topRow .aboutCol h2.aboutTitle {
  color: var(--Neutrals-2, #23262f);
  font-family: "SF Pro Display", sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 56px;
  letter-spacing: -0.96px;
}
.homeAbout .topRow .aboutCol p.aboutInfo {
  margin: 20px 0px 0px 0px;
  max-width: 450px;
  color: var(--Neutrals-4, #777e90);
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.homeAbout .bottomRow {
  margin: 128px 0px 0px 0px;
}
.homeAbout .bottomRow .aboutList {
  width: 262px;
}
.homeAbout .bottomRow .aboutItem:nth-child(2) {
  margin: 48px 0px;
}

.homeAbout .bottomRow .aboutItem:nth-child(1) .aboutNumber {
  background: var(--Primary-2, #9757d7);
}
.homeAbout .bottomRow .aboutItem:nth-child(2) .aboutNumber {
  background: var(--Primary-3, #9757d7);
}
.homeAbout .bottomRow .aboutItem:nth-child(3) .aboutNumber {
  background: var(--Primary-4, #9757d7);
}
.homeAbout .bottomRow .aboutItem .aboutNumber {
  display: inline-block;
  padding: 2px 12px;
  border-radius: 100px;
  color: var(--Neutrals-8, #fcfcfd);
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}
.homeAbout .bottomRow .aboutItem h2.aboutSubtitle {
  margin: 24px 0px 16px 0px;
  color: var(--Neutrals-2, #23262f);
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}
.homeAbout .bottomRow .aboutItem p.aboutContent {
  color: var(--Neutrals-4, #777e90);

  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
}
.homeAbout .bottomRow .aboutCol .aboutBackground {
  position: relative;
  border-radius: 24px;
  height: 100%;
  background-color: var(--Neutrals-6, #e6e8ec);
}

.homeAbout .bottomRow .aboutBackground img.pillBox {
  position: absolute;
  width: 75%;
  z-index: 5;
  right: 0;
  bottom: 0;
}

.homeAbout .bottomRow .aboutBackground .platePreview {
  position: absolute;
  top: 1.5%;
  left: -31%;
  width: 64.5%;
  pointer-events: none;
}
.homeAbout .bottomRow .aboutBackground .platePreview img {
  width: 100%;
}
.homeAbout .bottomRow .aboutBackground .playPreview {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 15;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  transform: translate(-50%, -50%);
  box-shadow: 0px 8px 16px -8px rgba(15, 15, 15, 0.2);
  border-radius: 50%;
  background: #fcfcfd;
}

/*! homeAbout End */
/* ? trainers Start   */
:root {
  --trainer-col-gap: 32px;
  --trainer-row-gap: 64px;
  --trainer-col-count: 3;
}
.trainers .trainerHead {
  width: 544px;
  margin: 0 auto 80px auto;
}
.trainers .trainerHead h2.trainerTitle {
  color: var(--Neutrals-2, #23262f);
  text-align: center;

  font-family: "SF Pro Display", sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 56px;
  letter-spacing: -0.96px;
}
.trainers .trainerHead p.trainerInfo {
  margin: 20px auto 40px auto;
  color: var(--Neutrals-3, #353945);
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.trainers .trainerHead .trainerNav ul {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 12px;
}
.trainers .trainerHead .trainerNav ul li {
  padding: 6px 12px;
  border-radius: 100px;
}
.trainers .trainerHead .trainerNav ul li a {
  transition: all 0.5s ease-in;
  display: block;
  text-align: center;
  color: var(--Neutrals-4, #777e90);

  font-family: "SF Pro Display", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
}
.trainers .trainerHead .trainerNav ul li a:hover {
  color: var(--Neutrals-3);
}

.trainers .trainerHead .trainerNav ul li:has(a.active) {
  background-color: var(--Neutrals-3, #353945);
}

.trainers .trainerHead .trainerNav ul li a.active {
  color: var(--Neutrals-8);
}
.trainers .trainersList .listWrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  column-gap: var(--trainer-col-gap);
  row-gap: var(--trainer-row-gap);
}

.trainers .trainersList .listWrap .trainerItem {
  text-align: center;

  /* width: calc(
    (100% - ((var(--trainer-col-count)-1) * var(--trainer-col-gap))) /
      var(--trainer-col-count)
  ); */
  width: calc((100% - 96px) / 3);
}

.trainers .trainersList .listWrap .trainerItem .profile {
  margin: 0px auto 24px auto;
  width: 160px;
  height: 160px;
  border-radius: 16px;
  background: var(--Neutrals-6, #e6e8ec);
}
.trainers .trainersList .listWrap .trainerItem .profile img {
  width: 100%;
}

.trainers .trainersList .listWrap .trainerItem .trainerName {
  margin: 0px auto 4px auto;
  color: var(--Neutrals-2, #23262f);

  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}
.trainers .trainersList .listWrap .trainerItem .trainerPosition {
  color: var(--Neutrals-4, #777e90);
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}
/* ! trainers End   */

/* @import "./sections/_workoutDetail.css"; */
/*? WorkoutDetail Start  */
section.workoutDetail {
  margin: 0 auto;
  padding: 136px 0;
}
.workoutDetail .workoutFrame {
  display: flex;
  flex-direction: column;
  row-gap: 128px;
}

.workoutDetail .workoutFrame .topHead {
  display: flex;
  align-items: start;
  justify-content: space-between;
}
.workoutDetail .workoutFrame .topHead > span {
  color: var(--Neutrals-5, #b1b5c3);
  /* Hairline 1 */
}

.workoutDetail .workoutFrame .topHead .rightHeading {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 20px;
  width: 528px;
}
.workoutDetail .workoutFrame .topHead .mainHeading p {
  color: var(--Neutrals-2, #23262f);
  /* Headline 2 */
}
.workoutDetail .workoutFrame .topHead .auxHeading {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.workoutDetail .workoutFrame .topHead .auxHeading span {
  color: var(--Neutrals-4, #777e90);
  padding: 0 80px 0 0;
  /* Body 2 */
}

.workoutDetail .workoutFrame .bottomHead {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 70px;
}
.workoutDetail .workoutFrame .bottomHead .vrtclCardList {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 48px;
  flex-basis: 40%;
}
/*
    .workoutDetail .workoutFrame .bottomHead .vrtclCardList .card {
       display: flex;
      flex-direction: column;
      row-gap: 24px;
      justify-content: flex-start; 
    
    }
    */
.workoutDetail .workoutFrame .bottomHead .card > span {
  padding: 2px 12px;
  border-radius: 100px;
  color: var(--Neutrals-8, #fcfcfd);
  /* Caption (Bold) */
}
.workoutDetail .workoutFrame .bottomHead .card:nth-child(1) > span {
  background-color: var(--Primary-2);
}
.workoutDetail .workoutFrame .bottomHead .card:nth-child(2) > span {
  background-color: var(--Primary-3);
}
.workoutDetail .workoutFrame .bottomHead .card:nth-child(3) > span {
  background-color: var(--Primary-4);
}

.workoutDetail .bottomHead .card span.summary {
  color: var(--Neutrals-2, #23262f);
}

.workoutDetail .bottomHead .card .detailContent p {
  color: var(--Neutrals-4, #777e90);
  /* Caption */
}
.workoutDetail .bottomHead .card .detailContent p span {
  display: block;
}
.workoutDetail .bottomHead .vrtclCardList .card .detailContent {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  margin: 24px 0 0 0;
}
.workoutDetail .workoutFrame .bottomHead .rightImgContent {
  flex-basis: 70%;
}
.workoutDetail .workoutFrame .bottomHead .rightImgContent img {
  width: 100%;
  object-fit: cover;
}

/* .workoutDetail .workoutFrame .bottomHead .rightImgContent {
    width: 548px;
    height: 650px;
    border-radius: 24px;
    position: relative;
  } */
/* .weightPlate {
    position: absolute;
    z-index: 20;
    width: 253px;
    height: 198px;
    right: 380px;
    bottom: 304px;
    filter: brightness(0.1);
  } */

/* .workoutDetail .workoutFrame .bottomHead .rightImgContent .pills {
    position: absolute;
    top: 37px;
    right: 65px;
    width: 630px;
    height: 692px;
  } */
/*! WorkoutDetail End  */

/* @import "./sections/_quotes.css"; */

/* ? quotes Start   */

.quotes .frame {
  padding: 136px 192px;
  display: flex;
  flex-direction: column;
  row-gap: 48px;
  align-items: center;
}
.quotes .frame .quote {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 40px;
}

.quotes .frame .quote .author {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px 0px;
}

.quotes .frame .quote .divider {
  background-color: var(--Neutrals-6, #e6e8ec);
  height: 2px;
  width: 100%;
}
.quotes .frame .quote .author p {
  color: var(--Neutrals-2, #23262f);
  text-align: center;

  /* Headline 3 */
  font-family: "SF Pro Display", sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px; /* 120% */
  letter-spacing: -0.4px;
}
.quotes .frame .quote .q-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  row-gap: 4px;
}

.quotes .frame .quote .q-info h4 {
  color: var(--Neutrals-2, #23262f);

  /* Body 2 (Bold) */
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 150% */
}
.quotes .frame .quote .q-info p {
  color: var(--Neutrals-4, #777e90);
  text-align: center;

  /* Caption */
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
}

.quotes .frame .slide-btns .arrows {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 20px;
}
.quotes .frame .slide-btns .arrows button {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
/* ! quotes End   */

/* @import "./sections/_siteDetail.css"; */
/* ? siteDetails Start   */
.siteDetails .cardList {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  column-gap: 32px;
  padding: 136px 0;
}
.siteDetails .cardList .card {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  flex-basis: 25%;
}
.siteDetails .cardList .card .topContent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 64px;
}
.siteDetails .cardList .card .topContent h3 {
  color: var(--Neutrals-2, #23262f);

  /* Headline 1 */
  font-family: "SF Pro Display", sans-serif;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: 64px; /* 100% */
  letter-spacing: -1.28px;
}
.siteDetails .cardList .card span.divider {
  background-color: var(--Neutrals-6, #e6e8ec);
}
.siteDetails .cardList .card .bottomContent {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}
.siteDetails .cardList .card .bottomContent .Statement {
  color: var(--Neutrals-2, #23262f);

  /* Body 2 (Bold) */
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 150% */
}
.siteDetails .cardList .card .bottomContent .info {
  color: var(--Neutrals-4, #777e90);

  /* Caption */
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
}

/* ! siteDetails End   */

/* @import "./sections/_anySpace.css"; */
/* ? anySpace Start   */

.anySpace .frame {
  display: flex;
  flex-direction: column;
  row-gap: 80px;
  align-items: center;
  justify-content: center;
  padding: 136px 0;
  text-align: center;
}
.anySpace .frame .headings {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  width: 50%;
  row-gap: 20px;
}

.anySpace .frame .headings h2 {
  color: var(--Neutrals-2, #23262f);
  text-align: center;

  /* Headline 2 */
  font-family: "SF Pro Display", sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 56px; /* 116.667% */
  letter-spacing: -0.96px;
}
.anySpace .frame .headings p {
  color: var(--Neutrals-3, #353945);
  text-align: center;

  /* Body 2 */
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}

.anySpace .frame .cards {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  column-gap: 24px;
}
.anySpace .frame .cards .card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  flex-basis: 33%;
  width: 100%;
  row-gap: 80px;
}
.anySpace .frame .card .profile {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}
.anySpace .frame .card img {
  position: absolute;
  background-color: transparent;
}

.anySpace .frame .card .handgripcolor {
  top: 12px;
  left: 15px;
}

.anySpace .frame .card .left_hand_icon {
  top: 60px;
  left: -10px;
}
.anySpace .frame .card .right_hand_icon {
  top: 20 px;
  right: 20px;
}

.anySpace .frame .card .profile .avatar {
  border-radius: 50%;
  background-color: var(--Neutrals-4);
  width: 160px;
  height: 160px;
}
.anySpace .frame .card p {
  color: var(--Neutrals-2, #23262f);
  text-align: center;
  padding: 0px 10%;

  /* Body 1 (Bold) */
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px; /* 133.333% */
}
/* ! anySpace End   */

/* @import "./sections/_plans.css"; */
/* ? plans Start   */
.plans .frame {
  display: flex;
  column-gap: 32px;
  justify-content: space-between;
  padding: 136px 0;
}
.plans .frame .leftMenu {
  display: flex;
  flex-direction: column;
  row-gap: 48px;
  max-width: 448px;
}
.plans .frame .leftMenu .texts h2 {
  color: var(--Neutrals-2, #23262f);
  /* Headline 2 */
}
.plans .frame .leftMenu .texts span {
  color: var(--Neutrals-4, #777e90);
  /* Body 1 */
}

.plans .frame .texts {
  display: flex;
  flex-direction: column;
  row-gap: 32px;
}

.plans .frame .texts .details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 16px;
}
.plans .frame .texts .details .plan {
  display: flex;
  column-gap: 12px;
  justify-content: flex-start;
}
.plans .frame .texts .details .plan p {
  color: var(--Neutrals-4, #777e90);
  /* Body 2 (Bold) */
}

.plans .frame .leftMenu .choosePlan {
  display: flex;
  column-gap: 12px;
  align-items: center;
}
.plans .frame .leftMenu .choosePlan button {
  display: flex;
  justify-content: center;
  align-items: center;
}
.plans .frame .leftMenu .choosePlan button:nth-child(1) {
  background-color: var(--Primary-1, #ff592c);
  color: var(--Neutrals-8, #fcfcfd);
  text-align: center;
  /* Button 1 */
}
.plans .frame .leftMenu .choosePlan button:nth-child(2) {
  border: 2px solid var(--Neutrals-6, #e6e8ec);

  color: var(--Neutrals-2, #23262f);
  text-align: center;
  /* Button 1 */
}
.plans .frame .rigtMenu .wrapper {
  display: flex;
  max-width: 625px;
  padding: 0 10px 0px 10px;
}
.plans .frame .rigtMenu .wrapper img {
  width: 100%;
  object-fit: cover;
}

/* ! plans End   */

/* @import "./sections/_anyWhere.css"; */
/* ? anyWhere  Start  */
.anyWhere .frame {
  padding: 80px 0px 136px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.anyWhere .frame .content {
  padding: 136px 0 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 48px;
}

.anyWhere .frame .content .head {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  row-gap: 32px;
}
.anyWhere .frame .content .head > span {
  color: var(--Neutrals-4, #777e90);
  text-align: center;
  width: 450px;
  padding: 0 10px;
  /* Body 2 */
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}
.anyWhere .frame .content .head .toptitle {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}
.anyWhere .frame .content .toptitle span:first-child {
  color: var(--Neutrals-4, #777e90);
  text-align: center;

  /* Hairline 1 */
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px; /* 100% */
  text-transform: uppercase;
}
.anyWhere .frame .content .toptitle span:nth-child(2) {
  color: var(--Neutrals-2, #23262f);
  text-align: center;

  /* Headline 1 */
  font-family: "SF Pro Display", sans-serif;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: 64px; /* 100% */
  letter-spacing: -1.28px;
}

.anyWhere .frame .content a {
  padding: 16px 24px;
  border-radius: 90px;
  background-color: var(--Primary-1, #ff592c);
}

.anyWhere .frame .content a span {
  color: var(--Neutrals-8, #fcfcfd);
  text-align: center;

  /* Button 1 */
  font-family: "SF Pro Display", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px; /* 100% */
}
/* ! anyWhere  End */

/* @import "./sections/_footer.css"; */
/* ? Footer Start */
footer .frame {
  display: flex;
  flex-direction: column;
}
footer .frame .top-menu {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

footer .frame .top-menu .left-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-items: flex-start;
  column-gap: 32px;
  position: relative;
}
footer .frame .top-menu .left-menu ul {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}
footer .frame .top-menu .left-menu img {
  margin: 0 128px 136px 0;
}

footer .frame .top-menu .left-menu ul li {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
footer .frame .top-menu .left-menu ul li a {
  color: var(--Neutrals-4, #777e90);

  /* Button 2 */
  font-family: "SF Pro Display", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
}

footer .middle-menu {
  display: flex;
  flex-direction: column;
  row-gap: 41px;
}
footer .middle-menu p {
  color: var(--Neutrals-2, #23262f);
  /* Hairline 2 */
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 12px; /* 100% */
  text-transform: uppercase;
}
footer .middle-menu ul li {
  color: var(--Neutrals-2, #23262f);
  /* Caption */
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
footer .middle-menu ul.main-ul {
  display: flex;
  row-gap: 8px;
  flex-direction: column;
}
footer .middle-menu ul.main-ul ul {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 3px 0 0 0;
}

footer .right-menu {
  display: flex;
  flex-direction: column;
  padding: 80px 0 64px 0;
  justify-content: flex-start;
  row-gap: 40px;
  width: 256px;
}
footer .right-menu p {
  color: var(--Neutrals-2, #23262f);
  /* Hairline 2 */
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 12px; /* 100% */
  text-transform: uppercase;
}
footer .right-menu .sub-bottom-menu {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}
footer .right-menu .sub-bottom-menu > span {
  color: var(--Neutrals-2, #23262f);

  /* Caption */
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
  padding: 0 8px 0 0;
}

footer .right-menu .sub-bottom-menu .arrow form {
  display: flex;
  column-gap: 18px;
  justify-content: flex-end;
  padding: 8px 16px;
  border-radius: 90px;
  border: 2px solid var(--Neutrals-6, #e6e8ec);
}
footer input {
  border: none;
  outline: none;
  display: block;
}
footer .right-menu .sub-bottom-menu .arrow a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px;
  background-color: var(--Primary-1);
  border-radius: 50%;
}

footer .bottom-bar {
  display: flex;
  justify-content: space-between;
  padding: 24px 0;
}
footer .bottom-bar span {
  color: var(--Neutrals-4, #777e90);

  /* Caption 2 */
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 166.667% */
}
footer .bottom-bar ul {
  display: flex;
  column-gap: 24px;
}
footer .bottom-bar ul li {
  display: flex;
  justify-content: center;
  align-items: center;
}

footer .divider {
  width: 1px;
  height: 384px;
  background-color: var(--Neutrals-6, #e6e8ec);
  /* background-color: darkblue; */
}
footer .pad-80 {
  padding: 80px 0 0 0;
}
/* ! Footer End*/

/*todo:  */
