/*todo: Sections */
/*? Header Start */

.header {
  margin: 0px auto;
  padding: 48px 0;
  position: relative;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 84px;
}

.navbar .navbarLeft {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 48px;
}

.navbar .navbarLeft .logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 8px;
}

.navbar .navbarLeft .headerDivider {
  width: 1px;
  height: 48px;
  background-color: var(--Neutrals-6, #e6e8ec);
}

.navbar .navbarLeft ul.navMenu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 32px;
}
.navbar .navbarLeft ul.navMenu .classDropdown {
  position: relative;
}

.navbar .navbarLeft ul.navMenu .classDropdown a.btnMenu {
  display: flex;
  align-items: center;
}
.navbar .navbarLeft ul.navMenu .classDropdown a.btnMenu p {
  padding: 4px 8px;
}
.active {
  display: block;
}
.navbar .navbarLeft ul.navMenu .classDropdown a i {
  display: none;
}
.navbar .navbarLeft ul.navMenu .classDropdown a i.active {
  display: block;
}
.openCloseBtns img {
  cursor: pointer;
}

/** Dropdown Menu */
.navbar .navbarLeft #dropdownMenu {
  position: absolute;
  left: 0px;
  width: 250%;
  display: none;
}
.navbar .navbarLeft #dropdownMenu li a {
  display: flex;
  justify-content: flex-start;
  column-gap: 10px;
  align-items: center;
  padding: 10px 0;
  color: var(--Neutrals-4, #777e90);
}

.navbar .navbarLeft #dropdownMenu li a img {
  padding: 4px;
  border-radius: 50%;
}

.navbar .navbarLeft #dropdownMenu .blueIcon img {
  background-color: var(--Secondary-1, #3772ff);
}

.navbar .navbarLeft #dropdownMenu .orangeIcon img {
  background-color: var(--Primary-1, #ff592c);
}

.navbar .navbarLeft .classDropdown:hover #dropdownMenu {
  display: block;
}

.navbar .navbarLeft #dropdownMenu li:hover {
  background-color: var(--Neutrals-6);
}
/** DropdownMenu */

.navbar .navbarRight {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 64px;
}

.navbar .navbarRight .sosialIcons > ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 24px;
}
.navbar .navbarRight .sosialIcons > ul li > a {
  display: flex;
  align-items: center;
}

.navbar .navbarRight .openCloseBtns {
  display: flex;
  align-items: center;
}
.navbar .navbarRight .openCloseBtns ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 40px;
}

.navbar .navbarRight .openCloseBtns li a.btnSmall {
  display: block;
  text-align: center;
  padding: 12px 16px;
  border-radius: 90px;
  border: 2px solid var(--Neutrals-6);
}

.navbar .navbarRight .openCloseBtns .bars {
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}
.navbar .navbarRight .openCloseBtns .bars img {
  display: block;
}

.navbar .navbarRight .openCloseBtns .closeBtn {
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}
/* <!--  --> */
/** <!-- Table Mode --> */
.outbound {
  display: none;
}

.tabletMenu .overlap {
  display: flex;
  flex-direction: column;
  row-gap: 48px;
}

.tabletMenu .overlap .menu {
  display: flex;
  justify-content: space-between;
}
.tabletMenu .overlap .menu nav ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 48px;
}
.tabletMenu .overlap .menu nav ul li {
  width: 181px;
}
.tabletMenu .overlap .menu nav ul li a {
  color: var(--Neutrals-4, #777e90);

  /* Headline 3 */
  font-family: "SF Pro Display", sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px; /* 120% */
  letter-spacing: -0.4px;
}
.tabletMenu .overlap .menu nav ul a:hover {
  color: var(--Neutrals-2, #23262f);
}

.tabletMenu .overlap .menu .navlinks ul .tClassDropdown a {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tabletMenu .overlap .menu .contact {
  min-width: 336px;
}
.tabletMenu .overlap .menu .contact > ul.rightside {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  row-gap: 32px;
}

.tabletMenu .overlap .menu .contact .tIcons .iconItem {
  display: flex;
  column-gap: 48px;
  align-items: center;
  justify-content: flex-start;
}

.tabletMenu .overlap .menu .contact .tIcons .iconItem a {
  display: flex;
  justify-content: center;
  align-items: center;
}
.tabletMenu .overlap .menu .contact > ul.rightside p {
  color: var(--Neutrals-2, #23262f);

  /* Body 1 */
  font-family: "Poppins";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 133.333% */
  letter-spacing: -0.24px;
  margin: 0px 0px 8px 0px;
}
.tabletMenu .overlap .menu .contact > ul.rightside span {
  color: var(--Neutrals-4, #777e90);
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.tabletMenu .subMenu {
  height: 521px;
}
.tabletMenu ul.tabletLifestyle a {
  color: var(--Neutrals-4, #777e90);
  font-family: "SF Pro Display", sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: -0.4px;
}
.tabletMenu ul.tabletLifestyle a:hover {
  color: var(--Neutrals-2, #23262f);
}
/* SubMenu */
.tabletMenu .subMenu .tframe .toverlap {
  display: flex;
  flex-direction: column;
  row-gap: 1px;
}
.tabletMenu .subMenu .tframe .topMenu {
  display: flex;
  justify-content: space-between;
}
.subMenu .tframe .topMenu .achieves {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 32px;
  width: 50%;
}
.subMenu .tframe .topMenu .achieves .type {
  display: flex;
  justify-content: space-between;
}

.subMenu .tframe .topMenu .achieves .type > p {
  color: var(--Neutrals-2, #23262f);
  width: clamp(40%, 100%, 180px);
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
}
.subMenu .tframe .topMenu .achieves .links ul {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}
.subMenu .tframe .topMenu .achieves .links ul li {
  padding: 16px;
}
.subMenu .tframe .topMenu .achieves .links ul li a {
  display: flex;
  column-gap: 13px;
  align-items: center;
}
.subMenu .tframe .topMenu .achieves .links ul li .youtube {
  padding: 4px;
  border-radius: 50%;
  background-color: var(--Secondary-1);
}
.subMenu .tframe .topMenu .achieves .links ul li .premium {
  padding: 4px;
  border-radius: 50%;
  background-color: var(--Primary-1);
}

.subMenu .tframe .topMenu .menuDivider {
  width: 1px;
  background-color: var(--Neutrals-6, #e6e8ec);
  height: 338px;
}

.subMenu .tframe .topMenu .minifeatures {
  padding: 32px;
  width: 50%;
}
.subMenu .tframe .topMenu .minifeatures .featureFrame {
  display: flex;
  gap: 32px 40px;
}
.subMenu .tframe .topMenu .minifeatures .featurecard {
  display: flex;
  align-items: center;
  column-gap: 32px;
  height: 120px;
}

.subMenu .tframe .topMenu .minifeatures .featureContent {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}
.subMenu .tframe .topMenu .minifeatures .featureContent .top_content {
  display: flex;
  column-gap: 4px;
}
.subMenu .minifeatures .featureContent .top_content span:nth-child(1) {
  border-radius: 4px;
  background-color: var(--Neutrals-2, #23262f);
  color: var(--Neutrals-8, #fcfcfd);
  padding: 8px;
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 12px;
  text-transform: uppercase;
}

.subMenu .minifeatures .featureContent .top_content span:nth-child(2) {
  border-radius: 4px;
  background: var(--Primary-4, #45b26b);
  color: var(--Neutrals-8, #fcfcfd);
  padding: 8px;
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 12px;
  text-transform: uppercase;
}

.subMenu .tframe .topMenu .minifeatures .featureContent .detail {
  display: flex;
  column-gap: 16px;
}
.subMenu .tframe .topMenu .minifeatures .featureContent .detail .detailAvatar {
  width: 40px;
  height: 40px;
  border-radius: 40px;
  background-color: var(--Neutrals-6, #e6e8ec);
}
.subMenu .tframe .featureContent .detail .detailAvatar img {
  width: 100%;
  object-fit: cover;
  border-radius: 40px;
}

.subMenu .tframe .featureContent .detail .fullname {
  display: flex;
  flex-direction: column;
  row-gap: 2px;
}
.subMenu .tframe .featureContent .detail .fullname p:nth-child(1) {
  color: var(--Neutrals-2, #23262f);
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}
.subMenu .tframe .featureContent .detail .fullname p:nth-child(2) {
  display: flex;
  column-gap: 4px;
}
.subMenu .tframe .featureContent .detail .fullname p:nth-child(2) span {
  color: var(--Neutrals-4, #777e90);
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}
.subMenu .tframe .featureContent .detail .fullname p:nth-child(1) {
  color: var(--Neutrals-2, #23262f);
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}
.subMenu .tframe .featureContent .detail .fullname p:nth-child(2) {
  display: flex;
  column-gap: 4px;
}
.subMenu .tframe .featureContent .detail .fullname p:nth-child(2) span {
  color: var(--Neutrals-4, #777e90);
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.subMenu .tframe .trainers {
  display: flex;
  flex-direction: column;
  row-gap: 32px;
  padding: 32px;
}
.subMenu .tframe .trainers > p {
  color: var(--Neutrals-2, #23262f);

  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
}
.subMenu .tframe .trainers .cardlist {
  display: flex;
  justify-content: space-between;
}
.subMenu .tframe .trainers .card .card_concept {
  display: flex;
  column-gap: 16px;
}

.subMenu .tframe .trainers .card .card_concept img {
  border-radius: 56px;
  background-color: var(--Neutrals-6, #e6e8ec);
}
.subMenu .tframe .trainers .card .card_concept .content {
  display: flex;
  flex-direction: column;
  row-gap: 4px;
}
.subMenu .tframe .trainers .card .card_concept .content .fullname {
  display: flex;
  column-gap: 4px;
}

.subMenu .tframe .trainers .card .card_concept .content .fullname span {
  display: block;
  text-align: center;
  color: var(--Neutrals-2, #23262f);

  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}

.subMenu .tframe .trainers .card .card_concept .trainerInfo p {
  color: var(--Neutrals-4, #777e90);

  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

/** <!-- Table End --> */
/* <!-- Mobile Mode --> */
.mobileMenu {
  display: none;
}
.mobileMenu .nav_links {
  margin: 64px 0px 0px 0px;
}
.mobileMenu .nav_links ul li a:hover {
  color: var(--Neutrals-2);
}
.mobileMenu .nav_links > ul {
  display: flex;
  flex-direction: column;
}

.mobileMenu .nav_links > ul > li {
  padding: 16px 0px;
  position: relative;
}

.mobileMenu .nav_links ul > li a {
  color: var(--Neutrals-4, #777e90);
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
}
.mobileMenu .nav_links ul > li.super_dropdown:hover .mobileDropdown {
  display: block;
}
.mobileMenu .nav_links .super_dropdown > a {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.mobileMenu .nav_links .super_dropdown > a i.fa-arrow-down {
  color: var(--Neutrals-4);
  font-size: 22px;
  height: 32px;
  width: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mobileMenu .nav_links ul.mobileDropdown {
  padding: 0px 0px 0px 2px;
  display: none;
}
.mobileMenu .nav_links ul.mobileDropdown li {
  padding: 16px 56px 16px 0px;
}
.mobileMenu .nav_links ul.mobileDropdown li a {
  display: flex;
  align-items: center;
  column-gap: 10px;
}
.mobileMenu .nav_links .super_dropdown > ul img.youtube {
  padding: 6px;
  background-color: var(--Secondary-1);
  border-radius: 32px;
}

.mobileMenu .nav_links .super_dropdown > ul img.lighting {
  padding: 6px;
  background-color: var(--Primary-1);
  border-radius: 32px;
}

.mobileMenu .searchBar .frame ul.bottomSearchBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px 0px;
}

.mobileMenu .searchBar .frame ul.bottomSearchBar > li button {
  padding: 16px 24px;
  color: var(--Neutrals-2);
  font-family: "SF Pro Display", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  border-radius: 90px;
  border: 2px solid var(--Neutrals-6, #e6e8ec);
  text-align: center;
}

.mobileMenu .searchBar .frame ul.bottomSearchBar li img {
  width: 100%;
  object-fit: cover;
}

/* ?-- Desktop Mode --> */
:root {
  --desktopDropdown_column-gap: 40px;
}
.desktopMode {
  display: none;
  position: absolute;
  width: 100%;
  background-color: var(--Neutrals-8);
  z-index: 500;
  height: 745px;
}
.desktopMode.active {
  display: block;
}
.desktopMode .headerRow {
  /* border: 1px solid red; */
  border-radius: 20px;
  display: flex;
}
.desktopMode .borderWrapper {
  border-radius: 24px;
  box-shadow: 0px 64px 64px -48px rgba(15, 15, 15, 0.1);
  border: 1px solid #e6e8ec;
}
.desktopMode .col {
  padding: 40px;
}
.desktopMode .leftCol {
  width: 27%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-right: 1px solid #e6e8ec;
  border-bottom: 1px solid #e6e8ec;
}
.desktopMode .rightCol {
  width: 73%;
  border-left: 1px solid var(--Neutrals-6);
  border-bottom: 1px solid var(--Neutrals-6);
}

.desktopMode .leftCol .text p {
  color: var(--Neutrals-2, #23262f);
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
}
.ball-icon {
  display: block;
  width: 48px;
  height: 48px;
  margin-top: 24px;
}
.desktopMode .linksItem li a {
  display: flex;
  column-gap: 14px;
  padding: 16px;
  align-items: center;
}

.desktopMode .linksItem li a p {
  color: var(--Neutrals-2, #23262f);

  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}
.desktopMode .linksItem li a img {
  padding: 4px;
  display: block;
  height: 32px;
  border-radius: 50%;
}
.desktopMode .linksItem li:nth-child(1) a img {
  background-color: var(--Secondary-1);
}
.desktopMode .linksItem li:nth-child(2) a img {
  background-color: var(--Primary-1);
}
.desktopMode .linksItem li {
  border-radius: 8px;
}
.desktopMode .linksItem li:hover {
  background-color: var(--Neutrals-7);
}
.desktopMode .headerLine {
  display: flex;
  column-gap: 40px;
}
.desktopMode .headerLine .headerCel {
  width: calc((50% - (var(--desktopDropdown_column-gap) * 0.5)));
}
.desktopMode .headerLine .leftCel .imagePreview {
  position: relative;
  border-radius: 16px;
  border: 2px solid transparent;
  overflow: hidden;
  transition: all 0.4s ease;
}
.desktopMode .headerLine .leftCel .imagePreview:hover {
  border-color: var(--Primary-1);
}
.desktopMode .headerLine .leftCel .imagePreview > img:hover {
  transform: scale(1.2);
  cursor: pointer;
}
.desktopMode .headerLine .leftCel .imagePreview img {
  transition: all 0.4s ease;
  width: 100%;
  object-fit: cover;
  border-radius: 16px;
}
.desktopMode .headerLine .leftCel .imagePreview .statusBlack {
  position: absolute;
  top: 8px;
  left: 8px;
  padding: 8px;
  border-radius: 4px;
  background-color: var(--Neutrals-2, #23262f);
  color: var(--Neutrals-8, #fcfcfd);
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 12px;
  text-transform: uppercase;
}
.desktopMode .leftCel .headerUser {
  padding: 24px 0px 12px 0px;
  display: flex;
  justify-content: space-between;
}
.desktopMode .leftCel .headerUser .headerAvatar {
  margin-right: 16px;
  width: 40px;
  height: 40px;
  border-radius: 56px;
  background-color: var(--Neutrals-4, #e6e8ec);
}

.desktopMode .leftCel .headerUser .headerAvatar img {
  width: 100%;
  border-radius: 40px;
  object-fit: cover;
}
.headerCel .headerUser .detailTitle {
  color: var(--Neutrals-2, #23262f);
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
}
.headerCel .headerUser .detailTrainer {
  color: var(--Neutrals-4, #777e90);
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.headerUser .headerUserStatus {
  padding: 8px;
  border-radius: 4px;
  border: 2px solid var(--Primary-4, #45b26b);
  color: var(--Primary-4, #45b26b);
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 12px;
  text-transform: uppercase;
  align-self: flex-start;
}
.desktopMode .headerCel .headerContent {
  color: var(--Neutrals-4, #777e90);
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.desktopMode .rightCel .headerItem {
  display: flex;
  column-gap: 24px;
  height: 120px;
}
.desktopMode .rightCel .headerItem:not(:last-child) {
  margin-bottom: 32px;
}
.desktopMode .rightCel .headerPhoto {
  width: 140px;
  height: 120px;
  overflow: hidden;
  border: 2px solid transparent;
  border-radius: 8px;
  transition: all 0.4s ease;
}
.desktopMode .rightCel .headerPhoto:hover {
  border-color: var(--Primary-1);
}
.desktopMode .rightCel .headerPhoto:hover > img {
  transform: scale(1.3);
}
.desktopMode .rightCel .headerPhoto img {
  width: 100%;
  display: block;
  object-fit: cover;
  border-radius: 8px;
  transition: all 0.4s ease;
}
.desktopMode .rightCel .headerItem .headerDescription {
  align-self: center;
}
.desktopMode .rightCel .headerItem .headerStatus {
  padding: 8px;
  display: inline-block;
  color: var(--Neutrals-8, #fcfcfd);
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 12px;
  text-transform: uppercase;
  border-radius: 4px;
}
.desktopMode .rightCel .headerItem .headerStatus.yoga {
  background-color: var(--Primary-4);
}
.desktopMode .rightCel .headerItem .headerStatus.mindfullness {
  background-color: var(--Primary-2);
}
.desktopMode .rightCel .headerItem .headerStatus.fitness {
  background-color: var(--Primary-1);
}
.desktopMode .rightCel .headerItem .headerUser {
  display: flex;
  column-gap: 16px;
  margin-top: 12px;
}
.desktopMode .rightCel .headerItem .headerAvatar {
  width: 40px;
  height: 40px;
}
.desktopMode .rightCel .headerItem .headerAvatar img {
  width: 100%;
  display: block;
  object-fit: cover;
  border-radius: 50%;
}
.desktopMode .rightCel .headerItem .headerTitle {
  color: var(--Neutrals-2, #23262f);
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  margin-bottom: 2px;
}
.desktopMode .rightCel .headerItem .headerTrainer {
  color: var(--Neutrals-4, #777e90);
  font-family: "Poppins", sans-serif;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}
.desktopMode .desHeaderFoot .headerAvatar img {
  width: 100%;
  object-fit: cover;
  display: block;
  border-radius: 50%;
}
.desktopMode .desHeaderFoot .headerAvatar {
  width: 56px;
  height: 56px;
  border-radius: 50%;
}
.desktopMode .desHeaderFoot {
  padding: 40px;
}
.desktopMode .desHeaderFoot .footStage {
  color: var(--Neutrals-2, #23262f);
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
  margin-bottom: 32px;
}
.desktopMode .desHeaderFoot .footList {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.desktopMode .desHeaderFoot .headerUser {
  display: flex;
  column-gap: 16px;
}

.desktopMode .desHeaderFoot .headerUser .footTitle {
  color: var(--Neutrals-2, #23262f);

  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  margin-bottom: 4px;
}

.desktopMode .desHeaderFoot .headerUser .footTrainer {
  color: var(--Neutrals-4, #777e90);
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
/*! Header End */

:root {
  --hero_column-gap: 30px;
}
/*? heroHeader Start */
.heroHeader {
  background: var(--Neutrals-8, #fcfcfd);
}
.heroHeader .wrap {
  display: flex;
  align-items: center;
  column-gap: var(--hero_column-gap);
}
.heroHeader .wrap .contentCol {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin: 60px 0 0 0;
  width: calc(40% - (var(--hero_column-gap) * 0.4));
}
.heroHeader .wrap .contentCol p.stage {
  color: var(--Neutrals-4, #777e90);
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  text-transform: uppercase;
}
.heroHeader .wrap .contentCol .mainTitle {
  color: var(--Neutrals-2, #23262f);
  font-family: "SF Pro Display";
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: 64px;
  letter-spacing: -1.28px;
  margin: 12px 0px 40px 0px;
}

.heroHeader .wrap .contentCol .mainText {
  color: var(--Neutrals-4, #777e90);
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin: 0px 0px 40px 0px;
}
.heroHeader .wrap .contentCol .buttons_bottomm {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  column-gap: 16px;
}
.heroHeader .wrap .contentCol button:nth-child(2):hover {
  box-shadow: 0 0 0 2px #23262f inset;
  background: var(--Neutrals-2);
  color: var(--Neutrals-8);
}
.heroHeader .wrap .contentCol .button_arrow_bottom {
  margin: 140px 0 0 0;
  display: inline-block;
  padding: 20px;
  border-radius: 64px;
  border: 2px solid var(--Neutrals-6, #e6e8ec);
}
.heroHeader .wrap .contentCol .button_arrow_bottom i {
  width: 100%;
  display: block;
  font-size: 16px;
  color: var(--Neutrals-4);
}

.heroHeader .wrap .previewCol {
  width: calc(60% - (var(--hero_column-gap) * 0.6));
}
.heroHeader .wrap .previewCol img {
  width: 100%;
}
/*! heroHeader End */

/*? clients Start */
.clients .clientsTitle p {
  margin: 0px 0px 40px 0px;
  color: var(--Neutrals-2, #23262f);
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}
.clients .clientsList ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*! clients End */
/*? steps Start */
.steps {
  padding: 136px 0;
  background-color: var(--Neutrals-8, #fcfcfd);
}

.steps .stepsHead {
  margin: 0 auto 80px;
  text-align: center;
  width: 545px;
}
.steps .stepsHead h2 {
  margin-bottom: 20px;
}
.myswiper {
  width: 100%;
  /* background-color: #bebebe; */
}
.steps .stepsList {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 32px;
  /* display: flex; */
  /* align-items: center; */
}
.steps .stepsList .stepsItem {
  position: relative;
  text-align: center;
  /* width: 25%; */
}

.steps .stepsList .stepsItem:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 39px;
  right: -79px;
  width: 120px;
  height: 2px;
  background-image: linear-gradient(
    90deg,
    #b1b5c3 0,
    #b1b5c3 6px,
    transparent 6px,
    transparent 14px
  );
  background-repeat: repeat-x;
  background-size: 12px auto;
}
/*  */

/*  */
.steps .stepsList .stepsItem .stepsPreview {
  position: relative;
  text-align: center;
  margin: 0 auto 80px;
  width: 80px;
  height: 80px;
  padding: 28px;
  border-radius: 24px;
}
.steps .stepsList .stepsItem:nth-child(1) .stepsPreview:after {
  content: "";
  position: absolute;
  top: 50%;
  right: -36px;
  width: 12px;
  height: 12px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  border-radius: 50%;
  border: 2px solid #b1b5c3;
}
*/

.steps .stepsList .stepsItem:nth-child(2) .stepsPreview:before,
.steps .stepsList .stepsItem:nth-child(3) .stepsPreview:before {
  content: "";
  position: absolute;
  top: 50%;
  left: -36px;
  width: 12px;
  height: 12px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  border-radius: 50%;
  border: 2px solid #b1b5c3;
}

.steps .stepsList .stepsItem:nth-child(2) .stepsPreview:after,
.steps .stepsList .stepsItem:nth-child(3) .stepsPreview:after {
  content: "";
  position: absolute;
  top: 50%;
  right: -36px;
  width: 12px;
  height: 12px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  border-radius: 50%;
  border: 2px solid #b1b5c3;
}

.steps .stepsList .stepsItem:nth-child(4) .stepsPreview:before {
  content: "";
  position: absolute;
  top: 50%;
  left: -36px;
  width: 12px;
  height: 12px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  border-radius: 50%;
  border: 2px solid #b1b5c3;
} 

.steps .stepsList .stepsItem:nth-child(1) .stepsPreview {
  background-color: var(--Secondary-1, #3772ff);
}
.steps .stepsList .stepsItem:nth-child(2) .stepsPreview {
  background-color: var(--Primary-2, #9757d7);
}
.steps .stepsList .stepsItem:nth-child(3) .stepsPreview {
  background-color: var(--Primary-3, #ef466f);
}
.steps .stepsList .stepsItem:nth-child(4) .stepsPreview {
  background-color: var(--Primary-4, #45b26b);
}
.steps .stepsList .stepsItem .stepsPreview img {
  width: 100%;
  display: inline-block;
  object-fit: cover;
}

.steps .stepsList .stepsItem .stepsNumber {
  margin-bottom: 32px;
  color: var(--Neutrals-4, #777e90);
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
}
.steps .stepsList .stepsItem .stepsSubtitle {
  margin-bottom: 16px;
  color: var(--Neutrals-2, #23262f);
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}
.steps .stepsList .stepsItem .stepsContent {
  color: var(--Neutrals-3, #353945);
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.steps .navigations {
  display: none;

  margin: 64px 0px 0px 0px;
}
.steps .navigations ul {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 20px;
}
.steps .navigations ul li img {
  display: block;
}
/*! steps End */

/*? intro Start */
:root {
  --intro_column-gap: 32px;
}
.intro .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: var(--intro_column-gap);
}
.intro .wrapper .introContent {
  width: calc(40% - (var(--hero_column-gap) * 0.4));
}

.intro .wrapper .introContent h2 {
  color: var(--Neutrals-2);
}

.intro .wrapper .introContent p {
  color: var(--Neutrals-4);
  margin: 32px 0 40px 0px;
}
.intro .wrapper .introContent button {
  padding: 16px 24px;
  border-radius: 90px;
  background-color: var(--Primary-1);
  color: var(--Neutrals-8);
  text-align: center;
}

.intro .wrapper .introGallery {
  width: calc(60% - (var(--hero_column-gap) * 0.6));
}
.intro .wrapper .introGallery img {
  width: 100%;
  object-fit: cover;
}

/*! intro End */

/*? BookPoster Start */
:root {
  --poster_column-gap: 32px;
}
.bookPoster {
  padding: 136px 0px;
  background: var(--Neutrals-7, #f4f5f6);
}

.bookPoster .wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: var(--poster_column-gap);
}

.bookPoster .bookGallery {
  width: calc(50% - (var(--poster_column-gap) * 0.5));
  /* box-shadow: 0px 64px 64px -48px rgba(15, 15, 15, 0.1); */
}

.bookPoster .bookGallery img {
  width: 100%;
  object-fit: cover;
}

.bookPoster .bookMenu {
  width: calc(50% - (var(--poster_column-gap) * 0.5));
  padding: 48px;
  border-radius: 20px;
  background-color: var(--Neutrals-8, #fcfcfd);
  box-shadow: 0px 64px 64px -48px rgba(15, 15, 15, 0.1);
}

.bookPoster .bookMenu h2.bookTitle {
  color: var(--Neutrals-2, #23262f);
  font-family: "SF Pro Display", sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 56px;
  letter-spacing: -0.96px;
}

.bookPoster .bookMenu p.bookInfo {
  color: var(--Neutrals-4, #777e90);
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin: 24px 0px;
}

.bookPoster .wrapper .bookList {
  display: flex;
  flex-direction: column;
  row-gap: 4px;
}

.bookPoster .wrapper .bookList .bookItem {
  display: flex;
  align-items: center;
  column-gap: 24px;
  padding: 24px;
}
.bookPoster .wrapper .bookList .bookIcon {
  padding: 8px;
  border-radius: 40px;
  align-self: flex-start;
}
.bookPoster .bookList .bookItem:nth-child(1) .bookIcon {
  background-color: var(--Primary-4, #45b26b);
}
.bookPoster .bookList .bookItem:nth-child(2) .bookIcon {
  background-color: var(--Primary-2, #9757d7);
}
.bookPoster .bookList .bookItem:nth-child(3) .bookIcon {
  background-color: var(--Secondary-1, #3772ff);
}
.bookPoster .bookList .bookIcon img {
  display: block;
  width: 24px;
  height: 24px;
}
.bookPoster .bookItem .bookDetails .bookSubtitle {
  color: var(--Neutrals-2, #23262f);
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}
.bookPoster .bookItem .bookDetails .bookContent {
  min-width: 260px;
  margin: 4px 0px 0px 0px;
  color: var(--Neutrals-4, #777e90);
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.bookPoster .wrapper p.bookNote {
  margin: 24px 0px;
  color: var(--Neutrals-4, #777e90);

  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.bookPoster .wrapper p.bookNote .bookGreen {
  color: var(--Primary-4, #45b26b);
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}
.bookPoster .wrapper p.bookNote .bookBlack {
  color: var(--Neutrals-2, #23262f);
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}
.bookPoster .wrapper .bookMenu .bookBtn > button {
  display: flex;
  align-items: center;
  column-gap: 12px;
  margin: 0 0 0 auto;
}
/*! BookPoster End */

/*? details Start  */
:root {
  --details_column-gap: 83px;
  --details_column-count: 5;
  --details_divider-width: 1px;
}
.details {
  padding: 136px 0px;
  background-color: var(--Neutrals-8, #fcfcfd);
}
.details .detailsHead {
  max-width: 600px;
  margin: 0px auto 80px auto;
}
.details .detailsHead .stageSmall {
  text-align: center;
  color: var(--Neutrals-4, #777e90);
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 12px;
  text-transform: uppercase;
}
.details .detailsHead .detailsTitle {
  margin: 8px auto 0px auto;
  color: var(--Neutrals-2, #23262f);
  text-align: center;
  font-family: "SF Pro Display", sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 56px;
  letter-spacing: -0.96px;
}
.details .detailsList {
  display: flex;
  align-items: center;
  column-gap: var(--details_column-gap);
}
.details .detailsList span.divider {
  width: var(--details_divider-width);
  height: 300px;
  background-color: var(--Neutrals-6);
}

.details .detailsList .detailsItem {
  width: calc(
    (
        100% -
          (
            ((var(--details_column-count) - 1) * var(--details_column-gap)) +
              2px
          )
      ) / 3
  );
}
.details .detailsList .detailsItem .detailsIcon img {
  display: block;
}

.details .detailsList .detailsItem .detailsCategory {
  margin: 32px 0px;
  color: var(--Neutrals-2, #23262f);
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}
.details .detailsList .detailsItem .detailsContent {
  color: var(--Neutrals-4, #777e90);
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
/*! details End  */

/*? homeAbout Start */
/* 
.homeAbout {
  padding: 136px 0px;
}
.homeAbout .aboutRow {
  display: flex;
  justify-content: space-between;
}
.homeAbout .aboutRow .aboutCol {
  margin: 0px;
  width: calc(50%);
}
.homeAbout .topRow .aboutCol p.stage {
  color: var(--Neutrals-5, #b1b5c3);
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  text-transform: uppercase;
}
.homeAbout .topRow .aboutCol h2.aboutTitle {
  color: var(--Neutrals-2, #23262f);
  font-family: "SF Pro Display", sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 56px;
  letter-spacing: -0.96px;
}
.homeAbout .topRow .aboutCol p.aboutInfo {
  margin: 20px 0px 0px 0px;
  max-width: 450px;
  color: var(--Neutrals-4, #777e90);
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.homeAbout .bottomRow {
  margin: 128px 0px 0px 0px;
}
.homeAbout .bottomRow .aboutList {
  width: 262px;
}
.homeAbout .bottomRow .aboutItem:nth-child(2) {
  margin: 48px 0px;
}

.homeAbout .bottomRow .aboutItem:nth-child(1) .aboutNumber {
  background: var(--Primary-2, #9757d7);
}
.homeAbout .bottomRow .aboutItem:nth-child(2) .aboutNumber {
  background: var(--Primary-3, #9757d7);
}
.homeAbout .bottomRow .aboutItem:nth-child(3) .aboutNumber {
  background: var(--Primary-4, #9757d7);
}
.homeAbout .bottomRow .aboutItem .aboutNumber {
  display: inline-block;
  padding: 2px 12px;
  border-radius: 100px;
  color: var(--Neutrals-8, #fcfcfd);
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}
.homeAbout .bottomRow .aboutItem h2.aboutSubtitle {
  margin: 24px 0px 16px 0px;
  color: var(--Neutrals-2, #23262f);
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}
.homeAbout .bottomRow .aboutItem p.aboutContent {
  color: var(--Neutrals-4, #777e90);

  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; 
.homeAbout .bottomRow .aboutCol .aboutBackground {
  position: relative;
  border-radius: 24px;
  height: 100%;
  background-color: var(--Neutrals-6, #e6e8ec);
}

.homeAbout .bottomRow .aboutBackground img.pillBox {
  position: absolute;
  width: 75%;
  z-index: 5;
  right: 0;
  bottom: 0;
}

.homeAbout .bottomRow .aboutBackground .platePreview {
  position: absolute;
  top: 1.5%;
  left: -31%;
  width: 64.5%;
  pointer-events: none;
}
.homeAbout .bottomRow .aboutBackground .platePreview img {
  width: 100%;
}
.homeAbout .bottomRow .aboutBackground .playPreview {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 15;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  transform: translate(-50%, -50%);
  box-shadow: 0px 8px 16px -8px rgba(15, 15, 15, 0.2);
  border-radius: 50%;
  background: #fcfcfd;
} */
/* **** */

:root {
  --about_column-gap: 32px;
}
.homeAbout {
  padding: 136px 0px;
}

.topRow {
  display: flex;
}
.topRow .topCol {
  width: 50%;
}

.topRow .topCol .aboutStage {
  color: var(--Neutrals-5, #b1b5c3);
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  text-transform: uppercase;
}
.topRow .topCol .aboutTitle {
  margin-bottom: 20px;
  color: var(--Neutrals-2, #23262f);
  font-family: "SF Pro Display", sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 56px;
  letter-spacing: -0.96px;
}
.topRow .topCol .aboutInfo {
  color: var(--Neutrals-4, #777e90);
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.bottomRow {
  margin-top: 128px;
  column-gap: var(--about_column-gap);
  display: flex;
}
.bottomRow .bottomLeftCol .aboutList {
  max-width: 262px;
}
.homeAbout .bottomRow .bottomLeftCol {
  width: calc(30% - (var(--about_column-gap) * 0.3));
}
.homeAbout .bottomRow .bottomRightCol {
  width: calc(70% - (var(--about_column-gap) * 0.7));
}
.homeAbout .bottomRow .aboutItem:nth-child(2) {
  margin: 48px 0px;
}

.bottomRow .aboutItem .aboutNumber {
  display: inline-block;
  padding: 0px 12px;
  margin-bottom: 24px;
  border-radius: 100px;
  color: var(--Neutrals-8, #fcfcfd);
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}
.homeAbout .bottomRow .aboutItem:nth-child(1) .aboutNumber {
  background: var(--Primary-2, #9757d7);
}
.homeAbout .bottomRow .aboutItem:nth-child(2) .aboutNumber {
  background: var(--Primary-3, #9757d7);
}
.homeAbout .bottomRow .aboutItem:nth-child(3) .aboutNumber {
  background: var(--Primary-4, #9757d7);
}
.bottomRow .aboutItem .aboutSubtitle {
  margin-bottom: 16px;
  color: var(--Neutrals-2, #23262f);
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}

.bottomRow .aboutItem .aboutContent {
  padding-right: 35px;
  color: var(--Neutrals-4, #777e90);
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.bottomRow .bottomRightCol .aboutPreview img {
  width: 100%;
  object-fit: cover;
}
/*! homeAbout End */
/* ? trainers Start   */
:root {
  --trainer-col-gap: 32px;
  --trainer-row-gap: 64px;
  --trainer-col-count: 3;
}
.trainers .trainerHead {
  width: 544px;
  margin: 0 auto 80px auto;
}
.trainers .trainerHead h2.trainerTitle {
  color: var(--Neutrals-2, #23262f);
  text-align: center;

  font-family: "SF Pro Display", sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 56px;
  letter-spacing: -0.96px;
}
.trainers .trainerHead p.trainerInfo {
  margin: 20px auto 40px auto;
  color: var(--Neutrals-3, #353945);
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.trainers .trainerHead .trainerNav ul {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 12px;
}
.trainers .trainerHead .trainerNav ul li {
  padding: 6px 12px;
  border-radius: 100px;
}
.trainers .trainerHead .trainerNav ul li a {
  transition: all 0.5s ease-in;
  display: block;
  text-align: center;
  color: var(--Neutrals-4, #777e90);

  font-family: "SF Pro Display", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
}
.trainers .trainerHead .trainerNav ul li a:hover {
  color: var(--Neutrals-3);
}

.trainers .trainerHead .trainerNav ul li:has(a.active) {
  background-color: var(--Neutrals-3, #353945);
}

.trainers .trainerHead .trainerNav ul li a.active {
  color: var(--Neutrals-8);
}
.trainers .trainersList .listWrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  column-gap: var(--trainer-col-gap);
  row-gap: var(--trainer-row-gap);
}

.trainers .trainersList .listWrap .trainerItem {
  text-align: center;

  width: calc(
    (100% - ((var(--trainer-col-count) - 1) * var(--trainer-col-gap))) /
      var(--trainer-col-count)
  );
  /* width: calc((100% - 96px) / 3); */
}

.trainers .trainersList .listWrap .trainerItem .profile {
  margin: 0px auto 24px auto;
  border-radius: 16px;
  width: 160px;
  height: 160px;
  border-radius: 16px;
  background: var(--Neutrals-6, #e6e8ec);
  transition: all 0.5s ease;
  cursor: pointer;
}
.trainers .trainersList .listWrap .trainerItem .profile img {
  width: 100%;
  border-radius: 16px;
}
.trainers .trainersList .trainerItem:hover .profile {
  box-shadow: 0 0 0 2px #ff592c;
}

.trainers .trainersList .listWrap .trainerItem .trainerName {
  margin: 0px auto 4px auto;
  color: var(--Neutrals-2, #23262f);

  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}
.trainers .trainersList .listWrap .trainerItem .trainerPosition {
  color: var(--Neutrals-4, #777e90);
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}
/* ! trainers End   */

/* ? review Start   */
.review {
  padding: 136px 0;
}
.review .reviewItem {
  margin: 0 auto;
  width: 736px;
  text-align: center;
}
.review .reviewItem .reviewLogo {
  padding: 13px 7px 13.5px 7px;
}
.review .reviewItem .reviewTitle {
  padding: 0px 0px 40px 0px;
  margin: 8px auto 40px auto;
  border-bottom: 1px solid var(--Neutrals-6);
  color: var(--Neutrals-2, #23262f);
  text-align: center;
  font-family: "SF Pro Display", sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: -0.4px;
}
.review .reviewItem .reviewAuthor {
  color: var(--Neutrals-2, #23262f);

  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 150% */
}

.review .reviewItem .reviewPosition {
  margin: 4px auto 0 auto;
  color: var(--Neutrals-4, #777e90);
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
}
.review .reviewBtns {
  margin: 48px 0px 0px 0px;
  display: flex;
  column-gap: 20px;
  align-items: center;
  justify-content: center;
}
.review .reviewBtns button img {
  display: block;
}
/* ! review End   */
/* ? quality Start   */
.quality {
  padding: 0px 0px 136px 0px;
}
/* 
.quality .qualityList {
  display: flex;
  margin: 0px -16px;
}
.quality .qualityList .qualityItem {
  position: relative;
  flex: 0 0 calc(25% - 32px);
  width: calc(25% - 32px);
  margin: 0 16px;
}
*/
.quality .qualityList {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 32px;
  align-items: start;
}

.quality .qualityItem .qualityPreview {
  margin: 0px 0px 64px 0px;
}
.quality .qualityItem .qualityCounter {
  margin: 0px 0px 40px 0px;
  padding: 0px 0px 40px 0px;
  border-bottom: 1px solid var(--Neutrals-6);

  color: var(--Neutrals-2, #23262f);
  font-family: "SF Pro Display", sans-serif;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: 64px;
  letter-spacing: -1.28px;
}
.quality .qualityItem .qualityTitle {
  margin: 0px 0px 16px 0px;
  color: var(--Neutrals-2, #23262f);
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}
.quality .qualityItem .qualityContent {
  color: var(--Neutrals-4, #777e90);
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
/* ! quality End   */

/* ? advantages  Start   */
:root {
  --advantages_column-gap: 24px;
  --advantages_column-count: 3;
}
.advantages {
  padding: 136px 0px;
  background-color: var(--Neutrals-7, #f4f5f6);
}
.advantages .advantagesHead {
  margin: 0px auto 80px auto;
  width: 636px;
}
.advantages .advantagesHead h2.advantagesTitle {
  margin: 0px 0 20px 0;
  color: var(--Neutrals-2, #23262f);
  text-align: center;

  font-family: "SF Pro Display", sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 56px;
  letter-spacing: -0.96px;
}
.advantages .advantagesHead p.advantagesInfo {
  margin: 0 auto;
  width: 453px;
  color: var(--Neutrals-3, #353945);
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.advantages .advantagesList {
  display: flex;
  column-gap: var(--advantages_column-gap);
  /* display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: var(--advantages_column-gap); */
}
.advantages .advantagesItem {
  width: calc(
    (
        100% -
          (var(--advantages_column-gap) * (var(--advantages_column-count) - 1))
      ) / (var(--advantages_column-count))
  );
}
.advantages .advantagesItem .profile {
  text-align: center;
  margin: 0px 0px 36px 0px;
}
.advantages .advantagesItem p.advantagesSubtitle {
  width: 293px;
  color: var(--Neutrals-2, #23262f);
  text-align: center;

  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px; /* 133.333% */
}
/* ! advantages  End   */

/* ? workouts Start   */
:root {
  --workouts_column-gap: 32px;
}
.workouts {
  padding: 136px 0;
  background-color: var(--Neutrals-8, #fcfcfd);
}
.workouts .workoutsFrame {
  display: flex;
  align-items: center;
  column-gap: var(--workouts_column-gap);
}
.workouts .workoutsFrame .workoutsWrap {
  width: calc(40% - (var(--workouts_column-gap) * 0.4));
}
.workouts .workoutsFrame .workoutsWrap h2.workoutsTitle {
  color: var(--Neutrals-2, #23262f);
}
.workouts .workoutsFrame .workoutsWrap p.workoutsInfo {
  color: var(--Neutrals-4, #777e90);
  margin: 32px 0px;
}

.workouts .workoutsFrame ul li {
  color: var(--Neutrals-4, #777e90);
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}
.workouts .workoutsFrame ul li:before {
  display: inline-block;
  vertical-align: bottom;
  content: "";
  width: 24px;
  height: 24px;
  margin: 0px 12px 0px 0px;
  background-image: url("../images/workouts/check.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.workouts .workoutsFrame ul li:not(:last-child) {
  margin: 0px 0px 16px 0px;
}
.workouts .workoutsFrame .workoutsWrap .workoutsBtns {
  margin: 48px 0px 0px 0px;
}
.workouts .workoutsFrame .workoutsWrap .workoutsBtns button:first-child {
  margin: 0px 12px 0px 0px;
}
.workouts .workoutsFrame .workoutsGallery {
  width: calc(60% - (var(--workouts_column-gap) * 0.6));
}
.workouts .workoutsFrame .workoutsGallery img {
  width: 100%;
  object-fit: cover;
}
/* ! workouts End   */

/* ? offers  Start  */
.offers {
  padding: 80px 0 136px 0;
}
.offers .frame {
  margin: 0 auto;
  text-align: center;
}
.offers p.stage {
  margin: 136px auto 16px auto;
  color: var(--Neutrals-4, #777e90);
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  text-transform: uppercase;
}

.offers h2.offersTitle {
  width: 805px;
  margin: 0px auto 32px auto;
  color: var(--Neutrals-2, #23262f);
  text-align: center;
  font-family: "SF Pro Display";
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: 64px;
  letter-spacing: -1.28px;
}
.offers p.offersText {
  width: 450px;
  margin: 0 auto;
  color: var(--Neutrals-4, #777e90);
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.offers a.offersButton {
  display: inline-block;
  margin: 48px auto 0px auto;
}
/* ! offers  End */

/* ? Footer Start */
footer .frame {
  display: flex;
  flex-direction: column;
}
footer .frame .top-menu {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

footer .frame .top-menu .left-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-items: flex-start;
  column-gap: 32px;
  position: relative;
}
footer .frame .top-menu .left-menu ul {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}
footer .frame .top-menu .left-menu img {
  margin: 0 128px 136px 0;
}

footer .frame .top-menu .left-menu ul li {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
footer .frame .top-menu .left-menu ul li a {
  color: var(--Neutrals-4, #777e90);
  font-family: "SF Pro Display", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
}

footer .middle-menu {
  display: flex;
  flex-direction: column;
  row-gap: 41px;
}
footer .middle-menu p {
  color: var(--Neutrals-2, #23262f);
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 12px; /* 100% */
  text-transform: uppercase;
}
footer .middle-menu ul li {
  color: var(--Neutrals-2, #23262f);
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
footer .middle-menu ul.main-ul {
  display: flex;
  row-gap: 8px;
  flex-direction: column;
}
footer .middle-menu ul.main-ul ul {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 3px 0 0 0;
}

footer .right-menu {
  display: flex;
  flex-direction: column;
  padding: 80px 0 64px 0;
  justify-content: flex-start;
  row-gap: 40px;
  width: 256px;
}
footer .right-menu p {
  color: var(--Neutrals-2, #23262f);
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 12px; /* 100% */
  text-transform: uppercase;
}
footer .right-menu .sub-bottom-menu {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}
footer .right-menu .sub-bottom-menu > span {
  color: var(--Neutrals-2, #23262f);
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
  padding: 0 8px 0 0;
}

footer .right-menu .sub-bottom-menu .arrow form {
  display: flex;
  column-gap: 18px;
  justify-content: flex-end;
  padding: 8px 16px;
  border-radius: 90px;
  border: 2px solid var(--Neutrals-6, #e6e8ec);
}
footer input {
  border: none;
  outline: none;
  display: block;
}
footer .right-menu .sub-bottom-menu .arrow a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px;
  background-color: var(--Primary-1);
  border-radius: 50%;
}

footer .bottom-bar {
  display: flex;
  justify-content: space-between;
  padding: 24px 0;
}
footer .bottom-bar span {
  color: var(--Neutrals-4, #777e90);
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}
footer .bottom-bar ul {
  display: flex;
  column-gap: 24px;
}
footer .bottom-bar ul li {
  display: flex;
  justify-content: center;
  align-items: center;
}

footer .divider {
  width: 1px;
  height: 384px;
  background-color: var(--Neutrals-6, #e6e8ec);
}

footer .pad-80 {
  padding: 80px 0 0 0;
}
