/* Desktop  Start*/
@media screen and (max-width: 1440px) {
}

@media screen and (max-width: 1150px) {
  .headerCenter .headerLinksWrap .navbarLogo {
    padding-right: 30px;
    border-right: 1px solid var(--Neutrals-6);
  }
  .headerCenter .headerLinksWrap {
    column-gap: 30px;
  }

  .headerCenter .headerLinksWrap nav .headerNav {
    column-gap: 24px;
  }
  .headerCenter .headerGroups {
    column-gap: 40px;
  }
}

/* Tablet Start */
@media screen and (max-width: 1024px) {
  .headerCenter nav {
    display: none;
  }
  .headerCenter .headerLinksWrap .navbarLogo {
    border: none;
    padding: 0px;
  }
  .headerCenter .headerGroups ul {
    display: none;
  }
  .buttonGroups {
    display: flex;
    align-items: center;
    column-gap: 40px;
  }
  .buttonGroups .bars {
    display: block;
  }
  /** Footer */
  footer .frame .top-menu {
    display: flex;
    justify-content: space-between;
  }

  footer .frame .top-menu .left-menu ul {
    width: 80px;
  }

  footer .frame .top-menu .left-menu {
    justify-content: space-between;
  }
  footer .frame .top-menu .left-menu i {
    margin: 0px 48px 136px 0px;
  }
  footer .right-menu {
    min-width: 192px;
  }
}

@media screen and (max-width: 840px) {
  footer .frame .top-menu .left-menu i {
    margin: 0px 20px 130px 0px;
  }
  footer span.divider {
    display: none;
  }
}

/* Mobil Start */
@media screen and (max-width: 768px) {
  /* ? Footer */
  footer .top-menu {
    display: flex;
    flex-direction: column;
  }
  footer .frame .top-menu .left-menu {
    display: flex;
    flex-direction: column;
  }
  footer .frame .top-menu .left-menu ul {
    display: none;
  }
  .footerNav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  footer .wrapper {
    border: none;
  }
  footer .frame .top-menu .left-menu i.fa-basketball {
    font-size: 24px;
    padding: 0px;
  }
  footer .right-menu {
    align-self: stretch;
  }
}

@media screen and (max-width: 390px) {
  .container {
    width: 100%;
    max-width: 100%;
    margin: 0xp;
    padding: 0px 32px;
  }
  .header {
    padding: 48px 0px 24px 0px;
  }

  .header .headerTrialBtn {
    display: none;
  }
  /*? Footer */
}
