/* Desktop  Start*/
@media screen and (max-width: 1440px) {
  #hiddemTabletMenu.active {
    display: none;
  }
  button.hidden {
    display: none;
  }
}

@media screen and (max-width: 1150px) {
  .headerCenter .headerLinksWrap .navbarLogo {
    padding-right: 30px;
    border-right: 1px solid var(--Neutrals-6);
  }
  .headerCenter .headerLinksWrap {
    column-gap: 30px;
  }

  .headerCenter .headerLinksWrap nav .headerNav {
    column-gap: 24px;
  }
  .headerCenter .headerGroups {
    column-gap: 40px;
  }
}

@media screen and (max-width: 1024px) {
  .show {
    display: block;
  }
  .buttonGroups button.hidden {
    display: block;
  }
  .headerCenter nav {
    display: none;
  }
  .headerCenter .headerLinksWrap .navbarLogo {
    border: none;
    padding: 0px;
  }
  .headerCenter .headerGroups ul {
    display: none;
  }
  .buttonGroups {
    display: flex;
    align-items: center;
    column-gap: 40px;
  }
  .buttonGroups .bars {
    display: block;
  }
  
}



@media screen and (max-width: 768px) {

  .tabletMenu .wrap {
    display: flex;
    flex-direction: column;
  }
  .tabletMenu .menuContact {
    display: none;
  }

  .tabletMenu .dropdownBody .headRow .headRightCol {
    display: none;
  }
  .tabletMenu .dropdownBody .headLeftCol a.headerDirection {
    display: none;
  }
  .tabletMenu .dropdownBody .headRow .headLeftCol {
    width: 100%;
    border: none;
  }
  .tabletMenu .dropdownBody .headRow {
    display: block;
  }
  .tabletMenu .dropdownBody {
    margin: 0px;
    border: none;
    box-shadow: none;
  }
  .tabletHeaderFoot {
    display: none;
  }
  .tabletMenu .dropdownBody .headRow .headCol {
    padding: 0px;
  }

}

@media screen and (max-width: 390px) {
  .container {
    width: 100%;
    max-width: 100%;  
    margin: 0px;
    padding: 0px 32px;
  }
  .header {
    padding: 48px 0px 24px 0px;
  }

  .header .headerTrialBtn {
    display: none;
  }
}
