.header {
  position: relative;
  z-index: 10;
  padding: 48px 0px;
}

.headerCenter {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.headerCenter a.headerLogo {
  margin-right: 48px;
}
.headerCenter .headerLinksWrap {
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding-left: 48px;
  border-left: 1px solid var(--Neutrals-6);
}

.headerCenter .headerLinksWrap .headerNav {
  display: flex;
  align-items: center;
  margin-right: 84px;
}
.headerLinksWrap .headerNav .headerLink {
  display: block;
  padding: 4px 8px;
  color: var(--Neutrals-4, #777e90);
  font-family: "SF Pro Display", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  transition: color 0.2s;
  transition: all 0.4s ease-in;
}
.headerLinksWrap .headerLink:not(:last-child),
.headerDropdown
/* ,.headerLinksWrap .headerDropdown:not(:last-child)  */ {
  margin-right: 32px;
}
.headerLinksWrap .headerNav .headerDropdown .headerHead {
  display: flex;

  align-items: center;
  color: var(--Neutrals-4, #777e90);
  font-family: "SF Pro Display", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
}
.headerLinksWrap .headerNav .headerDropdown .headerHead .classLink {
  padding: 4px 8px;
}
.headerLinksWrap .headerNav .headerDropdown .headerHead i {
  display: none;
}
.headerLinksWrap .headerNav .headerDropdown .headerHead i.active {
  display: block;
  font-size: 14px;
}

/* .headerLinksWrap .headerNav .headerDropdown .headerBody {
  display: none;
} */

.headerCenter .headerLinksWrap .headerSocials {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  column-gap: 24px;
}
.headerCenter .headerLinksWrap .headerSocials > a img {
  display: block;
}

.header .headerCenter .headerTrialBtn {
  padding: 12px 16px;
  border-radius: 90px;
  border: 2px solid var(--Neutrals-6);

  color: var(--Neutrals-2, #23262f);
  text-align: center;
  font-family: "SF Pro Display", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  margin-left: 64px;
}
.headerBody {
  display: none;
  position: absolute;
  top: 99%;
  left: 0px;
  z-index: 200;
  width: 100%;
  transition: all 0.4s ease-in;
}
.headerBody.active {
  display: block;
}

/*  */
.some-hidden-icon {
  display: none;
}
.some-show-arrow {
  display: block;
}
/* Class DropDOwn */

/* ?-- Desktop Mode --> */
:root {
  --desktopDropdown_column-gap: 40px;
}
.desktopMode {
  background-color: var(--Neutrals-8);
  z-index: 500;
  height: 745px;
}
.desktopMode.active {
  display: block;
}
.desktopMode .headerRow {
  /* border: 1px solid red; */
  border-radius: 20px;
  display: flex;
}
.desktopMode .borderWrapper {
  border-radius: 24px;
  box-shadow: 0px 64px 64px -48px rgba(15, 15, 15, 0.1);
  border: 1px solid #e6e8ec;
}
.desktopMode .col {
  padding: 40px;
}
.desktopMode .leftCol {
  width: 27%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-right: 1px solid #e6e8ec;
  border-bottom: 1px solid #e6e8ec;
}
.desktopMode .rightCol {
  width: 73%;
  border-left: 1px solid var(--Neutrals-6);
  border-bottom: 1px solid var(--Neutrals-6);
}

.desktopMode .leftCol .text p {
  color: var(--Neutrals-2, #23262f);
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
}
.ball-icon {
  display: block;
  width: 48px;
  height: 48px;
  margin-top: 24px;
}
.desktopMode .linksItem li a {
  display: flex;
  column-gap: 14px;
  padding: 16px;
  align-items: center;
}

.desktopMode .linksItem li a p {
  color: var(--Neutrals-2, #23262f);

  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}
.desktopMode .linksItem li a img {
  padding: 4px;
  display: block;
  height: 32px;
  border-radius: 50%;
}
.desktopMode .linksItem li:nth-child(1) a img {
  background-color: var(--Secondary-1);
}
.desktopMode .linksItem li:nth-child(2) a img {
  background-color: var(--Primary-1);
}
.desktopMode .linksItem li {
  border-radius: 8px;
}
.desktopMode .linksItem li:hover {
  background-color: var(--Neutrals-7);
}
.desktopMode .headerLine {
  display: flex;
  column-gap: 40px;
}
.desktopMode .headerLine .headerCel {
  width: calc((50% - (var(--desktopDropdown_column-gap) * 0.5)));
}
.desktopMode .headerLine .leftCel .imagePreview {
  position: relative;
  border-radius: 16px;
  border: 2px solid transparent;
  overflow: hidden;
  transition: all 0.4s ease;
}
.desktopMode .headerLine .leftCel .imagePreview:hover {
  border-color: var(--Primary-1);
}
.desktopMode .headerLine .leftCel .imagePreview > img:hover {
  transform: scale(1.2);
  cursor: pointer;
}
.desktopMode .headerLine .leftCel .imagePreview img {
  transition: all 0.4s ease;
  width: 100%;
  object-fit: cover;
  border-radius: 16px;
}
.desktopMode .headerLine .leftCel .imagePreview .statusBlack {
  position: absolute;
  top: 8px;
  left: 8px;
  padding: 8px;
  border-radius: 4px;
  background-color: var(--Neutrals-2, #23262f);
  color: var(--Neutrals-8, #fcfcfd);
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 12px;
  text-transform: uppercase;
}
.desktopMode .leftCel .headerUser {
  padding: 24px 0px 12px 0px;
  display: flex;
  justify-content: space-between;
}
.desktopMode .leftCel .headerUser .headerAvatar {
  margin-right: 16px;
  width: 40px;
  height: 40px;
  border-radius: 56px;
  background-color: var(--Neutrals-4, #e6e8ec);
}

.desktopMode .leftCel .headerUser .headerAvatar img {
  width: 100%;
  border-radius: 40px;
  object-fit: cover;
}
.headerCel .headerUser .detailTitle {
  color: var(--Neutrals-2, #23262f);
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
}
.headerCel .headerUser .detailTrainer {
  color: var(--Neutrals-4, #777e90);
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.headerUser .headerUserStatus {
  padding: 8px;
  border-radius: 4px;
  border: 2px solid var(--Primary-4, #45b26b);
  color: var(--Primary-4, #45b26b);
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 12px;
  text-transform: uppercase;
  align-self: flex-start;
}
.desktopMode .headerCel .headerContent {
  color: var(--Neutrals-4, #777e90);
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.desktopMode .rightCel .headerItem {
  display: flex;
  column-gap: 24px;
  height: 120px;
}
.desktopMode .rightCel .headerItem:not(:last-child) {
  margin-bottom: 32px;
}
.desktopMode .rightCel .headerPhoto {
  width: 140px;
  height: 120px;
  overflow: hidden;
  border: 2px solid transparent;
  border-radius: 8px;
  transition: all 0.4s ease;
}
.desktopMode .rightCel .headerPhoto:hover {
  border-color: var(--Primary-1);
}
.desktopMode .rightCel .headerPhoto:hover > img {
  transform: scale(1.3);
}
.desktopMode .rightCel .headerPhoto img {
  width: 100%;
  display: block;
  object-fit: cover;
  border-radius: 8px;
  transition: all 0.4s ease;
}
.desktopMode .rightCel .headerItem .headerDescription {
  align-self: center;
}
.desktopMode .rightCel .headerItem .headerStatus {
  padding: 8px;
  display: inline-block;
  color: var(--Neutrals-8, #fcfcfd);
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 12px;
  text-transform: uppercase;
  border-radius: 4px;
}
.desktopMode .rightCel .headerItem .headerStatus.yoga {
  background-color: var(--Primary-4);
}
.desktopMode .rightCel .headerItem .headerStatus.mindfullness {
  background-color: var(--Primary-2);
}
.desktopMode .rightCel .headerItem .headerStatus.fitness {
  background-color: var(--Primary-1);
}
.desktopMode .rightCel .headerItem .headerUser {
  display: flex;
  column-gap: 16px;
  margin-top: 12px;
}
.desktopMode .rightCel .headerItem .headerAvatar {
  width: 40px;
  height: 40px;
}
.desktopMode .rightCel .headerItem .headerAvatar img {
  width: 100%;
  display: block;
  object-fit: cover;
  border-radius: 50%;
}
.desktopMode .rightCel .headerItem .headerTitle {
  color: var(--Neutrals-2, #23262f);
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  margin-bottom: 2px;
}
.desktopMode .rightCel .headerItem .headerTrainer {
  color: var(--Neutrals-4, #777e90);
  font-family: "Poppins", sans-serif;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}
.desktopMode .desHeaderFoot .headerAvatar img {
  width: 100%;
  object-fit: cover;
  display: block;
  border-radius: 50%;
}
.desktopMode .desHeaderFoot .headerAvatar {
  width: 56px;
  height: 56px;
  border-radius: 50%;
}
.desktopMode .desHeaderFoot {
  padding: 40px;
}
.desktopMode .desHeaderFoot .footStage {
  color: var(--Neutrals-2, #23262f);
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
  margin-bottom: 32px;
}
.desktopMode .desHeaderFoot .footList {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.desktopMode .desHeaderFoot .headerUser {
  display: flex;
  column-gap: 16px;
}

.desktopMode .desHeaderFoot .headerUser .footTitle {
  color: var(--Neutrals-2, #23262f);

  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  margin-bottom: 4px;
}

.desktopMode .desHeaderFoot .headerUser .footTrainer {
  color: var(--Neutrals-4, #777e90);
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

/** <!-- Table Mode --> */

.tabletMenu {
  background-color: var(--Neutrals-8);
  position: absolute;
  left: 0px;
  top: 99%;
  width: 100%;
}
.tabletMenu .wrap {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 20px;
}
.tabletMenu .menuLinks li {
  width: 180px;
  margin-bottom: 48px;
}

.tabletMenu .menuLinks a:not(.dropdownLink a) {
  display: block;
}
.tabletMenu .menuLinks li.dropdownLink {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.tabletMenu .menuLinks li.dropdownLink i {
  color: var(--Neutrals-4);
  font-size: 24px;
}
.tabletMenu .menuLinks a,
.bottomMenuLink a {
  color: var(--Neutrals-4, #777e90);
  font-family: "SF Pro Display", sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: -0.4px;
}
.tabletMenu .wrap .contactInfo li:not(:last-child) {
  margin-bottom: 32px;
}
.tabletMenu .wrap .contactInfo li .infoTitle {
  color: var(--Neutrals-2, #23262f);
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: -0.24px;
}
.tabletMenu .wrap .contactInfo li .infoText {
  margin-top: 8px;
  color: var(--Neutrals-4, #777e90);
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.tabletMenu .wrap .contactInfo .socials {
  display: flex;
  align-items: center;
  column-gap: 48px;
}
.tabletMenu .wrap .contactInfo .socials img {
  display: block;
}

.tabletMenu .dropdownBody {
  padding: 48px 0px;
}
.tabletMenu .dropdownBody .headRow {
  display: flex;
}
.tabletMenu .dropdownBody .headRow .headCol {
  padding: 32px;
  width: 50%;
}
/** <!-- Table End --> */

/** Mobile Mode */
.mobileMenu {
  display: none;
  padding: 64px 0px 24px 0px;
}

.mobileMenu .mobileNav > a {
  display: flex;
  align-items: center;
  height: 64px;
}
.mobileLink {
  color: var(--Neutrals-4, #777e90);
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
}
.mobileLink:hover {
  color: var(--Neutrals-2);
}
.mobileNav .mobileDropdown .mobileHead {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 64px;
}
.mobileNav .mobileDropdown .mobileHead i {
  color: var(--Neutrals-4);
  transition: all 0.4s ease-in;
}
.mobileNav .mobileDropdown .mobileHead i.rotate_180 {
  transform: rotate(-180deg);
}

.mobileNav .mobileDropdown .mobileBody {
  display: none;
}
.mobileNav .mobileDropdown .mobileBody.active {
  display: block;
}
.mobileNav .mobileDropdown .mobileBody .bodyItem a {
  display: flex;
  align-items: center;
  padding: 16px 0px;
  column-gap: 10px;
}
.mobileDropdown .mobileBody .bodyItem .itemText {
  color: var(--Neutrals-4, #777e90);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 150% */
}
.mobileDropdown .mobileBody .bodyItem .itemIcon {
  padding: 6px;
  border-radius: 50%;
}
.mobileDropdown .mobileBody .bodyItem .itemIcon img {
  display: block;
}
.mobileDropdown .mobileBody .bodyItem:nth-child(1) .itemIcon {
  background-color: var(--Secondary-1);
}
.mobileDropdown .mobileBody .bodyItem:nth-child(2) .itemIcon {
  background-color: var(--Primary-1);
}
.mobileMenu .headerGroup {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 208px;
}
.mobileMenu .headerGroup i {
  font-size: 24px;
  color: var(--Neutrals-4);
}
/*  */
.contentBody {
  height: 100vh;
  background-color: teal;
}

.footer {
  height: 50vh;
  background-color: darkred;
}
