/* ? anySpace Start   */

.anySpace .frame {
  display: flex;
  flex-direction: column;
  row-gap: 80px;
  align-items: center;
  justify-content: center;
  padding: 136px 0;
  text-align: center;
}
.anySpace .frame .headings {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  width: 50%;
  row-gap: 20px;
}

.anySpace .frame .headings h2 {
  color: var(--Neutrals-2, #23262f);
  text-align: center;

  /* Headline 2 */
  font-family: "SF Pro Display", sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 56px; /* 116.667% */
  letter-spacing: -0.96px;
}
.anySpace .frame .headings p {
  color: var(--Neutrals-3, #353945);
  text-align: center;

  /* Body 2 */
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}

.anySpace .frame .cards {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  column-gap: 24px;
}
.anySpace .frame .cards .card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  flex-basis: 33%;
  width: 100%;
  row-gap: 80px;
}
.anySpace .frame .card .profile {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}
.anySpace .frame .card img {
  position: absolute;
}

.anySpace .frame .card .handgripcolor {
  top: 12px;
  left: 15px;
}

.anySpace .frame .card .left_hand_icon {
  top: 60px;
  left: -10px;
}
.anySpace .frame .card .right_hand_icon {
  top: 20 px;
  right: 20px;
}

.anySpace .frame .card .profile .avatar {
  border-radius: 50%;
  background-color: var(--Neutrals-4);
  width: 160px;
  height: 160px;
}
.anySpace .frame .card p {
  color: var(--Neutrals-2, #23262f);
  text-align: center;
  padding: 0px 10%;

  /* Body 1 (Bold) */
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px; /* 133.333% */
}
/* ! anySpace End   */
