/*? BookClassPoster Start */
.bookPoster {
  padding: 136px 160px 136px 80px;
}
.bookPoster .detailPoster .overlap {
  display: flex;
  column-gap: 32px;
}

.bookPoster .detailPoster .detailSide {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  align-items: flex-start;
  padding: 48px;
  border-radius: 20px;

  /* depth/4 */
  box-shadow: 0px 64px 64px -48px rgba(15, 15, 15, 0.1);
}

.bookPoster .detailPoster .imgSide {
  width: 624px;
  height: 748px;
}

.bookPoster .detailPoster .imgSide img {
  width: 624px;
  height: 748px;
  object-fit: cover;
}

.bookPoster .detailSide .headTitle {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  align-items: flex-start;
}

.bookPoster .detailSide .headTitle h2 {
  color: var(--Neutrals-2);

  /* Headline 2 */
  /* font-family: "SF Pro Display", sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 56px; 
  letter-spacing: -0.96px; */
}

.bookPoster .detailSide .headTitle p {
  color: var(--Neutrals-4);
  /* Body 2 */
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.bookPoster .detailSide .cardContent {
  display: flex;
  flex-direction: column;
}

.bookPoster .detailSide .cardContent .card {
  display: flex;
  column-gap: 24px;
  padding: 24px 0px;
}
.bookPoster .detailSide .cardContent .card .backFrame {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  padding: 8px;
}

.bookPoster .detailSide .cardContent .card:nth-child(1) .backFrame {
  background-color: var(--Primary-4, #45b26b);
}
.bookPoster .detailSide .cardContent .card:nth-child(2) .backFrame {
  background-color: var(--Primary-2, #9757d7);
}
.bookPoster .detailSide .cardContent .card:nth-child(3) .backFrame {
  background-color: var(--Secondary-1, #3772ff);
}

.bookPoster .detailSide .cardContent .card .backFrame img {
  color: transparent;
}

.bookPoster .detailSide .cardContent .statementContent {
  display: flex;
  row-gap: 4px;
  flex-direction: column;
}
.bookPoster .detailSide .cardContent .statementContent h3 {
  color: var(--Neutrals-2, #23262f);

  /* Body 2 (Bold) */
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}

.bookPoster .detailSide .cardContent .statementContent p {
  color: var(--Neutrals-4, #777e90);
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.bookPoster .detailSide p span.boldPro {
  color: var(--Neutrals-2, #23262f);

  /* Caption (Bold) */
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}
.bookPoster .detailSide p {
  color: var(--Neutrals-4, #777e90);

  /* Caption */
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.bookPoster .detailSide p .colorDiscount {
  color: var(--Primary-4, #45b26b);
  text-align: center;

  /* Caption (Bold) */
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}

.bookPoster .detailSide button {
  border-radius: 90px;
  background: var(--Primary-1, #ff592c);
  align-self: flex-end;
  padding: 16px 24px;
  color: var(--Neutrals-8, #fcfcfd);
  text-align: right;

  /* Button 1 */
  font-family: "SF Pro Display", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
}
/*! BookClassPoster End */
