/*? ExperienceDetail Start  */
.expSection {
  background-color: var(--Neutrals-8);
}
.expParent {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 80px;
  padding: 136px 0;
}
.expParent .titleContent {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  align-items: center;
}
.expParent .titleContent p {
  color: var(--Neutrals-4, #777e90);
  /* Hairline 2 */
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 12px; /* 100% */
  text-transform: uppercase;
}
.expParent .titleContent h2 {
  color: var(--Neutrals-2, #23262f);
  text-align: center;
  /* Headline 2 */
  font-family: "SF Pro Display", sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 56px; /* 116.667% */
  letter-spacing: -0.96px;
}
.expParent .cardList {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 83px;
}
.expParent .cardList .cardDivider {
  width: 1px;
  height: 300px;
  background-color: var(--Neutrals-6, #e6e8ec);
}
.expParent .cardList .card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 32px;
}
.expParent .cardList .card h3 {
  color: var(--Neutrals-2);

  /* Body 2 (Bold) */
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 150% */
}
.expParent .cardList .card p {
  color: var(--Neutrals-4, #777e90);

  /* Caption */
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
}
/*! ExperienceDetail End  */
