/*?  Hero Section Start */
.heroHeaderFitness .wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  row-gap: 100px;
  padding: 102px 0 0 0;
}
.heroHeaderFitness .row .frame {
  display: flex;
  justify-content: space-between;
}
.heroHeaderFitness .row .frame .col-left {
  align-self: center;
}
.heroHeaderFitness .row .frame .leftBox {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
}

.heroHeaderFitness .leftBox .upHead {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  margin: 0px 0px 40px 0px;
}
.heroHeaderFitness .leftBox .upHead + p {
  color: var(--Neutrals-4, #777e90);
}

.heroHeaderFitness .leftBox .upHead .trainSmart {
  color: var(--Neutrals-4, #777e90);
}

.heroHeaderFitness .wrapper .row .frame .btnServices {
  display: flex;
  column-gap: 16px;
}
.heroHeaderFitness .wrapper .row .frame .btnServices .downloadBtn {
  color: var(--Neutrals-8, #fcfcfd);
  background-color: var(--Primary-1, #ff592c);
}
.heroHeaderFitness .wrapper .row .frame .btnServices .bookBtn {
  color: var(--Neutrals-2, #23262f);
  border: 2px solid var(--Neutrals-6, #e6e8ec);
}

.heroHeaderFitness .wrapper .btnRow {
  text-align: center;
  margin: 0 0 100px 0;
  display: flex;
  justify-content: flex-start;
}
.heroHeaderFitness .wrapper .btnRow img {
  padding: 20px;
  border-radius: 64px;
  text-align: center;
  border: 2px solid var(--Neutrals-6, #e6e8ec);
}
/** Elave */
/* .wrapper .col-right .mainImgContainer {
  position: absolute;
  top: 97px;
  left: 31.32px;
}
.wrapper .col-right .img_pos {
  position: absolute;
}
.img1 {
  width: 512px;
  height: 590px;

  background: #0c861c;
  z-index: 10;
}
.img2 {
  width: 106.711px;
  height: 278.616px;
  transform: rotate(30deg);
  background: #b11d1d;
  top: -72px;
  right: -36.72px;
}
.img3 {
  width: 230px;
  height: 230px;
  top: 212px;
  right: 0px;
  background: #b11d1d;
  z-index: 20;
}
.img4 {
  width: 93.309px;
  height: 94.999px;
  background: #b11d1d;
  bottom: 78px;
  left: 56px;
} */
/**  Elave */
/*!  Hero Section End */
