/*? Header Start */
/*   font-family: 'SF Pro Display', sans-serif; */
/*   font-family: "Poppins", sans-serif;      */

.header {
  width: 100%;
  background-color: var(--Neutrals-8);
  margin: 48px auto;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 84px;
}

.navbar .navbarLeft {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 48px;
}

.navbar .navbarLeft .logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 8px;
}

.navbar .navbarLeft .headerDivider {
  width: 1px;
  height: 48px;
  background-color: var(--Neutrals-6);
}

.navbar .navbarLeft ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 32px;
}

.navbar .navbarLeft ul li:nth-child(4) a {
  display: flex;
  align-items: center;
}
.navbar .navbarLeft ul li:nth-child(4) a p {
  padding: 4px 8px;
}

.navbar .navbarRight {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 64px;
}

.navbar .navbarRight .sosialIcons ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 24px;
}
.navbar .navbarRight .sosialIcons ul li > a {
  display: flex;
  align-items: center;
}

.navbar .navbarRight .freebtn {
  display: flex;
  padding: 12px 16px;
  justify-content: center;
  align-items: center;
  border-radius: 90px;
  border: 2px solid var(--Neutrals-6);
}
.navbar .navbarRight .freebtn button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar .navbarRight .freebtn a {
  display: block;
  background-color: #fff;
}

.bars {
  display: none !important;
}

/*! Header End */
