/*? Header Start */
/*   font-family: 'SF Pro Display', sans-serif; */
/*   font-family: "Poppins", sans-serif;      */

.header {
  width: 100%;
  margin: 0px auto;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 84px;
  position: fixed;
  padding: 48px 0;
  top: 0px;
  width: 1120px;
  z-index: 200;
}

.navbar .navbarLeft {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 48px;
}

.navbar .navbarLeft .logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 8px;
}

.navbar .navbarLeft .headerDivider {
  width: 1px;
  height: 48px;
}

.navbar .navbarLeft ul.navMenu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 32px;
}
.navbar .navbarLeft ul.navMenu .classDropdown {
  position: relative;
}

.navbar .navbarLeft ul.navMenu .classDropdown a.btnMenu {
  display: flex;
  align-items: center;
}
.navbar .navbarLeft ul.navMenu .classDropdown a.btnMenu p {
  padding: 4px 8px;
}
/** Dropdown Menu */
.navbar .navbarLeft #dropdownMenu {
  position: absolute;
  left: 0px;
  width: 250%;
  display: none;
}
.navbar .navbarLeft #dropdownMenu li a {
  display: flex;
  justify-content: flex-start;
  column-gap: 10px;
  align-items: center;
  padding: 10px 0;
  color: var(--Neutrals-4, #777e90);
}

.navbar .navbarLeft #dropdownMenu li a img {
  padding: 4px;
  border-radius: 50%;
}

.navbar .navbarLeft #dropdownMenu .blueIcon img {
  background-color: var(--Secondary-1, #3772ff);
}

.navbar .navbarLeft #dropdownMenu .orangeIcon img {
  background-color: var(--Primary-1, #ff592c);
}

.navbar .navbarLeft .classDropdown:hover #dropdownMenu {
  display: block;
}

.navbar .navbarLeft #dropdownMenu li:hover {
  background-color: var(--Neutrals-6);
}
/** DropdownMenu */

.navbar .navbarRight {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 64px;
}

.navbar .navbarRight .sosialIcons > ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 24px;
}
.navbar .navbarRight .sosialIcons > ul li > a {
  display: flex;
  align-items: center;
}

.navbar .navbarRight .freebtn {
  display: flex;
  padding: 12px 16px;
  justify-content: center;
  align-items: center;
  border-radius: 90px;
  border: 2px solid var(--Neutrals-6);
}
.navbar .navbarRight .freebtn button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar .navbarRight .freebtn a {
  display: block;
}

.bars {
  display: none;
}

/*! Header End */
