/* ? siteDetails Start   */
.siteDetails .cardList {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  column-gap: 32px;
  padding: 136px 0;
}
.siteDetails .cardList .card {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  flex-basis: 25%;
}
.siteDetails .cardList .card .topContent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 64px;
}
.siteDetails .cardList .card .topContent h3 {
  color: var(--Neutrals-2, #23262f);

  /* Headline 1 */
  font-family: "SF Pro Display", sans-serif;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: 64px; /* 100% */
  letter-spacing: -1.28px;
}
.siteDetails .cardList .card span.divider {
  background-color: var(--Neutrals-6, #e6e8ec);
}
.siteDetails .cardList .card .bottomContent {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}
.siteDetails .cardList .card .bottomContent .Statement {
  color: var(--Neutrals-2, #23262f);

  /* Body 2 (Bold) */
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 150% */
}
.siteDetails .cardList .card .bottomContent .info {
  color: var(--Neutrals-4, #777e90);

  /* Caption */
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
}

/* ! siteDetails End   */
