/*? Substance Start */
.substance {
  padding: 136px 0;
}
.substance .bound {
  display: flex;
  flex-direction: column;
  row-gap: 80px;
}
.substance .bound .headings {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  align-items: center;
}
.substance .bound .headings h2 {
  color: var(--Neutrals-2);
  text-align: center;
  width: 544px;
}

.substance .bound .headings p {
  color: var(--Neutrals-3);
  text-align: center;
  width: 544px;
}

.substance .boxes {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 24px;
}

.substance .boxes .box {
  padding: 28px;
  text-align: center;
  border-radius: 24px;
}

.substance .boxes .box-1 {
  background-color: var(--Secondary-1);
}
.substance .boxes .box-2 {
  background-color: var(--Primary-2);
}
.substance .boxes .box-3 {
  background-color: var(--Primary-3);
}
.substance .boxes .box-4 {
  background-color: var(--Primary-4);
}

.substance .bound .step_cards {
  display: flex;
  justify-content: space-between;
  column-gap: 32px;
}
.substance .bound .step_cards .card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  row-gap: 32px;
}
.substance .bound .step_cards .card .bottomContent {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}
.substance .bound .step_cards .card h3 {
  color: var(--Neutrals-4);

  /* Caption 2 (Bold) */
  /* font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;  */
}

.substance .bound .step_cards .card h4 {
  color: var(--Neutrals-2);
  text-align: center;

  /* Body 2 (Bold) */
  /* font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;  */
}
.substance .bound .step_cards .card p {
  color: var(--Neutrals-3);
  text-align: center;

  /* Caption */
  /* font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;  */
}
/*! Substance End */
