/*? Supports Start */
.supports .supportSection {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
}
.supports .supportSection p {
  color: var(--Neutrals-2);
  text-align: center;
}

.supports .supportSection .teamLogo ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 100px 0;
}
.supports .supportSection .teamLogo ul li {
  display: flex;
  justify-content: center;
  align-items: center;
}

.supports .supportSection .teamLogo ul li a {
  display: block;
  height: 100%;
}

/*! Supports End */
