/* ? Header Start */
.some-show-arrow {
  display: block;
}
.header {
  position: sticky;
  top: 0px;
  padding: 48px 0px;
  z-index: 1000;
  width: 100%;
  background-color: var(--Neutrals-8);
}

.headerCenter {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.headerCenter .headerLinksWrap .navbarLogo {
  padding-right: 48px;
  border-right: 1px solid var(--Neutrals-6);
}
.headerCenter .headerLinksWrap {
  display: flex;
  align-items: center;
  column-gap: 48px;
}

.headerCenter .headerLinksWrap nav .headerNav {
  display: flex;
  align-items: center;
  column-gap: 32px;
}
.headerCenter .headerGroups {
  display: flex;
  align-items: center;
  column-gap: 64px;
}

.headerCenter .headerGroups ul {
  display: flex;
  align-items: center;
  column-gap: 24px;
}

.headerCenter .headerGroups ul li i {
  font-size: 20px;
  color: var(--Neutrals-4);
}
.headerLinksWrap .headerNav .headerLink {
  display: block;
  padding: 4px 8px;
  color: var(--Neutrals-4, #777e90);
  font-family: "SF Pro Display", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  transition: all 0.3s ease-in;
}

.headerLinksWrap .headerNav .drop {
  display: flex;
  align-items: center;
  column-gap: 4px;
}
.headerLinksWrap .headerNav .drop i {
  color: var(--Neutrals-4);
}
.headerLinksWrap .headerNav .drop i.rotate_180 {
  transform: rotate(180deg);
}
.headerLinksWrap .headerNav .drop a:hover,
.headerGroups ul li a:hover i {
  color: var(--Neutrals-2);
}

.headerCenter .headerTrialBtn {
  padding: 12px 16px;
  border-radius: 90px;
  border: 2px solid var(--Neutrals-6);
  color: var(--Neutrals-2, #23262f);
  text-align: center;
  font-family: "SF Pro Display", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
}

.buttonGroups button i {
  width: 21px;
  font-size: 21px;
  display: block;
}
.buttonGroups button.hidden {
  display: none;
}
/*  */

.headerBody {
  display: none;
  position: absolute;
  top: 100%;
  left: 0px;
  z-index: 1;
  width: 100%;
  transition: all 0.4s ease-in;
}
li.drop:hover .headerBody {
  display: block;
}

/** <!-- Table Mode --> */

.tabletMenu {
  display: none;
  background-color: var(--Neutrals-8);
  position: absolute;
  left: 0px;
  top: 99%;
  width: 100%;
}

.tabletMenu .wrap {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 20px;
}
.tabletMenu .menuLinks li {
  width: 180px;
}
.tabletMenu .menuLinks li:not(:last-child) {
  margin-bottom: 48px;
}
.tabletMenu .menuLinks a:not(.dropdownLink a) {
  display: block;
}
.tabletMenu .menuLinks li.dropdownLink {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.tabletMenu .menuLinks li.dropdownLink i {
  transition: all 0.4s ease-in-out;
  color: var(--Neutrals-4);
  font-size: 24px;
}
.tabletMenu .menuLinks li.dropdownLink i.rotate_180 {
  transform: rotate(180deg);
}
.tabletMenu .menuLinks a,
.bottomMenuLink a {
  color: var(--Neutrals-4, #777e90);
  font-family: "SF Pro Display", sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: -0.4px;
}
.tabletMenu .wrap .contactInfo li:not(:last-child) {
  margin-bottom: 32px;
}
.tabletMenu .wrap .contactInfo li .infoTitle {
  color: var(--Neutrals-2, #23262f);
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: -0.24px;
}
.tabletMenu .wrap .contactInfo li .infoText {
  margin-top: 8px;
  color: var(--Neutrals-4, #777e90);
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.tabletMenu .wrap .contactInfo .socials {
  display: flex;
  align-items: center;
  column-gap: 48px;
}
.tabletMenu .wrap .contactInfo .socials img {
  display: block;
}

.tabletMenu .dropdownBody {
  display: none;
  margin: 48px 0px 0px 0px;
  border-radius: 24px;
  border: 1px solid var(--Neutrals-6, #e6e8ec);
  background-color: var(--Neutrals-8, #fcfcfd);
  box-shadow: 0px 64px 64px -48px rgba(15, 15, 15, 0.1);
}
.tabletMenu .dropdownBody.active {
  display: block;
}
.tabletMenu .dropdownBody .headRow {
  display: flex;
}
.tabletMenu .dropdownBody .headRow .headCol {
  padding: 32px;
}
.tabletMenu .dropdownBody .headRow .headLeftCol {
  border-right: 1px solid var(--Neutrals-6, #e6e8ec);
  border-bottom: 1px solid var(--Neutrals-6, #e6e8ec);
  width: 45%;
}
.tabletMenu .dropdownBody .headLeftCol a.headerDirection {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}
.tabletMenu .dropdownBody .headLeftCol .headerDirection .headerInfo {
  color: var(--Neutrals-2, #23262f);
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
  max-width: 176px;
}
.tabletMenu .headLeftCol .headerBox {
  display: flex;
  align-items: center;
  column-gap: 13px;
  padding: 16px;
  color: var(--Neutrals-2, #23262f);
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}
.tabletMenu .headLeftCol .headerBox:nth-child(1) {
  margin-bottom: 8px;
}
.tabletMenu .headLeftCol .headerBox .headerIcon {
  padding: 4px;
  border-radius: 50%;
}
.tabletMenu .headLeftCol .headerBox .headerIcon img {
  display: block;
}
.tabletMenu .headLeftCol .headerBox:nth-child(1) .headerIcon {
  background-color: var(--Secondary-1);
}
.tabletMenu .headLeftCol .headerBox:nth-child(2) .headerIcon {
  background-color: var(--Primary-1);
}

.tabletMenu .dropdownBody .headRow .headRightCol {
  width: 55%;
}
.tabletMenu .headRightCol .headerItem {
  display: flex;
  column-gap: 24px;
  height: 120px;
}
.tabletMenu .headRightCol .headerItem:not(:last-child) {
  margin-bottom: 32px;
}
.tabletMenu .headRightCol .headerPhoto {
  width: 140px;
  height: 120px;
  overflow: hidden;
  border: 2px solid transparent;
  border-radius: 8px;
  transition: all 0.4s ease;
}
.tabletMenu .headRightCol .headerPhoto:hover {
  border-color: var(--Primary-1);
}
.tabletMenu .headRightCol .headerPhoto:hover > img {
  transform: scale(1.3);
}
.tabletMenu .headRightCol .headerPhoto img {
  width: 100%;
  display: block;
  object-fit: cover;
  border-radius: 8px;
  transition: all 0.4s ease;
}
.tabletMenu .headRightCol .headerItem .headerDescription {
  align-self: center;
}
.tabletMenu .headRightCol .headerItem .headerStatus {
  padding: 8px;
  display: inline-block;
  color: var(--Neutrals-8, #fcfcfd);
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 12px;
  text-transform: uppercase;
  border-radius: 4px;
}
.tabletMenu .headRightCol .headerItem .headerStatus.yoga {
  background-color: var(--Primary-4);
}
.tabletMenu .headRightCol .headerItem .headerStatus.mindfullness {
  background-color: var(--Primary-2);
}
.tabletMenu .headRightCol .headerItem .headerStatus.fitness {
  background-color: var(--Primary-1);
}
.tabletMenu .headRightCol .headerItem .headerUser {
  display: flex;
  column-gap: 16px;
  margin-top: 12px;
}
.tabletMenu .headRightCol .headerItem .headerAvatar {
  width: 40px;
  height: 40px;
}
.tabletMenu .headRightCol .headerItem .headerAvatar img {
  width: 100%;
  display: block;
  object-fit: cover;
  border-radius: 50%;
}
.tabletMenu .headRightCol .headerItem .headerTitle {
  color: var(--Neutrals-2, #23262f);
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  margin-bottom: 2px;
}
.tabletMenu .headRightCol .headerItem .headerTrainer {
  color: var(--Neutrals-4, #777e90);
  font-family: "Poppins", sans-serif;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.tabletHeaderFoot .headerAvatar img {
  width: 100%;
  object-fit: cover;
  display: block;
  border-radius: 50%;
}
.tabletHeaderFoot .headerAvatar {
  width: 56px;
  height: 56px;
  border-radius: 50%;
}
.tabletHeaderFoot {
  padding: 32px;
}
.tabletHeaderFoot .footStage {
  color: var(--Neutrals-2, #23262f);
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
  margin-bottom: 32px;
}
.tabletHeaderFoot .footList {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.tabletHeaderFoot .headerUser {
  display: flex;
  column-gap: 16px;
}

.tabletHeaderFoot .headerUser .footTitle {
  color: var(--Neutrals-2, #23262f);
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  margin-bottom: 4px;
}

.tabletHeaderFoot .headerUser .footTrainer {
  color: var(--Neutrals-4, #777e90);
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.tabletMenu .lastElement {
  margin-top: 48px;
}
/** <!-- Table End --> */
/* ! Header End */

/* ? portfolio Start */
:root {
  --column-gap: 32px;
}
.portfolio {
  padding: 40px 0px 136px 0px;
  background-color: var(--Neutrals-8, #fcfcfd);
}

.portfolio .portfolioTop {
  margin: 0 auto 27px auto;
  max-width: 672px;
  text-align: center;
}
.portfolioStatus {
  display: inline-block;
  padding: 8px 8px 6px 8px;
  border-radius: 4px;
  background-color: var(--Primary-4, #45b26b);
  color: var(--Neutrals-8, #fcfcfd);
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 12px;
  text-transform: uppercase;
}

.portfolio .portfolioTop .portfolioTitle {
  margin-top: 16px;
  color: var(--Neutrals-2, #23262f);
  text-align: center;
  font-family: "SF Pro Display" sans-serif;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: 64px;
  letter-spacing: -1.28px;
  margin-bottom: 8px;
}
.portfolio .portfolioTop .portfolioInfo {
  color: var(--Neutrals-4, #777e90);
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: -0.24px;
}
.portfolio .portfolioGallery {
  padding: 0px 104px 0px 216px;
  /* padding: 0px 9.287% 0px 19.2858%; */
}
.portfolio .portfolioGallery img {
  width: 100%;
  object-fit: cover;
}
/* 
.portfolio .portfolioRow {
  margin-top: 136px;
  display: flex;
  align-items: flex-start;
}

.portfolio .portfolioRow .portfolioTrainer {
  flex: 0 0 256px;
  text-align: center;
  padding: 24px 0px;
  border-radius: 24px;
  border: 1px solid var(--Neutrals-6, #e6e8ec);
  background-color: var(--Neutrals-8, #fcfcfd);
}
.portfolioRow .portfolioTrainer .portfolioAvatar {
  margin: 32px 0px;
}
.portfolioRow .portfolioTrainer .portfolioAvatar img {
  display: block;
  margin: 0 auto;
  height: 128px;
  width: 128px;
  border-radius: 50%;
  background-color: var(--Neutrals-6, #e6e8ec);
}
.portfolioRow .portfolioTrainer .portfolioMan {
  color: var(--Neutrals-2, #23262f);
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}

.portfolioRow .portfolioTrainer .portfolioPosition {
  margin-top: 4px;
  color: var(--Neutrals-4, #777e90);
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.portfolioRow .portfolioWrap {
  padding: 7px 64px 0px 32px;
  flex-grow: 1;
}
.portfolioRow .portfolioWrap .portfolioList .portfolioItem {
  display: flex;
  margin-bottom: 20px;
}

.portfolioRow .portfolioWrap .portfolioItem span.portfolioParameter {
  margin-left: 12px;
  flex: 0 0 156px;
  color: var(--Neutrals-4, #777e90);
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}
.portfolioRow .portfolioWrap .portfolioItem span.portfolioContent {
  color: var(--Neutrals-2, #23262f);
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}
.portfolioRow .portfolioWrap .portfolioItem:nth-child(3) span.portfolioContent {
  color: var(--Primary-4, #45b26b);
}
.portfolioRow .portfolioWrap .portfolioNote {
  padding-top: 32px;
  margin-top: 32px;
  border-top: 1px solid var(--Neutrals-6);
  color: var(--Neutrals-3, #353945);
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.portfolioRow .portfolioDetails {
  padding-left: 64px;
  border-left: 1px solid var(--Neutrals-6);
  flex: 0 0 416px;
}

.portfolioRow .portfolioDetails .portfolioHead {
  display: flex;
  column-gap: 12px;
  align-items: center;
  margin-bottom: 40px;
}
.portfolioRow .portfolioDetails .portfolioHead p {
  color: var(--Neutrals-2, #23262f);
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
}

.portfolioRow .portfolioDetails .portfolioBody .portfolioControl {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
  border-radius: 90px;
  background: var(--Neutrals-2, #23262f);
}
.portfolioDetails .portfolioBody .portfolioControl button img {
  display: block;
}
.portfolioDetails .portfolioBody .portfolioControl button {
  transition: all 0.2s ease;
}
.portfolioDetails .portfolioBody .portfolioControl button:nth-child(1):hover {
  transform: translateX(-3px);
  cursor: pointer;
}
.portfolioDetails .portfolioBody .portfolioControl button:nth-child(3):hover {
  transform: translateX(3px);
  cursor: pointer;
}
.portfolioRow .portfolioDetails .portfolioBody .portfolioDate {
  color: var(--Neutrals-8, #fcfcfd);
  text-align: right;
  font-family: "SF Pro Display", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
}
.portfolioRow .portfolioDetails .portfolioBody .portfolioVariants {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 0px;
}

.portfolioRow .portfolioDetails .portfolioBody .portfolioVariants button {
  padding: 16px 24px;
  border-radius: 90px;
  border: 2px solid var(--Neutrals-6, #e6e8ec);
  color: var(--Neutrals-2, #23262f);
  text-align: center;
  font-family: "SF Pro Display", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
}

.portfolioRow .portfolioDetails .portfolioBody .portfolioBtns {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.portfolioRow .portfolioDetails .portfolioBody .portfolioBook {
  transition: all 0.25s ease-in-out;
  width: 290px;
  background-color: var(--Primary-1);
  color: var(--Neutrals-8, #fcfcfd);
  text-align: center;
  font-family: "SF Pro Display", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
}
.portfolioRow .portfolioDetails .portfolioBody .portfolioBook:hover {
  cursor: pointer;
  background-color: var(--Primary-1-hover);
}
.portfolioRow .portfolioDetails .portfolioBody .portfolioLock {
  padding: 12px;
  border-radius: 40px;
  border: 2px solid var(--Neutrals-6, #e6e8ec);
}
.portfolioRow .portfolioDetails .portfolioBody .portfolioLock:hover {
  background-color: var(--Neutrals-2);
  cursor: pointer;
}
.portfolioRow .portfolioDetails .portfolioBody .portfolioLock:hover i {
  color: var(--Neutrals-6);
}

.portfolioRow .portfolioDetails .portfolioBody .portfolioLock i {
  font-size: 18px;
  display: block;
}
.portfolioRow .portfolioDetails .portfolioBody .portfolioLock img {
  display: block;
} */

.portfolio .portfolioRow {
  margin-top: 136px;
  display: flex;
  align-items: flex-start;
  display: none;
}

.portfolio .portfolioRow .portfolioTrainer {
  flex: 0 0 256px;
  text-align: center;
  padding: 24px 0px;
  border-radius: 24px;
  border: 1px solid var(--Neutrals-6, #e6e8ec);
  background-color: var(--Neutrals-8, #fcfcfd);
}
.portfolioRow .portfolioTrainer .portfolioAvatar {
  margin: 32px 0px;
}
.portfolioRow .portfolioTrainer .portfolioAvatar img {
  display: block;
  margin: 0 auto;
  height: 128px;
  width: 128px;
  border-radius: 50%;
  background-color: var(--Neutrals-6, #e6e8ec);
}
.portfolioRow .portfolioTrainer .portfolioMan {
  color: var(--Neutrals-2, #23262f);
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}

.portfolioRow .portfolioTrainer .portfolioPosition {
  margin-top: 4px;
  color: var(--Neutrals-4, #777e90);
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.portfolioRow .portfolioWrap {
  padding: 7px 64px 0px 32px;
  flex-grow: 1;
}
.portfolioRow .portfolioWrap .portfolioList .portfolioItem {
  display: flex;
  margin-bottom: 20px;
}

.portfolioRow .portfolioWrap .portfolioItem span.portfolioParameter {
  margin-left: 12px;
  flex: 0 0 156px;
  color: var(--Neutrals-4, #777e90);
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}
.portfolioRow .portfolioWrap .portfolioItem span.portfolioContent {
  color: var(--Neutrals-2, #23262f);
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}
.portfolioRow .portfolioWrap .portfolioItem:nth-child(3) span.portfolioContent {
  color: var(--Primary-4, #45b26b);
}
.portfolioRow .portfolioWrap .portfolioNote {
  padding-top: 32px;
  margin-top: 32px;
  border-top: 1px solid var(--Neutrals-6);
  color: var(--Neutrals-3, #353945);
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.portfolioRow .portfolioDetails {
  padding-left: 64px;
  border-left: 1px solid var(--Neutrals-6);
  flex: 0 0 416px;
}

.portfolioRow .portfolioDetails .portfolioHead {
  display: flex;
  column-gap: 12px;
  align-items: center;
  margin-bottom: 40px;
}
.portfolioRow .portfolioDetails .portfolioHead p {
  color: var(--Neutrals-2, #23262f);
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
}

.portfolioRow .portfolioDetails .portfolioBody .portfolioControl {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
  border-radius: 90px;
  background: var(--Neutrals-2, #23262f);
}
.portfolioDetails .portfolioBody .portfolioControl button img {
  display: block;
}
.portfolioDetails .portfolioBody .portfolioControl button {
  transition: all 0.2s ease;
}
.portfolioDetails .portfolioBody .portfolioControl button:nth-child(1):hover {
  transform: translateX(-3px);
  cursor: pointer;
}
.portfolioDetails .portfolioBody .portfolioControl button:nth-child(3):hover {
  transform: translateX(3px);
  cursor: pointer;
}
.portfolioRow .portfolioDetails .portfolioBody .portfolioDate {
  color: var(--Neutrals-8, #fcfcfd);
  text-align: right;
  font-family: "SF Pro Display", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
}
.portfolioRow .portfolioDetails .portfolioBody .portfolioVariants {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 0px;
}

.portfolioRow .portfolioDetails .portfolioBody .portfolioVariants button {
  padding: 16px 24px;
  border-radius: 90px;
  border: 2px solid var(--Neutrals-6, #e6e8ec);
  color: var(--Neutrals-2, #23262f);
  text-align: center;
  font-family: "SF Pro Display", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
}

.portfolioRow .portfolioDetails .portfolioBody .portfolioBtns {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.portfolioRow .portfolioDetails .portfolioBody .portfolioBook {
  transition: all 0.25s ease-in-out;
  width: 290px;
  background-color: var(--Primary-1);
  color: var(--Neutrals-8, #fcfcfd);
  text-align: center;
  font-family: "SF Pro Display", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
}
.portfolioRow .portfolioDetails .portfolioBody .portfolioBook:hover {
  cursor: pointer;
  background-color: var(--Primary-1-hover);
}
.portfolioRow .portfolioDetails .portfolioBody .portfolioLock {
  padding: 12px;
  border-radius: 40px;
  border: 2px solid var(--Neutrals-6, #e6e8ec);
}
.portfolioRow .portfolioDetails .portfolioBody .portfolioLock:hover {
  background-color: var(--Neutrals-2);
  cursor: pointer;
}
.portfolioRow .portfolioDetails .portfolioBody .portfolioLock:hover i {
  color: var(--Neutrals-6);
}

.portfolioRow .portfolioDetails .portfolioBody .portfolioLock i {
  font-size: 18px;
  display: block;
}
.portfolioRow .portfolioDetails .portfolioBody .portfolioLock img {
  display: block;
}
/* ! portfolio End */
/* ? programs Start */
.programs {
  padding-bottom: 136px;
}
.programs .programsTop {
  margin: 0px auto 0px auto;
  max-width: 621px;
  text-align: center;
}
.programs .programsTop h2.programsTitle {
  color: var(--Neutrals-2, #23262f);
  font-family: "SF Pro Display";
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: -0.32px;
}
.programs .programsTop p.programsInfo {
  margin: 16px auto 0px auto;
  color: var(--Neutrals-4, #777e90);
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.programs .programsTop .programsInfo .programsGreen {
  color: var(--Primary-4, #45b26b);
}
.programs .programsTop .programsInfo .programsBlack {
  color: var(--Neutrals-2, #23262f);
}

/* 
* {
  border: 1px solid red;
} */

.programs .programs-content {
  overflow: hidden;
}
.programs .programsWrap {
  padding: 80px 0px;
}
.programs .programs_swiper {
  overflow: hidden;
}

.programs .programsList .programsItem {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 32px;
  padding: 64px 32px;
  border-radius: 20px;
  background-color: var(--Neutrals-7, #f4f5f6);
  transition: all 0.3s ease;
}
.programs .programsItem .programsIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  border-radius: 40px;
}

.programs .programsItem .programsIcon.personIcon {
  background-color: var(--Primary-4);
}
.programs .programsItem .programsIcon.medalIcon {
  background-color: var(--Primary-2);
}
.programs .programsItem .programsIcon.lightningIcon {
  background-color: var(--Secondary-1);
}

.programs .programsItem .programsSubtitle {
  margin-bottom: 16px;
  color: var(--Neutrals-2, #23262f);
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
}
.programs .programsItem .programsContent {
  max-width: 293px;
  color: var(--Neutrals-4, #777e90);
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.programs .programsItem .programLink {
  padding: 16px 24px;
  border-radius: 90px;
  transition: all 0.5s ease;
  border: 2px solid var(--Neutrals-6, #e6e8ec);
}
.programs .programsItem .program_btn {
  color: var(--Neutrals-2, #23262f);
  text-align: center;
  font-family: "SF Pro Display", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  transition: all 0.5s ease;
}

.programs .programsItem:hover {
  box-shadow: 0px 64px 64px -48px rgba(15, 15, 15, 0.1);
  background-color: var(--Neutrals-8, #fcfcfd);
}
.programs .programsItem:hover .programLink {
  background-color: var(--Primary-1);
  cursor: pointer;
}
.programs .programsItem:hover .program_btn {
  color: var(--Neutrals-8);
}
.programs .programsBtns {
  display: flex;
  column-gap: 20px;
  align-items: center;
  justify-content: center;
}

/* * Normal */
/* 
.programs {
  padding-bottom: 136px;
}
.programs .programsTop {
  margin: 0px auto 0px auto;
  width: 621px;
  text-align: center;
}
.programs .programsTop h2.programsTitle {
  color: var(--Neutrals-2, #23262f);
  font-family: "SF Pro Display";
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: -0.32px;
}
.programs .programsTop p.programsInfo {
  margin: 16px auto 0px auto;
  color: var(--Neutrals-4, #777e90);
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.programs .programsTop .programsInfo .programsGreen {
  color: var(--Primary-4, #45b26b);
}
.programs .programsTop .programsInfo .programsBlack {
  color: var(--Neutrals-2, #23262f);
}
.programs .programsWrap {
  padding: 80px 0px;
}
.programs .programsList {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 24px;
}

.programs .programsList .programsItem {
  padding: 64px 32px;
  border-radius: 20px;
  background-color: var(--Neutrals-7, #f4f5f6);
  transition: all 0.4s ease;
}
.programs .programsItem .programsIcon {
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  border-radius: 40px;
}

.programs .programsItem:nth-child(1) .programsIcon {
  background-color: var(--Primary-4);
}
.programs .programsItem:nth-child(2) .programsIcon {
  background-color: var(--Primary-2);
}
.programs .programsItem:nth-child(3) .programsIcon {
  background-color: var(--Secondary-1);
}
.programs .programsItem .programsSubtitle {
  margin: 32px 0px 16px 0px;
  color: var(--Neutrals-2, #23262f);
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
}
.programs .programsItem .programsContent {
  margin: 0px 0px 32px 0px;
  color: var(--Neutrals-4, #777e90);
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.programs .programsItem a {
  display: inline-block;
  color: var(--Neutrals-2, #23262f);
  text-align: center;
  font-family: "SF Pro Display", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  transition: all 0.4s ease;
  border-radius: 90px;
  border: 2px solid var(--Neutrals-6, #e6e8ec);
}
.programs .programsItem a:hover {
  background-color: var(--Primary-1);
  color: var(--Neutrals-8, #fcfcfd);
}
.programs .programsItem:has(a:hover) {
  background-color: var(--Neutrals-8, #fcfcfd);
  box-shadow: 0px 64px 64px -48px rgba(15, 15, 15, 0.1);
}
.programs .programsBtns {
  display: flex;
  column-gap: 20px;
  align-items: center;
  justify-content: center;
}
.programs .programsBtns button img {
  display: block;
} */
/* ! programs End */

/* ? Footer Start */
footer {
}
footer .wrapper {
  border-top: 1px solid var(--Neutrals-6);
  border-bottom: 1px solid var(--Neutrals-6);
}
.footerNav {
  display: none;
}
.footerNav span {
  color: var(--Neutrals-2, #23262f);
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 12px;
  text-transform: uppercase;
}

footer .iconPreview .iconInfo {
  display: none;
}
footer .frame .top-menu {
  display: flex;
  /* align-items: stretch; */
  justify-content: space-between;
}

footer .frame .top-menu .left-menu {
  display: flex;
  column-gap: 32px;
  justify-content: space-between;
  padding-top: 80px;
}

footer .frame .top-menu .left-menu i.fa-basketball {
  font-size: 32px;
  margin: 0px 128px 136px 0px;
}
footer .frame .top-menu .left-menu ul {
  width: 160px;
}
footer .frame .top-menu .left-menu ul li:not(:last-child) {
  margin-bottom: 24px;
}
footer .frame .top-menu .left-menu ul li a {
  color: var(--Neutrals-4, #777e90);
  font-family: "SF Pro Display", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
}

footer .middle-menu {
  min-width: 192px;
  padding-top: 80px;
  /* padding: 80px 86px 0px 86px; */
  /* border-left: 1px solid var(--Neutrals-6); */
  /* border-right: 1px solid var(--Neutrals-6); */
}
footer .middle-menu p {
  margin-bottom: 41px;
  color: var(--Neutrals-2, #23262f);
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 12px;
  text-transform: uppercase;
}
footer .middle-menu ul li {
  color: var(--Neutrals-2, #23262f);
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
footer .middle-menu ul.main-ul li:not(:last-child) {
  margin-bottom: 8px;
}
footer .middle-menu ul.main-ul li.phoneInfo {
  padding-top: 3px;
}
footer .right-menu {
  padding: 80px 0px 64px 0px;
  max-width: 256px;
}
footer .right-menu p {
  margin-bottom: 40px;
  color: var(--Neutrals-2, #23262f);
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 12px;
  text-transform: uppercase;
}

footer .right-menu .footerInfo {
  margin-bottom: 24px;
  color: var(--Neutrals-2, #23262f);
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
footer .right-menu form {
  display: flex;
  align-items: center;
  column-gap: 18px;
  padding: 8px 16px;
  border-radius: 90px;
  border: 2px solid var(--Neutrals-6, #e6e8ec);
}
footer .right-menu form input {
  border: none;
  appearance: none;
  width: 100%;
  color: var(--Neutrals-4, #777e90);
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
footer .right-menu form button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px;
  border-radius: 50%;
  background-color: var(--Primary-1);
}
footer .right-menu form button i {
  font-size: 18px;
  color: var(--Neutrals-8);
}
footer .bottom-bar {
  display: flex;
  justify-content: space-between;
  padding: 24px 0;
}
footer .bottom-bar span {
  color: var(--Neutrals-4, #777e90);
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}
footer .bottom-bar ul {
  display: flex;
  column-gap: 24px;
}

footer .bottom-bar ul li a i {
  font-size: 24px;
  color: var(--Neutrals-4);
}

footer .divider {
  width: 1px;
  height: 384px;
  background-color: var(--Neutrals-6, #e6e8ec);
}
/* ! Footer End */

/* Nahibe */

.trainer__book {
  display: flex;
  gap: 64px;
}
.trainer__class {
  display: flex;
  width: 60%;
  gap: 32px;
}
.trainer__about {
  display: flex;
  width: 40%;
  padding: 24px 0px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
  border-radius: 24px;
  border: 1px solid var(--Neutrals-6, #e6e8ec);
  background: var(--Neutrals-8, #fcfcfd);
}
.trainer__subtitle {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Poppins";
  line-height: 24px;
  gap: 4px;
}
.trainer__subtitle h2 {
  color: var(--Neutrals-2, #23262f);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
}
.trainer__subtitle p {
  color: var(--Neutrals-4, #777e90);
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}
.trainer__image {
  width: 50%;
  border-radius: 128px;
  background: var(--Neutrals-6, #e6e8ec);
}
.trainer__image img {
  width: 100%;
}
.class__about {
  display: flex;
  width: 55%;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
}
.class__parametres {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.class__details {
  display: flex;
  align-items: center;
  gap: 32px;
  align-self: stretch;
}
.class__features {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  color: var(--Neutrals-4, #777e90);
  font-family: "Poppins";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}
.class__item {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}
.features__detail {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-family: "Poppins";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  gap: 20px;
}
.divider {
  height: 1px;
  background: var(--Neutrals-6, #e6e8ec);
}
.features__detail p {
  color: var(--Neutrals-2, #23262f);
}
.features__detail span {
  color: var(--Primary-4, #45b26b);
  font-family: "Poppins";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}
.class__icon {
  width: 20px;
}
.note {
  color: var(--Neutrals-3, #353945);
  font-family: "Poppins";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.divider__y {
  width: 1px;
  height: 256px;
  border-radius: 2px;
  background: var(--Neutrals-6, #e6e8ec);
}
.workout__time {
  width: 33%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
}
.workouttime__head {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}
.workouttime__title h1 {
  color: var(--Neutrals-2, #23262f);
  font-family: "Poppins";
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
}
.workouttime__body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}
.workouttime__control {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 48px;
  padding: 0 8px;
  border-radius: 90px;
  background: var(--Neutrals-2, #23262f);
  width: 352px;
}
.date__prev,
.date__next {
  width: 32px;
  height: 32px;
  background: none;
  border-radius: 32px;
  padding: 4px;
}
.date__options {
  display: flex;
  align-items: flex-start;
  gap: 8px;
}
.date__option {
  width: 128px;
  padding: 16px 24px;
  border-radius: 90px;
  border: 2px solid var(--Neutrals-6, #e6e8ec);
  color: var(--Neutrals-2, #23262f);
  text-align: center;
  font-family: "SF Pro Display";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
}
.date__option_df {
  width: 80px;
  padding: 16px 24px;
  border-radius: 90px;
  border: 2px solid var(--Neutrals-6, #e6e8ec);
  color: var(--Neutrals-2, #23262f);
  text-align: center;
  font-family: "SF Pro Display";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
}
input,
button {
  margin: 0;
  padding: 0;
  border: 0;
}
.workouttime__date {
  color: var(--Neutrals-8, #fcfcfd);
  text-align: right;
  font-family: "SF Pro Display";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
}
.workouttime__btns {
  display: flex;
  width: 352px;
  justify-content: space-between;
  align-items: center;
}
.lock__button {
  padding: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 40px;
  border: 2px solid var(--Neutrals-6, #e6e8ec);
}
.lock__button img {
  width: 24px;
}
.book__button {
  width: 292px;
  padding: 16px 24px;
  gap: 40px;
  border-radius: 90px;
  background: var(--Primary-1, #ff592c);
  color: var(--Neutrals-8, #fcfcfd);
  text-align: center;
  font-family: "SF Pro Display";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
}
.value__props {
  padding: 0px 0px 136px;
  background: var(--Neutrals-8, #fcfcfd);
}
.value__top {
  max-width: 620px;
  margin: 0 auto 80px;
  text-align: center;
}
.value__top h2 {
  margin-bottom: 16px;
  color: var(--Neutrals-2, #23262f);
  text-align: center;
  width: 621px;
  font-family: "SF Pro Display";
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 56px;
  letter-spacing: -0.96px;
}
.value__head p {
  margin-bottom: 40px;
  font-size: 14px;
  line-height: 1.71429;
  color: #777e90;
}
.value__info {
  margin-bottom: 40px;
  font-size: 14px;
  line-height: 1.71429;
  color: var(--Neutrals-4, #777e90);
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.value__green {
  color: var(--Primary-4, #45b26b);
}
.value__black {
  color: var(--Neutrals-2, #23262f);
}
.value__cards {
  display: flex;
  align-items: flex-start;
  gap: 24px;
}
.value__card {
  display: flex;
  padding: 64px 32px;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  border-radius: 20px;
  background: var(--Neutrals-7, #f4f5f6);
}
.value__cards :nth-of-type(3) {
  background: var(--Neutrals-8, #fcfcfd);
  box-shadow: 0px 64px 64px -48px rgba(15, 15, 15, 0.1);
}
.card__description {
  margin-bottom: 16px;
}
.card__description h2 {
  color: var(--Neutrals-2, #23262f);
  font-family: "Poppins";
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
}

.card__description p {
  color: var(--Neutrals-4, #777e90);
  font-family: "Poppins";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.card__btn {
  border-radius: 90px;
  border: 2px solid var(--Neutrals-6, #e6e8ec);
  padding: 16px 24px;
}
.value__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
  gap: 20px;
}
.card__button__next,
.card__button__prev {
  background: var(--Neutrals-8, #fcfcfd);
}
/*  */
