.portfolio {
  padding: 40px 0px 136px 0px;
}

.portfolio .portfolioTop {
  margin: 0 auto 27px auto;
  max-width: 672px;
  text-align: center;
}
.portfolio .portfolioTop .portfolioStatus {
  display: inline-block;
  padding: 8px 8px 6px 8px;
  border-radius: 4px;
  background-color: var(--Primary-4, #45b26b);
  color: var(--Neutrals-8, #fcfcfd);
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 12px;
  text-transform: uppercase;
  margin-bottom: 16px;
}

.portfolio .portfolioTop .portfolioTitle {
  color: var(--Neutrals-2, #23262f);
  text-align: center;
  font-family: "SF Pro Display" sans-serif;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: 64px;
  letter-spacing: -1.28px;
  margin-bottom: 8px;
}
.portfolio .portfolioTop .portfolioInfo {
  color: var(--Neutrals-4, #777e90);
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: -0.24px;
}
.portfolio .portfolioGallery {
  padding: 0px 104px 0px 216px;
}
.portfolio .portfolioGallery img {
  width: 100%;
  object-fit: cover;
}
