/* ? portfolio Start */
:root {
  --column-gap: 32px;
}
.portfolio {
  padding: 40px 0px 136px 0px;
  background-color: var(--Neutrals-8, #fcfcfd);
}

.portfolio .portfolioTop {
  margin: 0 auto 27px auto;
  max-width: 672px;
  text-align: center;
}
.portfolioStatus {
  display: inline-block;
  padding: 8px 8px 6px 8px;
  border-radius: 4px;
  background-color: var(--Primary-4, #45b26b);
  color: var(--Neutrals-8, #fcfcfd);
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 12px;
  text-transform: uppercase;
}

.portfolio .portfolioTop .portfolioTitle {
  margin-top: 16px;
  color: var(--Neutrals-2, #23262f);
  text-align: center;
  font-family: "SF Pro Display" sans-serif;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: 64px;
  letter-spacing: -1.28px;
  margin-bottom: 8px;
}
.portfolio .portfolioTop .portfolioInfo {
  color: var(--Neutrals-4, #777e90);
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: -0.24px;
}
.portfolio .portfolioGallery {
  padding: 0px 104px 0px 216px;
  /* padding: 0px 9.287% 0px 19.2858%; */
}
.portfolio .portfolioGallery img {
  width: 100%;
  object-fit: cover;
}

.portfolio .portfolioRow {
  margin-top: 136px;
  display: flex;
  align-items: flex-start;
}

.portfolio .portfolioRow .portfolioTrainer {
  flex: 0 0 256px;
  text-align: center;
  padding: 24px 0px;
  border-radius: 24px;
  border: 1px solid var(--Neutrals-6, #e6e8ec);
  background-color: var(--Neutrals-8, #fcfcfd);
}
.portfolioRow .portfolioTrainer .portfolioAvatar {
  margin: 32px 0px;
}
.portfolioRow .portfolioTrainer .portfolioAvatar img {
  display: block;
  margin: 0 auto;
  height: 128px;
  width: 128px;
  border-radius: 50%;
  background-color: var(--Neutrals-6, #e6e8ec);
}
.portfolioRow .portfolioTrainer .portfolioMan {
  color: var(--Neutrals-2, #23262f);
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}

.portfolioRow .portfolioTrainer .portfolioPosition {
  margin-top: 4px;
  color: var(--Neutrals-4, #777e90);
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.portfolioRow .portfolioWrap {
  padding: 7px 64px 0px 32px;
  flex-grow: 1;
}
.portfolioRow .portfolioWrap .portfolioList .portfolioItem {
  display: flex;
  margin-bottom: 20px;
}

.portfolioRow .portfolioWrap .portfolioItem span.portfolioParameter {
  margin-left: 12px;
  flex: 0 0 156px;
  color: var(--Neutrals-4, #777e90);
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}
.portfolioRow .portfolioWrap .portfolioItem span.portfolioContent {
  color: var(--Neutrals-2, #23262f);
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}
.portfolioRow .portfolioWrap .portfolioItem:nth-child(3) span.portfolioContent {
  color: var(--Primary-4, #45b26b);
}
.portfolioRow .portfolioWrap .portfolioNote {
  padding-top: 32px;
  margin-top: 32px;
  border-top: 1px solid var(--Neutrals-6);
  color: var(--Neutrals-3, #353945);
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.portfolioRow .portfolioDetails {
  padding-left: 64px;
  border-left: 1px solid var(--Neutrals-6);
  flex: 0 0 416px;
}

.portfolioRow .portfolioDetails .portfolioHead {
  display: flex;
  column-gap: 12px;
  align-items: center;
  margin-bottom: 40px;
}
.portfolioRow .portfolioDetails .portfolioHead p {
  color: var(--Neutrals-2, #23262f);
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
}

.portfolioRow .portfolioDetails .portfolioBody .portfolioControl {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
  border-radius: 90px;
  background: var(--Neutrals-2, #23262f);
}
.portfolioDetails .portfolioBody .portfolioControl button img {
  display: block;
}
.portfolioDetails .portfolioBody .portfolioControl button {
  transition: all 0.2s ease;
}
.portfolioDetails .portfolioBody .portfolioControl button:nth-child(1):hover {
  transform: translateX(-3px);
  cursor: pointer;
}
.portfolioDetails .portfolioBody .portfolioControl button:nth-child(3):hover {
  transform: translateX(3px);
  cursor: pointer;
}
.portfolioRow .portfolioDetails .portfolioBody .portfolioDate {
  color: var(--Neutrals-8, #fcfcfd);
  text-align: right;
  font-family: "SF Pro Display", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
}
.portfolioRow .portfolioDetails .portfolioBody .portfolioVariants {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 0px;
}

.portfolioRow .portfolioDetails .portfolioBody .portfolioVariants button {
  padding: 16px 24px;
  border-radius: 90px;
  border: 2px solid var(--Neutrals-6, #e6e8ec);
  color: var(--Neutrals-2, #23262f);
  text-align: center;
  font-family: "SF Pro Display", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
}

.portfolioRow .portfolioDetails .portfolioBody .portfolioBtns {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.portfolioRow .portfolioDetails .portfolioBody .portfolioBook {
  transition: all 0.25s ease-in-out;
  width: 290px;
  background-color: var(--Primary-1);
  color: var(--Neutrals-8, #fcfcfd);
  text-align: center;
  font-family: "SF Pro Display", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
}
.portfolioRow .portfolioDetails .portfolioBody .portfolioBook:hover {
  cursor: pointer;
  background-color: var(--Primary-1-hover);
}
.portfolioRow .portfolioDetails .portfolioBody .portfolioLock {
  padding: 12px;
  border-radius: 40px;
  border: 2px solid var(--Neutrals-6, #e6e8ec);
}
.portfolioRow .portfolioDetails .portfolioBody .portfolioLock:hover {
  background-color: var(--Neutrals-2);
  cursor: pointer;
}
.portfolioRow .portfolioDetails .portfolioBody .portfolioLock:hover i {
  color: var(--Neutrals-6);
}

.portfolioRow .portfolioDetails .portfolioBody .portfolioLock i {
  font-size: 18px;
  display: block;
}
/* ! portfolio End */
/* ? programs Start */
.programs {
  padding-bottom: 136px;
}
.programs .programsTop {
  margin: 0px auto 0px auto;
  width: 621px;
  text-align: center;
}
.programs .programsTop h2.programsTitle {
  color: var(--Neutrals-2, #23262f);
  font-family: "SF Pro Display";
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: -0.32px;
}
.programs .programsTop p.programsInfo {
  margin: 16px auto 0px auto;
  color: var(--Neutrals-4, #777e90);
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.programs .programsTop .programsInfo .programsGreen {
  color: var(--Primary-4, #45b26b);
}
.programs .programsTop .programsInfo .programsBlack {
  color: var(--Neutrals-2, #23262f);
}
.programs .programsWrap {
  padding: 80px 0px;
}
.programs .programsList {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 24px;
}

.programs .programsList .programsItem {
  padding: 64px 32px;
  border-radius: 20px;
  background-color: var(--Neutrals-7, #f4f5f6);
  transition: all 0.4s ease;
}
.programs .programsItem .programsIcon {
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  border-radius: 40px;
}

.programs .programsItem:nth-child(1) .programsIcon {
  background-color: var(--Primary-4);
}
.programs .programsItem:nth-child(2) .programsIcon {
  background-color: var(--Primary-2);
}
.programs .programsItem:nth-child(3) .programsIcon {
  background-color: var(--Secondary-1);
}
.programs .programsItem .programsSubtitle {
  margin: 32px 0px 16px 0px;
  color: var(--Neutrals-2, #23262f);
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
}
.programs .programsItem .programsContent {
  margin: 0px 0px 32px 0px;
  color: var(--Neutrals-4, #777e90);
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.programs .programsItem a {
  display: inline-block;
  color: var(--Neutrals-2, #23262f);
  text-align: center;
  font-family: "SF Pro Display", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  transition: all 0.4s ease;
  border-radius: 90px;
  border: 2px solid var(--Neutrals-6, #e6e8ec);
}
.programs .programsItem a:hover {
  background-color: var(--Primary-1);
  color: var(--Neutrals-8, #fcfcfd);
}
.programs .programsItem:has(a:hover) {
  background-color: var(--Neutrals-8, #fcfcfd);
  box-shadow: 0px 64px 64px -48px rgba(15, 15, 15, 0.1);
}
.programs .programsBtns {
  /* margin: 48px 0px 0px 0px; */
  display: flex;
  column-gap: 20px;
  align-items: center;
  justify-content: center;
}
.programs .programsBtns button img {
  display: block;
}
/* ! programs End */
