.header {
  position: relative;
  z-index: 10;
  padding: 48px 0px;
  height: 144px;
}

.headerCenter {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.headerCenter a.headerLogo {
  margin-right: 48px;
}
.headerCenter .headerLinksWrap {
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding-left: 48px;
  border-left: 1px solid var(--Neutrals-6);
}

.headerCenter .headerLinksWrap .headerNav {
  display: flex;
  align-items: center;
  margin-right: 84px;
}
.headerLinksWrap .headerNav .headerLink {
  display: block;
  padding: 4px 8px;
  color: var(--Neutrals-4, #777e90);
  font-family: "SF Pro Display", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  transition: color 0.2s;
}
.headerLinksWrap .headerLink:not(:last-child),
.headerDropdown
/* ,.headerLinksWrap .headerDropdown:not(:last-child)  */ {
  margin-right: 32px;
}
.headerLinksWrap .headerNav .headerDropdown .headerHead {
  display: inline-flex;
  align-items: center;
  color: var(--Neutrals-4, #777e90);
  font-family: "SF Pro Display", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
}
.headerCenter .headerLinksWrap .headerSocials {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  column-gap: 24px;
}
.headerCenter .headerLinksWrap .headerSocials > a img {
  display: block;
}

.header .headerCenter .headerTrialBtn {
  padding: 12px 16px;
  border-radius: 90px;
  border: 2px solid var(--Neutrals-6);

  color: var(--Neutrals-2, #23262f);
  text-align: center;
  font-family: "SF Pro Display", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  margin-left: 64px;
}

.some-hidden-icon {
  display: none;
}
